<template>
  <v-layout align-start justify-center row fill-height wrap>
    <v-flex xs12 md12 lg12 style="text-align: center;">
      <h1>{{ title }}</h1>
      <v-date-picker
        v-model="date"
        class="mt-3"
        style="margin: 10px;"
      ></v-date-picker>
      <v-date-picker
        v-model="dateend"
        class="mt-3"
        style="margin: 10px;"
      ></v-date-picker>
      <v-btn @click="getCantInsumosEmergenciaPorFecha">Buscar</v-btn>
    </v-flex>
    <v-flex xs12 md12 lg12>
      <h1>{{ title }}</h1>
      <v-data-table
        :search="search"
        :headers="headers"
        :items="reporte4"
        :loading="isLoadingData"
        class="elevation-1"
        no-results-text="No se encontraron registros"
      >
        <template v-slot:items="props">
          <td>{{ formatDate(props.item.created_at) }}</td>
          <td>{{ props.item.ciudad }}</td>
          <td>{{ props.item.sector }}</td>
          <td>{{ props.item.lugar_del_evento }}</td>
          <td>{{ props.item.telefono_infomante }}</td>
          <td>{{ props.item.variedad }}</td>
          <td>{{ props.item.cantidad_productos }}</td>
          <!-- <td>{{ props.item.empleados }}</td> -->
        </template>
        <template v-slot:footer>
          <!-- <td :colspan="1">
            <strong>Total:</strong>
          </td>-->
          <!-- <td :colspan="1">
            <strong>{{ totalAccidentados.totalGeneral }}</strong>
          </td>-->
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<script>
import moment from 'moment'
import CRUDService from '~/services/CRUDService'
export default {
  middleware: 'authenticated',

  data() {
    return {
      search: '',
      color: 'green',
      error: '',
      ok: false,
      crud: null,
      empleados: [],
      tandas: [],
      reporte4: [],
      isLoadingData: true,
      //   totalAccidentados: { totalGeneral: 0 },
      title: 'Insumos por emergencia',
      fechaInicio: moment(),

      headers: [
        { text: 'Fecha' },
        { text: 'Ciudad' },
        { text: 'Sector' },
        { text: 'Lugar del evento' },
        { text: 'Telefono Infomante' },
        { text: 'Variedad de productos' },
        { text: 'Cantidad Productos' }
      ],
      turnos: [],
      date: '2018-06-15',
      dateend: '2020-06-15'
    }
  },
  created() {
    this.crud = new CRUDService()
    this.getCantInsumosEmergenciaPorFecha()
  },
  methods: {
    formatDate(arg) {
      return moment(arg).format('DD-MM-YYYY')
    },
    showSnackBar(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.color = color
    },
    //
    // 809-544-5555
    // 100,000>= 5 anos 18, porciento
    getCantInsumosEmergenciaPorFecha() {
      this.crud
        .httpRailsHelper(`report_4/${this.date}/${this.dateend}`, 'get')
        .subscribe(
          res => {
            // this.totalAccidentados = { totalGeneral: 0 }
            console.log('report_4', res.data)
            if (res.data) {
              this.reporte4 = res.data
              // this.reporte4 = res.data
              // this.reporte4.forEach(element => {
              //   this.totalAccidentados.totalGeneral += element.empleados
              //     if (
              //       this.totalAccidentados[`total${element.sexo}`] !== undefined
              //     ) {
              //       this.totalAccidentados[`total${element.sexo}`] += 1
              //     }
              // })
            }
            this.isLoadingData = false
          },
          err => {
            console.log(err.response)
            this.isLoadingData = false
          }
        )
    }
  }
}
</script>

<style></style>
