<template>
  <v-layout align-start justify-start row fill-height wrap>
    <v-flex xs12 md12 lg12>
      <v-toolbar color="#843c12" dark>
        <v-toolbar-title>{{ title }}</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
    </v-flex>
    <v-flex xs6 md6 lg6>
      <v-flex xs12 md12 lg12>
        <v-data-table
          :search="search"
          :headers="headers"
          :items="reporte1"
          :loading="isLoadingData"
          class="elevation-1"
          no-results-text="No se encontraron registros"
        >
          <template v-slot:items="props">
            <td>{{ props.item.nombre }}</td>
            <td>{{ props.item.M }}</td>
            <td>{{ props.item.F }}</td>
            <td>% {{ props.item.promedio_m.toFixed(2) }}</td>
            <td>% {{ props.item.promedio_f.toFixed(2) }}</td>
            <td>{{ props.item.F + props.item.M }}</td>
            <td>
              %{{
                100 *
                  (
                    (props.item.F + props.item.M) /
                    (totalAccidentados.totalM + totalAccidentados.totalF)
                  ).toFixed(2)
              }}
            </td>
          </template>
          <template v-slot:footer>
            <template>
              <td :colspan="1">
                <strong>Cantidad Total:</strong>
              </td>
              <td :colspan="1">
                <strong>{{ totalAccidentados.totalM }}</strong>
              </td>
              <td :colspan="1">
                <strong>{{ totalAccidentados.totalF }}</strong>
              </td>
              <td :colspan="1">
                {{
                  '%' +
                    (
                      100 *
                      (totalAccidentados.totalM /
                        (totalAccidentados.totalM + totalAccidentados.totalF))
                    ).toFixed(2)
                }}
              </td>
              <td :colspan="1">
                {{
                  '%' +
                    (
                      100 *
                      (totalAccidentados.totalF /
                        (totalAccidentados.totalM + totalAccidentados.totalF))
                    ).toFixed(2)
                }}
              </td>
              <td :colspan="1">
                {{ totalAccidentados.totalM + totalAccidentados.totalF }}
              </td>
              <td :colspan="1">% {{ '100' }}</td>
            </template>
          </template>
        </v-data-table>
      </v-flex>
    </v-flex>
    <v-flex xs6 md6 lg6>
      <div id="chart" style="background:white">
        <v-flex xs12 md12 lg12>
          <apexchart
            width="550"
            type="bar"
            :options="options"
            :series="series"
          ></apexchart>
        </v-flex>
        <v-flex xs12 md12 lg12>
          <v-card-text class="pt-0">
            <!-- <div class="title font-weight-light mb-2">{{ title }}</!-->
            <v-card class="mt-5 mx-auto" max-width="500">
              <v-toolbar color="cyan" dark>
                <v-toolbar-title
                  >Tipo de emergencia max frecuente por ciudad</v-toolbar-title
                >
                <v-spacer></v-spacer>
              </v-toolbar>

              <v-list two-line>
                <v-subheader>
                  CIUDAD
                  <v-spacer />EMERGENCIA MAX FRECUENTE (Cant.)
                </v-subheader>
                <template v-for="(item, index) in reporte1">
                  <v-subheader v-if="item.nombre" :key="item.nombre">
                    {{ item.nombre }}
                    <v-spacer />
                    {{ item.tipo_de_emergencia_max_frecuente }}({{
                      item.cant_tipo_de_emergencia_max_frecuente
                    }})
                  </v-subheader>
                  <v-divider :key="index" :inset="true"></v-divider>
                </template>
              </v-list>
            </v-card>
          </v-card-text>
        </v-flex>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
import VueApexCharts from 'vue-apexcharts'
import CRUDService from '~/services/CRUDService'
export default {
  // el: '#chart',
  components: {
    apexchart: VueApexCharts
  },
  middleware: 'authenticated',

  data() {
    return {
      circularChart: {
        series: [76, 67, 61, 90],
        chartOptions: {
          plotOptions: {
            radialBar: {
              offsetY: -10,
              startAngle: 0,
              endAngle: 270,
              hollow: {
                margin: 5,
                size: '30%',
                background: 'transparent',
                image: undefined
              },
              dataLabels: {
                name: {
                  show: false
                },
                value: {
                  show: false
                }
              }
            }
          },
          colors: ['#1ab7ea', '#0084ff', '#39539E', '#0077B5'],
          labels: ['Vimeo', 'Messenger', 'Facebook', 'LinkedIn'],
          legend: {
            show: true,
            floating: true,
            fontSize: '16px',
            position: 'left',
            offsetX: 160,
            offsetY: 10,
            labels: {
              useSeriesColors: true
            },
            markers: {
              size: 0
            },
            formatter: function(seriesName, opts) {
              return (
                seriesName + ':  ' + opts.w.globals.series[opts.seriesIndex]
              )
            },
            itemMargin: {
              horizontal: 1
            }
          },
          responsive: [
            {
              breakpoint: 480,
              options: {
                legend: {
                  show: false
                }
              }
            }
          ]
        }
      },
      search: '',
      color: 'green',
      error: '',
      ok: false,
      crud: null,
      empleados: [],
      tandas: [],
      reporte1: [],
      isLoadingData: true,
      totalAccidentados: { totalGeneral: 0, totalM: 0, totalF: 0 },
      title: 'Promedio de Accidentado por Ciudad',

      headers: [
        { text: 'Ciudad' },
        { text: 'M' },
        { text: 'F' },
        { text: '% M' },
        { text: '% F' },
        { text: 'Cant. Total' },
        { text: '% General' }
      ],
      turnos: [],
      options: {
        title: {
          text: [],
          align: 'left',
          margin: 10,
          offsetX: 0,
          offsetY: 0,
          floating: false,
          style: {
            fontSize: '16px',
            color: '#263238'
          }
        },
        chart: {
          id: 'vuechart-example'
        },
        xaxis: {
          categories: []
        }
      },
      series: [
        {
          name: 'Masculino',
          data: []
        },
        {
          name: 'Femenino',
          data: []
        }
      ]
    }
  },
  created() {
    this.crud = new CRUDService()
    this.getCantPromedioPorCiudad()
  },
  methods: {
    showSnackBar(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.color = color
    },
    getCantPromedioPorCiudad() {
      this.crud.httpRailsHelper('report_1', 'get').subscribe(
        res => {
          this.totalAccidentados = {
            totalGeneral: 0,
            totalM: 0,
            totalF: 0,
            ciudades: []
          }
          this.options.title.text.push(this.title)
          console.log('report_1', res.data)
          if (res.data) {
            this.reporte1 = res.data
            this.reporte1.forEach(element => {
              this.options.xaxis.categories.push(element.nombre)
              this.totalAccidentados.totalGeneral += element.pacientes
              this.series[0].data.push(element.M)
              this.series[1].data.push(element.F)

              this.totalAccidentados.totalM += element.M
              this.totalAccidentados.totalF += element.F

              const ciudad = {
                nombre: element.nombre,
                F: element.F,
                M: element.M,
                total_en_laciudad: element.F + element.M,
                divider: true,
                inset: true
              }
              this.totalAccidentados.ciudades.push(ciudad)
            })
          }
          this.isLoadingData = false
        },
        err => {
          console.log(err.response)
          this.isLoadingData = false
        }
      )
    }
  }
}
</script>

<style>
.v-sheet--offset {
  top: -24px;
  position: relative;
}
</style>
