<template>
  <v-layout align-start justify-start row fill-height wrap>
    <v-flex xs12 md12 lg12>
      <v-toolbar color="#843c12" dark>
        <v-toolbar-title>{{ title }}</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
    </v-flex>
    <v-flex xs7 md7 lg7>
      <v-flex xs12 md12 lg12>
        <v-data-table
          :search="search"
          :headers="headers"
          :items="reporte2"
          :loading="isLoadingData"
          class="elevation-1"
          no-results-text="No se encontraron registros"
        >
          <template v-slot:items="props">
            <td>{{ props.item.nombre }}</td>
            <td>{{ props.item.empleados }}</td>
            <td>
              %
              {{
                (props.item.empleados / totalAccidentados.totalGeneral) * 100
              }}
            </td>
          </template>
          <template v-slot:footer>
            <td :colspan="1">
              <strong>Total:</strong>
            </td>
            <td :colspan="1">
              <strong>{{ totalAccidentados.totalGeneral }}</strong>
            </td>
            <td :colspan="1"></td>
          </template>
        </v-data-table>
      </v-flex>
    </v-flex>

    <v-flex xs5 md5 lg5>
      <div id="chart" style="background:white">
        <v-flex xs12 md12 lg12>
          <apexchart
            width="600"
            type="bar"
            :options="options"
            :series="series"
          ></apexchart>
        </v-flex>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
import VueApexCharts from 'vue-apexcharts'
import CRUDService from '~/services/CRUDService'
export default {
  middleware: 'authenticated',

  data() {
    return {
      el: '#chart',
      components: {
        apexchart: VueApexCharts
      },
      search: '',
      color: 'green',
      error: '',
      ok: false,
      crud: null,
      empleados: [],
      tandas: [],
      reporte2: [],
      isLoadingData: true,
      totalAccidentados: { totalGeneral: 0 },
      title: 'Empleados por Cargo',

      headers: [
        { text: 'Cargo' },
        { text: 'Cant. Empleados' },
        { text: '% Empleados' }
      ],
      turnos: [],
      options: {
        title: {
          text: [],
          align: 'left',
          margin: 10,
          offsetX: 0,
          offsetY: 0,
          floating: false,
          style: {
            fontSize: '16px',
            color: '#263238'
          }
        },
        chart: {
          id: 'vuechart-example'
        },
        xaxis: {
          categories: []
        }
      },
      series: [
        {
          data: []
        }
      ]
    }
  },
  created() {
    this.crud = new CRUDService()
    this.getCantPromedioPorCiudad()
  },
  methods: {
    showSnackBar(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.color = color
    },
    getCantPromedioPorCiudad() {
      this.crud.httpRailsHelper('report_2', 'get').subscribe(
        res => {
          this.totalAccidentados = { totalGeneral: 0, cargos: [] }
          console.log('report_2', res.data)
          if (res.data) {
            this.reporte2 = res.data
            this.reporte2.forEach(element => {
              this.options.xaxis.categories.push(element.nombre)
              this.series[0].data.push(element.empleados)
              this.totalAccidentados.totalGeneral += element.empleados
              //     if (
              //       this.totalAccidentados[`total${element.sexo}`] !== undefined
              //     ) {
              //       this.totalAccidentados[`total${element.sexo}`] += 1
              //     }
            })
          }
          this.isLoadingData = false
        },
        err => {
          console.log(err.response)
          this.isLoadingData = false
        }
      )
    }
  }
}
</script>

<style>
.v-sheet--offset {
  top: -24px;
  position: relative;
}
</style>
