<template>
  <v-layout align-start justify-start row fill-height wrap>
    <v-flex xs12 md12 lg12>
      <v-toolbar color="#843c12" dark>
        <v-toolbar-title>{{ title }}</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
    </v-flex>
    <v-flex xs6 md6 lg6>
      <v-flex xs12 md12 lg12>
        <v-data-table
          :search="search"
          :headers="headers"
          :items="reporte1"
          :loading="isLoadingData"
          class="elevation-1"
          no-results-text="No se encontraron registros"
        >
          <template v-slot:items="props">
            <td>{{ props.item.ciudad }}</td>
            <td>${{ props.item.total_en_compras }}</td>
            <td>{{ props.item.compras.length }}</td>
          </template>
          <template v-slot:footer>
            <template>
              <td :colspan="1">
                <strong>Cantidad Total:</strong>
              </td>
              <td :colspan="1">
                <strong>{{ totalAccidentados.totalM }}</strong>
              </td>
              <td :colspan="1">
                <strong>{{ totalAccidentados.totalF }}</strong>
              </td>
            </template>
          </template>
        </v-data-table>
      </v-flex>
    </v-flex>
    <v-flex xs6 md6 lg6>
      <div id="chart" style="background:white">
        <v-flex xs12 md12 lg12>
          <apexchart
            width="780"
            type="bar"
            :options="options"
            :series="series"
          ></apexchart>
        </v-flex>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
import VueApexCharts from 'vue-apexcharts'
import CRUDService from '~/services/CRUDService'
export default {
  el: '#chart',
  components: {
    apexchart: VueApexCharts
  },
  middleware: 'authenticated',

  data() {
    return {
      circularChart: {
        series: [76, 67, 61, 90],
        chartOptions: {
          plotOptions: {
            radialBar: {
              offsetY: -10,
              startAngle: 0,
              endAngle: 270,
              hollow: {
                margin: 5,
                size: '30%',
                background: 'transparent',
                image: undefined
              },
              dataLabels: {
                name: {
                  show: false
                },
                value: {
                  show: false
                }
              }
            }
          },
          colors: ['#1ab7ea', '#0084ff', '#39539E', '#0077B5'],
          labels: ['Vimeo', 'Messenger', 'Facebook', 'LinkedIn'],
          legend: {
            show: true,
            floating: true,
            fontSize: '16px',
            position: 'left',
            offsetX: 160,
            offsetY: 10,
            labels: {
              useSeriesColors: true
            },
            markers: {
              size: 0
            },
            formatter: function(seriesName, opts) {
              return (
                seriesName + ':  ' + opts.w.globals.series[opts.seriesIndex]
              )
            },
            itemMargin: {
              horizontal: 1
            }
          },
          responsive: [
            {
              breakpoint: 480,
              options: {
                legend: {
                  show: false
                }
              }
            }
          ]
        }
      },
      search: '',
      color: 'green',
      error: '',
      ok: false,
      crud: null,
      empleados: [],
      tandas: [],
      reporte1: [],
      isLoadingData: true,
      totalAccidentados: { totalGeneral: 0, totalM: 0, totalF: 0 },
      title: 'Compras por Ciudad',

      headers: [
        { text: 'Ciudad' },
        { text: 'Total en compras' },
        { text: 'Cant de Compras' }
      ],
      turnos: [],
      options: {
        title: {
          text: [],
          align: 'left',
          margin: 10,
          offsetX: 0,
          offsetY: 0,
          floating: false,
          style: {
            fontSize: '16px',
            color: '#263238'
          }
        },
        chart: {
          id: 'vuechart-example'
        },
        xaxis: {
          categories: []
        }
      },
      series: [
        {
          data: []
        }
      ]
    }
  },
  created() {
    this.crud = new CRUDService()
    this.getCantPromedioPorCiudad()
  },
  methods: {
    showSnackBar(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.color = color
    },
    getCantPromedioPorCiudad() {
      this.crud
        .httpRailsHelper('report_8/01-01-2010/07-15-2019', 'get')
        .subscribe(
          res => {
            this.totalAccidentados = {
              totalGeneral: 0,
              totalM: 0,
              totalF: 0,
              ciudades: []
            }
            this.options.title.text.push(this.title)
            console.log('report_1', res.data)
            if (res.data) {
              this.reporte1 = res.data
              this.reporte1.forEach(element => {
                this.options.xaxis.categories.push(element.ciudad)
                //     this.totalAccidentados.totalGeneral += element.pacientes
                this.series[0].data.push(element.total_en_compras)
                //     this.series[1].data.push(element.F)
                //     this.totalAccidentados.totalM += element.M
                //     this.totalAccidentados.totalF += element.F
                //     const ciudad = {
                //       nombre: element.nombre,
                //       F: element.F,
                //       M: element.M,
                //       total_en_laciudad: element.F + element.M,
                //       divider: true,
                //       inset: true
                //     }
                //     this.totalAccidentados.ciudades.push(ciudad)
              })
            }
            this.isLoadingData = false
          },
          err => {
            console.log(err.response)
            this.isLoadingData = false
          }
        )
    }
  }
}
</script>

<style>
.v-sheet--offset {
  top: -24px;
  position: relative;
}
</style>
