<template>
  <v-layout align-start justify-start row fill-height wrap>
    <!-- <v-flex xs12 md12 lg12> -->
    <v-flex xs12 md12 lg12>
      <v-toolbar color="#843c12" dark>
        <v-toolbar-title>{{ title }}</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
    </v-flex>
    <v-flex xs6 md6 lg6>
      <v-card class="mt-5 mx-auto" max-width="700">
        <v-sheet
          class="v-sheet--offset mx-auto"
          color="white"
          elevation="11"
          max-width="calc(100% - 32px)"
        >
          <!-- {{ series | pretty }} -->
          <!-- <v-sparkline
              :labels="this.reporte1.labels"
              :value="this.reporte1.data"
              color="white"
              :label-size="10000"
              line-width="2"
              padding="18"
            ></v-sparkline> -->
          <!-- <div>
            <apexchart
              type="radialBar"
              height="350"
              :options="circularChart.chartOptions"
              :series="circularChart.series"
            />
          </div> -->
          <div id="chart">
            <apexchart
              width="650"
              type="bar"
              :options="options"
              :series="series"
            ></apexchart>
          </div>
        </v-sheet>
      </v-card>
    </v-flex>
    <v-flex xs6 md6 lg6>
      <v-card-text class="pt-0">
        <!-- <div class="title font-weight-light mb-2">{{ title }}</!-->
        <v-card class="mt-5 mx-auto">
          <v-toolbar color="cyan" dark>
            <v-toolbar-title>{{ title }}</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>

          <v-list two-line>
            <template v-for="(item, index) in reporte1.ciudades">
              <v-subheader v-if="item.nombre" :key="item.nombre">
                {{ item.nombre }}
                <v-spacer />
                {{ item.promedio }}
              </v-subheader>
              <v-divider :key="index" :inset="item.inset"></v-divider>
            </template>
          </v-list>
        </v-card>
      </v-card-text>
    </v-flex>

    <!-- <bars
        :data="[
          1,
          2,
          5,
          9,
          5,
          10,
          3,
          5,
          8,
          12,
          1,
          8,
          2,
          9,
          10,
          2,
          9,
          4,
          5,
          6,
          7,
          3,
          2,
          3,
          5
        ]"
        :gradient="['#ffbe88', '#ff93df']"
        :bar-width="5"
        :grow-duration="1"
      >
      </bars> -->
    <!-- </v-flex> -->
  </v-layout>
</template>

<script>
import Vue from 'vue'
import Bars from 'vuebars'
import VueApexCharts from 'vue-apexcharts'
import CRUDService from '~/services/CRUDService'
Vue.use(Bars)
export default {
  el: '#chart',
  components: {
    apexchart: VueApexCharts
  },
  middleware: 'authenticated',

  data() {
    return {
      circularChart: {
        series: [76, 67, 61, 90],
        chartOptions: {
          plotOptions: {
            radialBar: {
              offsetY: -10,
              startAngle: 0,
              endAngle: 270,
              hollow: {
                margin: 5,
                size: '30%',
                background: 'transparent',
                image: undefined
              },
              dataLabels: {
                name: {
                  show: false
                },
                value: {
                  show: false
                }
              }
            }
          },
          colors: ['#1ab7ea', '#0084ff', '#39539E', '#0077B5'],
          labels: ['Vimeo', 'Messenger', 'Facebook', 'LinkedIn'],
          legend: {
            show: true,
            floating: true,
            fontSize: '16px',
            position: 'left',
            offsetX: 160,
            offsetY: 10,
            labels: {
              useSeriesColors: true
            },
            markers: {
              size: 0
            },
            formatter: function(seriesName, opts) {
              return (
                seriesName + ':  ' + opts.w.globals.series[opts.seriesIndex]
              )
            },
            itemMargin: {
              horizontal: 1
            }
          },
          responsive: [
            {
              breakpoint: 480,
              options: {
                legend: {
                  show: false
                }
              }
            }
          ]
        }
      },
      options: {
        title: {
          text: [],
          align: 'left',
          margin: 10,
          offsetX: 0,
          offsetY: 0,
          floating: false,
          style: {
            fontSize: '16px',
            color: '#263238'
          }
        },
        chart: {
          id: 'vuechart-example'
        },
        xaxis: {
          categories: []
        }
      },
      series: [
        {
          name: 'series-1',
          data: []
        }
      ],

      search: '',
      color: 'green',
      error: '',
      ok: false,
      crud: null,
      empleados: [],
      tandas: [],
      reporte1: {},
      isLoadingData: true,
      title: 'Edad Promedio de accidentados por ciudad',

      // headers: [
      //   { text: 'Colaborador', value: 'nickname' },
      //   { text: 'Cargo', value: 'nombre' },
      //   // { text: 'Hora inicio', value: 'tanda.hora_inicio' },
      //   // { text: 'Hora fin', value: 'tanda.hora_fin' },
      //   { text: 'Acciones', value: 'name', sortable: false }
      // ],
      turnos: []
    }
  },
  created() {
    this.crud = new CRUDService()
    this.getEdadPromedioPorCiudad()
  },
  methods: {
    showSnackBar(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.color = color
    },
    getEdadPromedioPorCiudad() {
      this.crud.httpRailsHelper('report_3', 'get').subscribe(
        res => {
          console.log('report_3', res.data)
          if (res.data) {
            this.reporte1 = { labels: [], data: [], ciudades: [] }
            // this.reporte1 = res.data

            // const hTitle = {}
            // const labels = []
            this.options.title.text.push(this.title)
            res.data.forEach(element => {
              const ciudad = {
                nombre: element.nombre,
                promedio: element.edad_promedio,
                divider: true,
                inset: true
              }
              this.options.xaxis.categories.push(element.nombre)
              this.series[0].data.push(element.edad_promedio)
              this.reporte1.labels.push(element.nombre)
              this.reporte1.data.push(element.edad_promedio)
              this.reporte1.ciudades.push(ciudad)
            })
          }
          this.isLoadingData = false
        },
        err => {
          console.log(err.response)
          this.isLoadingData = false
        }
      )
    }
  }
}
</script>

<style>
.v-sheet--offset {
  top: -24px;
  position: relative;
}
</style>
