<template>
  <v-layout align-center justify-center row fill-height wrap>
    <v-flex xs12 md12 lg12 style="text-align: center;">
      <h1>{{ title }}</h1>
      <v-date-picker
        v-model="date"
        class="mt-3"
        style="margin: 10px;"
      ></v-date-picker>
      <v-date-picker
        v-model="dateend"
        class="mt-3"
        style="margin: 10px;"
      ></v-date-picker>
      <v-btn @click="getCantInsumosEmergenciaPorFecha">Buscar</v-btn>
    </v-flex>
    <v-flex v-for="item in report_5" :key="item.ciudad_id" xs12 md6 lg6>
      <v-card style="margin: 10px;">
        <h4>{{ item.ciudad }}</h4>
        <apexchart
          style="background-color: white;"
          width="380"
          type="donut"
          :options="{
            labels: ['Mañana', 'Tarde', 'Noche'],
            chart: {
              toolbar: {
                show: true,
                tools: {
                  download: true,
                  selection: true,
                  zoom: true,
                  zoomin: true,
                  zoomout: true,
                  pan: true
                },
                autoSelected: 'zoom'
              }
            }
          }"
          :series="[
            item.manana.cantidad,
            item.tarde.cantidad,
            item.noche.cantidad
          ]"
        ></apexchart>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import moment from 'moment'
import CRUDService from '~/services/CRUDService'
export default {
  middleware: 'authenticated',

  data() {
    return {
      search: '',
      color: 'green',
      error: '',
      ok: false,
      crud: null,
      empleados: [],
      tandas: [],
      reporte4: [],
      report_5: [],
      isLoadingData: true,
      //   totalAccidentados: { totalGeneral: 0 },
      title: 'Cantidad de emergencia por ciudad',
      options: {
        series: [44, 55, 13, 33],
        labels: ['Apple', 'Mango', 'Orange', 'Watermelon']
      },
      date: '2018-06-15',
      dateend: '2020-06-15'
    }
  },
  // watch: {
  //   dateend: val => {
  //     this.getCantInsumosEmergenciaPorFecha()
  //   },
  //   date: val => {
  //     this.getCantInsumosEmergenciaPorFecha()
  //   }
  // },
  created() {
    this.crud = new CRUDService()
    this.getCantInsumosEmergenciaPorFecha()
  },
  methods: {
    formatDate(arg) {
      return moment(arg).format('DD-MM-YYYY')
    },
    showSnackBar(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.color = color
    },
    getCantInsumosEmergenciaPorFecha() {
      // ano mes dia
      this.crud
        .httpRailsHelper(`report_5/${this.date}/${this.dateend}`, 'get')
        .subscribe(
          res => {
            console.log('reportEmergenciasPorDiaYPorNoche', res.data)
            if (res.data) {
              this.report_5 = res.data
            }
            this.isLoadingData = false
          },
          err => {
            console.log(err.response)
            this.isLoadingData = false
          }
        )
    }
  }
}
</script>

<style></style>
