<template>
  <v-layout align-center justify-center row fill-height wrap>
    <v-flex xs12 md12 lg12 style="text-align: center;">
      <h1>{{ title }}</h1>
      <v-date-picker
        v-model="date"
        class="mt-3"
        style="margin: 10px;"
      ></v-date-picker>
      <v-date-picker
        v-model="dateend"
        class="mt-3"
        style="margin: 10px;"
      ></v-date-picker>
      <v-select
        v-model="perio"
        :items="periodo"
        label="Seleccione Periodo"
        item-text="text"
        item-value="value"
      ></v-select>
      <v-btn @click="getCantInsumosEmergenciaPorFecha">Buscar</v-btn>
    </v-flex>
    <v-flex xs12 md12 lg12>
      <div v-for="itm in getKeys(report_7)" :key="itm">
        <p>
          <strong>{{ itm }}</strong>
        </p>
        <v-expansion-panel>
          <v-expansion-panel-content
            v-for="itm2 in getKeys(report_7[itm])"
            :key="itm2"
          >
            <template v-slot:header>
              <div>
                <strong>{{ itm2 }}</strong>
              </div>
            </template>
            <v-card>
              <v-card-text v-for="itm3 in report_7[itm][itm2]" :key="itm3"
                >#{{ itm3.codigo }} - {{ itm3.descripcion }} -
                <strong>
                  {{ itm3.lugar_del_evento }}
                </strong>
              </v-card-text>
              <v-card-text style="text-align: center;">
                Total: #<strong>{{ report_7[itm][itm2].length }}</strong>
              </v-card-text>
              <!-- <v-divider dark ></v-divider> -->
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <!-- <div v-for="itm2 in getKeys(report_7[itm])" :key="itm2">
          <p>
            <strong>{{ itm2 }}</strong>
          </p>
          <p v-for="itm3 in report_7[itm][itm2]" :key="itm3">{{ itm3.descripcion }}</p>
        </div> -->
      </div>
      <!-- {{ getKeys(report_7[itm]) }} -->
      <!-- </p> -->
      <!-- <p>{{ getKeys(report_7) }}</p> -->
    </v-flex>
  </v-layout>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'
import CRUDService from '~/services/CRUDService'
export default {
  middleware: 'authenticated',
  data() {
    return {
      search: '',
      color: 'green',
      error: '',
      ok: false,
      crud: null,
      empleados: [],
      tandas: [],
      perio: 1,
      periodo: [
        { text: 'Mes', value: 1 },
        { text: 'Trimestre', value: 2 },
        { text: 'Cuatrimestre', value: 3 },
        { text: 'Semestre', value: 4 },
        { text: 'Anual', value: 5 }
      ],
      reporte4: [],
      report_5: [],
      report_7: {},
      isLoadingData: true,
      //   totalAccidentados: { totalGeneral: 0 },
      title: 'Segmentar por periodos los tipos de emergencia',
      options: {
        series: [44, 55, 13, 33],
        labels: ['Apple', 'Mango', 'Orange', 'Watermelon']
      },
      date: '2018-06-15',
      dateend: '2020-06-15',
      headers: [
        { text: 'Tipo de Emergencia' },
        { text: 'Ciudad' },
        { text: 'Cantidad de productos' }
      ]
    }
  },
  // watch: {
  //   dateend: val => {
  //     this.getCantInsumosEmergenciaPorFecha()
  //   },
  //   date: val => {
  //     this.getCantInsumosEmergenciaPorFecha()
  //   }
  // },
  created() {
    this.crud = new CRUDService()
    this.getCantInsumosEmergenciaPorFecha()
  },
  methods: {
    getKeys(arg) {
      return _.keys(arg)
    },
    formatDate(arg) {
      return moment(arg).format('DD-MM-YYYY')
    },
    showSnackBar(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.color = color
    },
    getCantInsumosEmergenciaPorFecha() {
      // ano mes dia
      this.crud
        .httpRailsHelper(
          `report_7/${this.perio}/${this.date}/${this.dateend}`,
          'get'
        )
        .subscribe(
          res => {
            console.log('report_7', res.data)
            if (res.data) {
              this.report_7 = res.data
            }
            this.isLoadingData = false
          },
          err => {
            console.log(err.response)
            this.isLoadingData = false
          }
        )
    }
  }
}
</script>

<style></style>
