<template>
  <v-layout justify-center>
    <v-dialog v-model="dialog" persistent>
      <template v-slot:activator="{ on }">
        <v-btn color="primary" dark v-on="on">Crear Roles</v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">Creacion de roles</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <!-- <v-flex xs12 sm6 md4>
                <v-text-field label="Legal first name*" required></v-text-field>
              </v-flex>-->
              <v-flex xs12 sm12 md12>
                <v-text-field
                  v-model="name"
                  label="* Nombre"
                  hint="supervisor"
                ></v-text-field>
              </v-flex>
              <!-- <v-flex xs12 sm6 md4>
                <v-text-field
                  label="Legal last name*"
                  hint="example of persistent helper text"
                  persistent-hint
                  required
                ></v-text-field>
              </!-->
              <!-- <v-flex xs12>
                <v-text-field label="Email*" required></v-text-field>
              </v-flex>-->
              <!-- <v-flex xs12>
                <v-text-field
                  label="Password*"
                  type="password"
                  required
                ></v-text-field>
              </v-flex>-->
              <!-- <v-flex xs12 sm6>
                <v-select
                  :items="['0-17', '18-29', '30-54', '54+']"
                  label="Age*"
                  required
                ></v-select>
              </v-flex>-->
              <v-flex xs6 sm6>
                <div v-for="(permiso, i) in permisos" :key="i" :to="permiso.to">
                  <v-btn @click="selectPermiso(permiso)">{{
                    permiso.name
                  }}</v-btn>
                </div>
              </v-flex>
              <v-flex v-if="permisoSelected != null" xs6 sm6>
                <div
                  v-for="(accion, i) in permisoSelected.acciones"
                  :key="i"
                  :to="accion.to"
                >
                  <v-checkbox
                    v-model="accion.check"
                    :value="accion.check ? true : false"
                    :label="accion.nombre"
                  ></v-checkbox>
                </div>
              </v-flex>
            </v-layout>
          </v-container>
          <!-- <small>*indicates required field</small> -->
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false"
            >Cancelar</v-btn
          >
          <v-btn color="blue darken-1" text @click="guardarRole()"
            >Guardar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import CRUDService from '~/services/CRUDService.js'

export default {
  props: {
    permisos: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    dialog: false,
    permisoSelected: null,
    crud: null,
    name: ''
  }),
  created() {
    this.crud = new CRUDService()
    console.log('created ', this.permisos)
  },
  methods: {
    selectPermiso(arg) {
      this.permisoSelected = arg
    },

    guardarRole() {
      console.log(this.permisos)
      this.crud
        .httpRailsHelper('roles', 'post', {
          role: {
            name: this.name,
            permisos: this.permisos,
            descripcion: 'sadfa'
          }
        })
        .subscribe(
          res => {
            console.log('respuesta permisos:', res.data)
            this.close()
            this.$emit('recargar')
            //   this.permisoss = res.data.permisos
          },
          err => {
            console.log('respuesta permisos:', err)
          }
        )
      //   dialog = false
    },
    close() {
      setTimeout(() => {
        this.dialog = false
        // setTimeout(() => {
        //   this.$v.$reset()
        // }, 0)
        Object.assign(this.$data, this.$options.data.apply(this))
      }, 800)
    }
  }
}
</script>

<style></style>
