<template>
  <v-layout justify-center>
    <v-dialog v-model="dialog" persistent>
      <template v-slot:activator="{ on }">
        <!-- <v-btn color="primary" >
        </v-btn>-->
        <v-icon dark style="color: white" v-on="on">edit</v-icon>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">Edicion de role</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <!-- <v-flex xs12 sm6 md4>
                <v-text-field label="Legal first name*" required></v-text-field>
              </v-flex>-->
              <v-flex xs12 sm12 md12>
                <v-text-field
                  v-model="name"
                  label="* Nombre"
                  hint="supervisor"
                ></v-text-field>
              </v-flex>

              <v-flex xs6 sm6>
                <div v-for="(item, i) in mis_permisos" :key="i">
                  <v-btn @click="selectPermiso(item)">{{ item.name }}</v-btn>
                </div>
              </v-flex>
              <v-flex v-if="permisoSelected != null" xs6 sm6>
                <div
                  v-for="(item, i) in permisoSelected.acciones"
                  :key="i"
                  :to="item.to"
                >
                  <v-checkbox
                    v-model="item.check"
                    :label="item.name"
                  ></v-checkbox>
                </div>
              </v-flex>
            </v-layout>
          </v-container>
          <!-- <small>{{ permisos }}</small> -->
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false"
            >Cancelar</v-btn
          >
          <v-btn color="blue darken-1" text @click="guardarRole()"
            >Guardar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import _ from 'lodash'
import CRUDService from '~/services/CRUDService.js'
export default {
  props: {
    permisos: {
      type: Array,
      default: () => []
    },
    role: {
      type: Object,
      default: () => {}
    }
  },
  data: () => ({
    dialog: false,
    permisoSelected: null,
    crud: null,
    mis_permisos: [],
    name: ''
  }),
  created() {
    this.crud = new CRUDService()
    this.name = this.role.name
    this.mis_permisos = JSON.parse(JSON.stringify(this.permisos))
    if (this.mis_permisos.length) {
      this.selectPermiso(this.mis_permisos[0])
    }
    this.mis_permisos.forEach((permiso, i) => {
      this.role.permisos.forEach(permisoMio => {
        console.log(this.name, permisoMio.id, permiso.id)
        if (permisoMio.id === permiso.id) {
          // console.log(this.name, 'permisoMio  ', permisoMio, permiso)
          permiso.acciones.forEach(accion => {
            const found = _.filter(permisoMio.acciones, {
              permiso_accione_id: accion.permiso_accione_id
            })
            if (found.length > 0) {
              accion.check = true
            }
          })
        }
      })
    })
  },
  methods: {
    selectPermiso(arg) {
      this.permisoSelected = arg
    },
    guardarRole() {
      console.log(this.permisos)
      this.crud
        .httpRailsHelper('roles/' + this.role.id, 'patch', {
          role: {
            ...this.role,
            permisos: this.mis_permisos
          }
        })
        .subscribe(
          res => {
            console.log('respuesta permisos:', res.data)
            //   this.permisoss = res.data.permisos
            this.close()
          },
          err => {
            console.log('respuesta permisos:', err)
          }
        )
      //   dialog = false
    },
    close() {
      setTimeout(() => {
        this.dialog = false
        // setTimeout(() => {
        //   this.$v.$reset()
        // }, 0)
        Object.assign(this.$data, this.$options.data.apply(this))
      }, 800)
    }
  }
}
</script>

<style></style>
