<template>
  <v-layout align-start justify-center row fill-height wrap>
    <v-flex xs12 md12 lg12>
      <v-card>
        <v-card-title>
          <h1>Mis Emergencias</h1>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :search="search"
          :headers="headers"
          :items="Emergencias"
          :loading="isLoadingData"
          class="elevation-1"
          no-results-text="No se encontraron registros"
        >
          <template v-slot:items="props">
            <tr @click="props.expanded = !props.expanded">
              <td>{{ props.item.id }}</td>
              <td>{{ props.item.codigo }}</td>
              <td>
                <v-chip color="blue">{{ props.item.ciudad.nombre }}</v-chip>
                {{ props.item.lugar_del_evento }}
              </td>
              <td>{{ props.item.emergencia_tipo }}</td>
              <td>{{ props.item.telefono_infomante }}</td>
              <!-- <td>{{ props.item.descripcion }}</td> -->
              <td>{{ props.item.pacientes.length }}</td>
              <td>
                <v-chip
                  class="ma-2"
                  :color="
                    props.item.estado == 'F'
                      ? 'green'
                      : props.item.estado == 'C'
                      ? 'red'
                      : 'pink'
                  "
                  text-color="white"
                >
                  {{
                    props.item.estado == 'F'
                      ? 'Finalizada'
                      : props.item.estado == 'C'
                      ? 'Proceso'
                      : 'Cancelada'
                  }}
                </v-chip>
              </td>
              <td>
                <agregarPacientesAEmergencia
                  :hospitales="hospitales"
                  :emegergencia="props.item"
                  :personas="personas"
                  :ciudades="ciudades"
                  @add_persona="add_persona"
                ></agregarPacientesAEmergencia>
                <mostrarMapa
                  :punto-marcado="{ lat: props.item.lat, lng: props.item.long }"
                  :center="{ lat: props.item.lat, lng: props.item.long }"
                  :lugar-del-evento="props.item.lugar_del_evento"
                  :codigo="props.item.codigo"
                ></mostrarMapa>
              </td>
            </tr>
          </template>
          <template v-slot:expand="props">
            <v-flex xs12 md12 lg12>
              <table style="    width: 100%; ">
                <thead style="background: cadetblue;">
                  <tr>
                    <th
                      v-for="(itemHEad, indexe) in [
                        'Nombre',
                        'Cedula',
                        'Triage',
                        'Entregado',
                        'Hospital',
                        'Acción'
                      ]"
                      :key="indexe"
                    >
                      <h2>{{ itemHEad }}</h2>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(item, index) in props.item.pacientes"
                    :key="index"
                  >
                    <td style="text-align: center;">
                      {{ item.persona.nombres }}
                      {{ item.persona.apellidos }}
                    </td>
                    <td style="text-align: center;">
                      {{ item.persona.cedula }}
                    </td>
                    <td style="text-align: center;">
                      <v-chip
                        class="ma-2"
                        :color="
                          item.ficha.triage_color == 'negro'
                            ? 'black'
                            : item.ficha.triage_color == 'amarillo'
                            ? 'yellow'
                            : item.ficha.triage_color == 'rojo'
                            ? 'red'
                            : 'green'
                        "
                        text-color="white"
                      ></v-chip>
                    </td>
                    <td style="text-align: center;">
                      <v-chip
                        class="ma-2"
                        :color="item.entregado_completado ? 'green' : 'pink'"
                        text-color="white"
                        >{{ item.entregado_completado ? 'Si' : 'No' }}</v-chip
                      >
                    </td>
                    <td style="text-align: center;">
                      {{ item.hospital.nombre }}
                    </td>
                    <td style="text-align: center;">
                      <!-- <v-icon style=" margin-left: 30px;" small class="mr-2"
                        >playlist_add</v-icon
                      >-->
                      <agregarPacientesAEmergencia
                        v-if="!item.entregado_completado"
                        :id="item.ficha.id"
                        :hospitales="hospitales"
                        :emegergencia="props.item"
                        :personas="personas"
                        :ciudades="ciudades"
                        @recargar="getAllEmergencia()"
                        @add_persona="add_persona"
                      ></agregarPacientesAEmergencia>
                    </td>
                  </tr>
                </tbody>
              </table>
            </v-flex>
          </template>
        </v-data-table>
        <v-snackbar v-model="ok" top right :color="color">
          {{ error }}
          <v-btn dark flat @click.stop="ok = false">Cerrar</v-btn>
        </v-snackbar>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { sacarText } from '../../services/GLOBAL'
import agregarPacientesAEmergencia from '~/components/emergencias/agregar_pacientes_a_emergencia'
import mostrarMapa from '~/components/utils/mostrarMapa'
// import confirmDialog from '~/components/utils/confirmDialog'
import CRUDService from '~/services/CRUDService'
export default {
  middleware: 'authenticated',
  components: {
    agregarPacientesAEmergencia,
    mostrarMapa
    // confirmDialog
  },
  data() {
    return {
      search: '',
      title: 'Emergencia',
      color: 'green',
      error: '',
      ok: false,
      lMostrarEditar: false,
      isLoadingData: true,
      headers: [
        { text: 'Id', value: 'id' },
        { text: 'Codigo', value: 'codigo' },
        { text: 'Lugar del Evento', value: 'lugar_del_evento' },
        { text: 'Tipo Emergencia', value: 'emergencia_tipo' },
        { text: 'Informante', value: 'telefono_infomante' },
        // { text: 'Descripción', value: 'descripcion' },
        { text: 'Pacientes', value: 'paracientes' },
        { text: 'Estado', value: 'estado' },
        { text: 'Acciones', sortable: false }
      ],
      Emergencias: [],
      turnosVehiculos: [],
      hospitales: [],
      ciudades: [],
      personas: []
    }
  },
  created() {
    this.crud = new CRUDService()
    this.getAllEmergencia()
    this.getAllPersonas()
    this.getAllHospitales()
    this.getAllCiudades()
  },
  methods: {
    hola(arg) {
      console.log('HOLAAAA ', arg)
    },
    deleteT(item) {
      this.confirm = false
      this.crud.httpRailsHelper(`emergencys/${item.id}`, 'delete').subscribe(
        res => {
          const index = this.Emergencias.indexOf(item)
          console.log('RESPUESTA BORRAR::', res.data)
          this.showSnackBar(res.data.msg, 'green')
          this.Emergencias.splice(index, 1)
        },
        err => {
          console.log('errror:', err.response)
          if (err.response && err.response.data) {
            this.showSnackBar(' ' + sacarText(err.response), 'red')
          } else {
            this.showSnackBar('Error de Conexión', 'red')
          }
        }
      )
    },
    add_persona(persona) {
      this.personas.push(persona)
    },
    getAllPersonas() {
      this.crud.httpRailsHelper(`personas`, 'get').subscribe(
        res => {
          console.log('personas id data', res.data)
          this.personas = res.data
        },
        err => {
          console.log('errrrrrrrrr', err)
          this.showSnackBar(' ' + sacarText(err.response), 'red')
        }
      )
    },
    getAllHospitales() {
      this.crud.httpRailsHelper(`hospitals`, 'get').subscribe(
        res => {
          console.log('hospitals id data', res.data)
          this.hospitales = res.data
        },
        err => {
          console.log('errrrrrrrrr', err)
          this.showSnackBar(' ' + sacarText(err.response), 'red')
        }
      )
    },
    getAllCiudades() {
      this.crud.getAllCiudad().subscribe(({ data }) => {
        this.ciudades = data
      })
    },
    showSnackBar(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.color = color
    },
    getAllEmergencia() {
      this.crud.httpRailsHelper('mis_emergencias', 'get').subscribe(
        res => {
          console.log('Emergencias', res.data)
          this.Emergencias = res.data
          this.isLoadingData = false
        },
        err => {
          this.isLoadingData = false
          console.log(err.response)
        }
      )
    }
  }
}
</script>

<style></style>
