<template>
  <v-layout align-start justify-center row fill-height wrap>
    <v-flex xs12 md12 lg12>
      <v-card>
        <v-card-title>
          <!-- Nutrition -->
          <createEmergenciaComponent
            :title="title"
            :ciudades="cuidades"
            :turnos-vehiculos="turnosVehiculos"
            :emergencias-tipos="emergenciasTipos"
            @recargar="getAllEmergencia()"
          ></createEmergenciaComponent>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :search="search"
          :headers="headers"
          :items="Emergencias"
          :loading="isLoadingData"
          class="elevation-1"
          no-results-text="No se encontraron registros"
        >
          <template v-slot:items="props">
            <tr @click="props.expanded = !props.expanded">
              <td>{{ props.item.codigo }}</td>
              <!-- <td>{{ props.item.descripcion }}</td> -->
              <td>{{ props.item.telefono_infomante }}</td>
              <!-- <td>{{ props.item.ciudad.nombre }}</td> -->
              <td>
                <v-chip color="blue">{{ props.item.ciudad.nombre }}</v-chip>
                {{ props.item.lugar_del_evento }}
              </td>
              <td>{{ props.item.vehiculos.length }}</td>
              <td>
                {{ props.item.created_at | moment('DD/MM/YYYY hh:mm a') }}
              </td>
              <td>
                <v-chip
                  class="ma-2"
                  :color="
                    props.item.estado == 'F'
                      ? 'green'
                      : props.item.estado == 'C'
                      ? 'red'
                      : 'pink'
                  "
                  text-color="white"
                >
                  {{
                    props.item.estado == 'F'
                      ? 'Finalizada'
                      : props.item.estado == 'C'
                      ? 'Proceso'
                      : 'Cancelada'
                  }}
                </v-chip>
              </td>
              <td>
                <ul style="display:inline-flex;list-style-type: none;">
                  <li>
                    <createEmergenciaComponent
                      v-if="
                        props.item &&
                          props.item.vehiculos.length > 0 &&
                          props.item.vehiculos[0].pacientes.length < 1 &&
                          props.item.estado != 'F' &&
                          props.item.estado != 'CANCELADA'
                      "
                      :id="props.item.id"
                      :mostrar="lMostrarEditar"
                      :title="title"
                      :ciudades="cuidades"
                      :turnos-vehiculos="turnosVehiculos"
                      :emergencias-tipos="emergenciasTipos"
                    ></createEmergenciaComponent>
                  </li>
                  <li>
                    <v-icon
                      v-if="
                        (props.item.vehiculos.length > 0 &&
                          props.item.vehiculos[0].pacientes.length < 1) ||
                          props.item.estado === 'CANCELADA'
                      "
                      style
                      small
                      class="mr-2"
                      @click="deleteT(props.item)"
                      >delete</v-icon
                    >
                  </li>
                  <li>
                    <v-icon
                      v-if="props.item.estado != 'F'"
                      style
                      small
                      class="mr-2"
                      @click="terminarEmergencia(props.item)"
                      >airport_shuttle</v-icon
                    >
                  </li>

                  <li>
                    <mostrarMapa
                      :punto-marcado="{
                        lat: props.item.lat,
                        lng: props.item.long
                      }"
                      :center="{ lat: props.item.lat, lng: props.item.long }"
                      :lugar-del-evento="props.item.lugar_del_evento"
                      :codigo="props.item.codigo"
                    ></mostrarMapa>
                  </li>
                </ul>
              </td>
            </tr>
          </template>
          <template v-slot:expand="props">
            <!-- <h1>
              <center>
                <v-chip color="blue">VEHICULOS</v-chip>
              </center>
            </h1>-->
            <v-flex xs12 md12 lg12>
              <table style="    width: 100%; ">
                <thead style="background: cadetblue;">
                  <tr>
                    <th
                      v-for="(itemHEad, indexe) in [
                        'Alias',
                        'Placa',
                        'Marca',
                        'Tipo Vehiculo',
                        'Pacientes',
                        'Acción'
                      ]"
                      :key="indexe"
                    >
                      <h2 style="text-align: center;">{{ itemHEad }}</h2>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(item, index) in props.item.vehiculos"
                    :key="index"
                  >
                    <td style="text-align: center;">
                      {{ item.vehiculo.alias }}
                    </td>
                    <td style="text-align: center;">
                      {{ item.vehiculo.placa }}
                    </td>
                    <td style="text-align: center;">
                      {{ item.vehiculo.marca }}
                    </td>
                    <td style="text-align: center;">
                      {{ item.vehiculo_tipo == 'A' ? 'Ambulancia' : 'Motor' }}
                    </td>
                    <td style="text-align: center;">
                      {{ item.pacientes.length }}
                    </td>
                    <td style="text-align: center;">
                      <ul style="display:inline-flex;list-style-type: none;">
                        <li>
                          <mostrarPacientes
                            :pacientes="item.pacientes"
                          ></mostrarPacientes>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </v-flex>
          </template>
        </v-data-table>
        <v-snackbar v-model="ok" top right :color="color">
          {{ error }}
          <v-btn dark flat @click.stop="ok = false">Cerrar</v-btn>
        </v-snackbar>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { sacarText } from '../../services/GLOBAL'
import createEmergenciaComponent from '~/components/emergencias/createEmergencia'
import mostrarPacientes from '~/components/utils/mostrarPacientes'
// import confirmDialog from '~/components/utils/confirmDialog'
import CRUDService from '~/services/CRUDService'
import mostrarMapa from '~/components/utils/mostrarMapa'
export default {
  middleware: 'authenticated',
  components: {
    createEmergenciaComponent,
    mostrarPacientes,
    mostrarMapa
  },
  data() {
    return {
      search: '',
      title: 'Emergencia',
      color: 'green',
      error: '',
      ok: false,
      lMostrarEditar: false,
      isLoadingData: true,
      headers: [
        { text: 'Codigo', value: 'codigo' },
        // {
        //   text: 'Descripción',
        //   value: 'descripcion'
        // },
        { text: 'Informante', value: 'telefono_infomante' },
        // { text: 'Ciudad', value: 'cuidad.nombre' },
        { text: 'Lugar del Evento', value: 'lugar_del_evento' },
        { text: 'Vehiculos Asignados', value: 'vehiculo_asignados' },
        { text: 'Fecha Hora', value: 'vehiculo_asignados' },
        { text: 'Estado', value: 'estado' },
        { text: 'Acciones', sortable: false }
      ],
      Emergencias: [],
      turnosVehiculos: [],
      emergenciasTipos: [],
      cuidades: []
    }
  },
  created() {
    this.crud = new CRUDService()
    this.getAllCiudades()
    this.getAllEmergencia()

    this.getAllTipoEmergencias()
    // setTimeout(() => {
    //   this.lMostrarEditar = true
    // }, 3000)
  },
  methods: {
    hola(arg) {
      console.log('HOLAAAA ', arg)
    },
    deleteT(item) {
      this.$confirm(`¿Seguro que quiere borrar esta emergencia?`, {
        buttonFalseText: 'Cancelar',
        buttonTrueText: 'Aceptar',
        title: 'Borrar emergencia',
        icon: 'delete',
        color: 'red',
        width: 500
      }).then(lCorrect => {
        console.log('lCorrect', lCorrect)
        if (lCorrect) {
          this.crud
            .httpRailsHelper(`emergencys/${item.id}`, 'delete')
            .subscribe(
              res => {
                const index = this.Emergencias.indexOf(item)
                console.log('RESPUESTA BORRAR::', res.data)
                this.showSnackBar(res.data.msg, 'green')
                this.Emergencias.splice(index, 1)
              },
              err => {
                console.log('errror:', err.response)
                if (err.response && err.response.data) {
                  this.showSnackBar(' ' + sacarText(err.response.data), 'red')
                } else {
                  this.showSnackBar('Error de Conexión', 'red')
                }
              }
            )
        }
      })
    },
    terminarEmergencia(item) {
      this.$confirm(`El codigo es: ${item.codigo}`, {
        buttonFalseText: 'Cancelar',
        buttonTrueText: 'Aceptar',
        title: 'Esta seguro de terminar esta emergencia?',
        icon: 'accessible',
        color: 'green',
        width: 600
      }).then(lYes => {
        if (lYes) {
          this.crud
            .httpRailsHelper(`finalizar_emergencia/${item.id}`, 'get')
            .subscribe(
              res => {
                console.log('RESPUESTA finalizar_emergencia::', res.data)
                this.showSnackBar(res.data.msg, 'green')
              },
              err => {
                console.log('errror:', err.response)
                if (err.response && err.response.data) {
                  this.showSnackBar(' ' + sacarText(err.response.data), 'red')
                } else {
                  this.showSnackBar('Error de Conexión', 'red')
                }
              }
            )
        }
      })
    },
    getAllTurnosVehiculos() {
      this.crud.httpRailsHelper(`vehiculos_disponibles`, 'get').subscribe(
        res => {
          console.log('getAllTurnosVehiculos id data', res.data)
          this.turnosVehiculos = res.data
        },
        err => {
          console.log('errrrrrrrrr', err)
          this.showSnackBar(' ' + sacarText(err.response.data), 'red')
        }
      )
    },
    getAllTipoEmergencias() {
      this.crud.httpRailsHelper(`emergencia_tipos`, 'get').subscribe(
        res => {
          console.log('emergencia_tipo id data', res.data)
          this.emergenciasTipos = res.data
        },
        err => {
          console.log('errrrrrrrrr', err)
          this.showSnackBar(' ' + sacarText(err.response.data), 'red')
        }
      )
    },
    showSnackBar(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.color = color
    },
    getAllCiudades() {
      this.crud.httpRailsHelper('ciudades', 'get').subscribe(
        res => {
          console.log('ciudades', res.data)
          this.cuidades = res.data
        },
        err => {
          console.log(err.response)
        }
      )
    },
    getAllEmergencia() {
      this.crud.httpRailsHelper('emergencys', 'get').subscribe(
        res => {
          console.log('Emergencias', res.data)
          this.Emergencias = res.data
          this.isLoadingData = false
        },
        err => {
          this.isLoadingData = false
          console.log(err.response)
        }
      )
      this.getAllTurnosVehiculos()
    }
  }
}
</script>

<style></style>
