<template>
  <v-container fluid>
    <v-layout align-start justify-space-between row fill-height wrap>
      <v-flex xs12 sm12 md12 lg12>
        <v-autocomplete
          v-model="form.vehiculo"
          :disabled="id != 0"
          :items="vehiculos"
          :search-input.sync="searchVehiculos"
          color="white"
          hide-no-data
          hide-selected
          item-value="vehiculo.id"
          label="Vehiculos"
          placeholder="Toyota"
          prepend-icon="mdi-database-search"
          required
          :error-messages="vehiculoerrors"
          return-object
          :filter="customFilterVehiculo"
          @input="$v.form.vehiculo.$touch()"
          @blur="$v.form.vehiculo.$touch()"
          @change="$emit('eliminarEmpleadosSeleccioandos')"
        >
          <template slot="selection" slot-scope="data">
            <b>
              {{ data.item.marca }} {{ data.item.modelo }}
              {{ data.item.placa }}&nbsp;
            </b>
            <span>{{ data.item.alias }}</span>
          </template>
          <template slot="item" slot-scope="data">
            <b>
              {{ data.item.marca }} {{ data.item.modelo }}
              {{ data.item.placa }}&nbsp;
            </b>
            <span>{{ data.item.alias }}</span>
          </template>
        </v-autocomplete>
      </v-flex>
      <v-flex xs12 sm12 md12 lg12>
        <v-chip :disabled="true" style="    width: 100%; ">
          <h2>Dias con turnos</h2>
        </v-chip>
      </v-flex>
      <v-flex xs12 md12 lg12 sm12 text-xs-center>
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn-toggle>
              <v-btn
                v-for="(dia, index) in dias"
                :key="`${index}`"
                :disabled="form.vehiculo == null"
                fab
                dark
                small
                color="primary"
                :value="dia"
                v-on="on"
                @click="DiaSeleccionado = dia"
                >{{ dia.alias }}</v-btn
              >
            </v-btn-toggle>
          </template>
          <span
            >Seleccione un Dia, para poder ver los empleados disponibles.</span
          >
        </v-tooltip>
      </v-flex>

      <v-flex xs10 sm10 md10 lg10>
        <v-autocomplete
          v-model="form.empleado"
          :disabled="form.vehiculo == null || DiaSeleccionado == null"
          :items="itemsEmpleados"
          :search-input.sync="searchEmpleados"
          color="white"
          hide-no-data
          hide-selected
          label="Empleados"
          placeholder="Juan Perez"
          prepend-icon="mdi-database-search"
          required
          return-object
          :filter="customFilterEmpleado"
        >
          <template slot="selection" slot-scope="data">
            <b>
              {{ data.item.user.cargo.nombre }}
              {{ data.item.user.persona.nombres }}
              {{ data.item.user.persona.apellidos }} de
              {{ data.item.tanda.hora_inicio | moment('hh:mm a') }} a
              {{ data.item.tanda.hora_fin | moment('hh:mm a') }}
            </b>
          </template>
          <template slot="item" slot-scope="data">
            <b>
              {{ data.item.user.cargo.nombre }}
              {{ data.item.user.persona.nombres }}
              {{ data.item.user.persona.apellidos }} de
              {{ data.item.tanda.hora_inicio | moment('hh:mm a') }} a
              {{ data.item.tanda.hora_fin | moment('hh:mm a') }}
            </b>
            <b></b>
          </template>
        </v-autocomplete>
      </v-flex>
      <v-flex xs2 sm2 md2 lg2>
        <v-btn
          fab
          dark
          color="blue"
          :disabled="
            form.vehiculo == null ||
              DiaSeleccionado == null ||
              form.empleado == null
          "
          @click="agregarEmpleado()"
        >
          <v-icon dark>add</v-icon>
        </v-btn>
      </v-flex>
      <v-flex
        v-for="(item, i) in vehiculoConEmpleados"
        :key="`${i}`"
        xs12
        sm12
        md12
        lg12
        row
        wrap
        text-xs-left
      >
        <v-chip style="    margin-bottom: 9px;">
          {{ item.user.cargo.nombre }}&#160;
          <b>
            {{ item.user.persona.nombres }}
            {{ item.user.persona.apellidos }}
          </b>
          &#160;
          {{ item.tanda.dia.nombre }} de
          {{ item.tanda.hora_inicio | moment('hh:mm a') }} a
          {{ item.tanda.hora_fin | moment('hh:mm a') }}
          <v-btn
            fab
            small
            dark
            color="red"
            @click="$emit('eliminarUnEmpleado', item)"
          >
            <v-icon dark>delete</v-icon>
          </v-btn>
        </v-chip>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'
import _ from 'lodash'
export default {
  props: {
    form: {
      type: Object,
      default: () => {}
    },
    vehiculoConEmpleados: {
      type: Array,
      default: () => []
    },
    dias: {
      type: Array,
      default: () => []
    },
    id: {
      type: Number,
      default: () => 0
    },
    vehiculos: {
      type: Array,
      default: () => []
    },
    show: {
      type: Boolean,
      default: () => {
        return false
      }
    }
  },
  data() {
    return {
      searchVehiculos: null,
      searchEmpleados: null,
      DiaSeleccionado: null
    }
  },
  computed: {
    itemsEmpleados() {
      const empleados = []
      if (this.DiaSeleccionado) {
        for (
          let index = 0;
          index < this.DiaSeleccionado.turnos.length;
          index++
        ) {
          const turno = this.DiaSeleccionado.turnos[index]
          const found = _.findIndex(this.vehiculoConEmpleados, ['id', turno.id])
          if (found < 0) {
            empleados.push(turno)
          }
        }
        // empleados = this.DiaSeleccionado.users
      }
      console.log('form.cargo.users ', this.DiaSeleccionado, this.dias)
      console.log('this.vehiculoConEmpleados ', this.vehiculoConEmpleados)
      return empleados
    },
    invalid() {
      this.$emit('invalid', !this.vehiculoConEmpleados.length > 0)
      // this.$emit('invalid', this.$v.$invalid)
      return this.$v.$invalid
    },
    vehiculoerrors() {
      const errors = []
      if (!this.$v.form.vehiculo.$dirty) return errors
      !this.$v.form.vehiculo.minLength &&
        errors.push('Este campo debe tener mas caracteres')
      !this.$v.form.vehiculo.required && errors.push('El campo es requerido.')
      return errors
    },
    cargoerrors() {
      const errors = []
      if (!this.$v.form.cargo.$dirty) return errors
      !this.$v.form.cargo.minLength &&
        errors.push('Este campo debe tener mas caracteres')
      !this.$v.form.cargo.required && errors.push('El campo es requerido.')
      return errors
    }
    // empleadoerrors() {
    //   const errors = []
    //   if (!this.$v.form.empleado.$dirty) return errors
    //   !this.$v.form.empleado.minLength &&
    //     errors.push('Este campo debe tener mas caracteres')
    //   !this.$v.form.empleado.required && errors.push('El campo es requerido.')
    //   return errors
    // }
  },
  watch: {
    invalid(val) {
      console.log('val', val)
      // val || this.close()
    },
    show(val) {
      // console.log('show ', val, this.$data)
      if (val) {
        return
      }
      setTimeout(() => {
        setTimeout(() => {
          this.$v.$reset()
        }, 0)
        Object.assign(this.$data, this.$options.data.apply(this))
      }, 500)
    }
  },
  methods: {
    agregarEmpleado() {
      // console.log(this.form.empleado, 'form.empleado')
      // this.vehiculoConEmpleados.push(this.DiaSeleccionado)
      this.$emit('agregarEmpleadosaVehiculos', this.form.empleado)
      this.form.empleado = null
    },
    customFilterVehiculo(item, queryText, itemText) {
      const textOne = String(item.marca).toLowerCase()
      const text2 = String(item.modelo).toLowerCase()
      const text3 = String(item.placa).toLowerCase()
      const searchText = queryText.toLowerCase()
      return (
        textOne.indexOf(searchText) > -1 ||
        text2.indexOf(searchText) > -1 ||
        text3.indexOf(searchText) > -1
      )
    },
    customFilterCargo(item, queryText, itemText) {
      const textOne = String(item.nombre).toLowerCase()
      const searchText = queryText.toLowerCase()
      return textOne.indexOf(searchText) > -1
    },
    customFilterEmpleado(item, queryText, itemText) {
      const textOne = String(item.marca).toLowerCase()
      const text2 = String(item.modelo).toLowerCase()
      const text3 = String(item.placa).toLowerCase()
      const searchText = queryText.toLowerCase()
      return (
        textOne.indexOf(searchText) > -1 ||
        text2.indexOf(searchText) > -1 ||
        text3.indexOf(searchText) > -1
      )
    }
  },
  validations: {
    form: {
      vehiculo: {
        required,
        minLength: minLength(4)
      },
      cargo: {
        required,
        minLength: minLength(4)
      }
      // empleado: {
      //   required,
      //   minLength: minLength(4)
      // }
    }
  }
}
</script>

<style></style>
