<template>
  <div class="text-xs-center">
    <v-dialog v-model="dialog" width="800" persistent>
      <template v-slot:activator="{ on }">
        <v-btn
          v-if="
            id == 0 && tengoPermiso(PERMITIDOS['Productos'], PERMIS.PERM_CREAR)
          "
          color="red lighten-2"
          dark
          v-on="on"
        >
          {{ title }}
        </v-btn>
        <v-icon
          v-if="
            id != 0 &&
              tengoPermiso(PERMITIDOS['Productos'], PERMIS.PERM_ACTUALIZAR)
          "
          style="padding: 5px;"
          small
          class="mr-2"
          v-on="on"
          >edit</v-icon
        >
      </template>

      <v-card>
        <v-card-title class="headline" primary-title>
          {{ title }}
          <v-spacer></v-spacer>
          <v-layout align-start row>
            <v-flex xs12 sm6 md5>
              <v-switch
                v-model="form.estado"
                label="Estado"
                color="red"
                :value="true"
              ></v-switch>
            </v-flex>
          </v-layout>
        </v-card-title>
        <formTurnoVehiculo
          :id="id"
          :form="form"
          :show="dialog"
          :vehiculos="vehiculos"
          :dias="diasConTurnos"
          :vehiculo-con-empleados="vehiculoConEmpleados"
          @eliminarEmpleadosSeleccioandos="vehiculoConEmpleados = []"
          @agregarEmpleadosaVehiculos="agregarEmpleadosaVehiculos"
          @eliminarUnEmpleado="eliminarUnEmpleado"
          @invalid="invalid"
        ></formTurnoVehiculo>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn color="red" flat @click.stop="dialog = false">Cancelar</v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="blue"
            raise
            :disabled="formInvalid"
            @click.stop="enviar()"
            >{{ id == 0 ? 'Guardar' : 'Actualizar' }}</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="ok" top right :color="color">
      {{ error }}
      <v-btn dark flat @click.stop="ok = false">Cerrar</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import _ from 'lodash'
import {
  tengoPermiso,
  PERMITIDOS,
  PERMIS,
  CURRENT_USER
} from '~/services/GLOBAL'
import CRUDService from '~/services/CRUDService'
import formTurnoVehiculo from '~/components/turnos_vehiculos/form_turno_vehiculo.vue'
// import { required } from 'vuelidate/lib/validators'
// import moment from 'moment'

function dataDefault() {
  return {
    PERMITIDOS,
    PERMIS,
    tengoPermiso,
    dialog: false,
    formInvalid: true,
    error: null,
    ok: false,
    color: 'orange',
    dataParaActualizar: null,
    tandaSeleccionada: null,
    tandasSeleccionadas: [],
    vehiculoConEmpleados: [],
    searchEmpleados: null,
    searchTandas: null,
    form: {
      vehiculo: null,
      empleado: null,
      cargo: null,
      estado: true
    }
  }
}
export default {
  components: { formTurnoVehiculo },
  props: {
    id: {
      type: Number,
      default: 0
    },
    title: {
      type: String,
      default: 'nada'
    },
    vehiculos: {
      type: Array,
      default: () => []
    },
    diasConTurnos: {
      type: Array,
      default: () => []
    },
    crud: {
      type: CRUDService,
      default: () => new CRUDService()
    }
  },
  data: dataDefault,
  computed: {},
  watch: {
    dialog(val) {
      if (val && this.id !== 0) {
        this.getById(this.id)
      }
      val || this.close()
      // val || this.close()
    }
  },
  created() {
    CURRENT_USER.subscribe(() => {
      this.$forceUpdate()
    })
    // if (this.id !== 0) {
    //   // this.getDias()
    // }
  },
  methods: {
    invalid(params) {
      let l = true
      if (params !== undefined) {
        l = params
      }
      this.formInvalid = l
      console.log('invalid=> params', params)
      return l
    },
    getById(id) {
      this.crud.httpRailsHelper(`vehiculos/${this.id}/turnos`, 'get').subscribe(
        res => {
          console.log('diasConTurnos id data', res.data, this.diasConTurnos)
          const vehiculo = _.find(this.vehiculos, ['id', res.data.id])
          if (vehiculo) {
            this.form.vehiculo = vehiculo
            this.vehiculoConEmpleados = res.data.turnos_vehiculos
            this.dataParaActualizar = JSON.parse(
              JSON.stringify(res.data.turnos_vehiculos)
            )
          }
        },
        err => console.log('aslkdalsjkdakls;', err)
      )
    },
    eliminarUnEmpleado(item) {
      const index = this.vehiculoConEmpleados.indexOf(item)
      this.vehiculoConEmpleados.splice(index, 1)
    },

    agregarEmpleadosaVehiculos(item) {
      const found = _.findIndex(this.vehiculoConEmpleados, ['id', item.id])
      if (found < 0) {
        this.vehiculoConEmpleados.unshift(item)
      } else {
        this.showError('El empleado existe en esa tanta!!')
      }
    },
    enviar() {
      const formulario = {
        vehiculo_id: this.form.vehiculo.id,
        turnos: this.id === 0 ? _.map(this.vehiculoConEmpleados, 'id') : []
      }
      let operation = 'post'
      let ruta = 'turnos_vehiculos'
      if (this.id !== 0) {
        operation = 'patch'
        ruta += `/${this.id}`
        for (let index = 0; index < this.dataParaActualizar.length; index++) {
          const turnoVehiculo = this.dataParaActualizar[index]
          const found = _.findIndex(this.vehiculoConEmpleados, [
            'id',
            turnoVehiculo.id
          ])
          if (found < 0) {
            formulario.turnos.push({ id: turnoVehiculo.id, action: 'd' })
          }
        }
        for (let index = 0; index < this.vehiculoConEmpleados.length; index++) {
          const turnoVehiculo = this.vehiculoConEmpleados[index]
          const found = _.findIndex(this.dataParaActualizar, [
            'id',
            turnoVehiculo.id
          ])
          if (found < 0) {
            formulario.turnos.push({ id: turnoVehiculo.id, action: 'i' })
          }
        }
      }
      // {vehiculo_id: 1, turnos: [{id: } ],  activo:}
      console.log('formulario', formulario, ruta, operation)

      this.crud
        .httpRailsHelper(ruta, operation, { turno_vehiculo: formulario })
        .subscribe(
          res => {
            this.showError('Vehiculo asignado correctamente!!', 'green')
            this.$emit('recargar')
            this.dialog = false
            // console.log('crearturnos', res.data)
          },
          err => {
            console.log('error turnos:', err)

            this.showError(
              'Error: ' +
                (err.response.data.msg
                  ? JSON.stringify(err.response.data.msg)
                  : JSON.stringify(err.response.data)),
              'red'
            )
          }
        )
    },
    showError(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.color = color
    },
    close() {
      this.dialog = false
      setTimeout(() => {
        Object.assign(this.$data, this.$options.data.apply(this))
        // this.$v.$reset()
      }, 1000)
    }
  }
}
</script>

<style></style>
