<template>
  <div class="text-xs-center">
    <v-dialog v-model="dialog" persistent width="500">
      <template v-slot:activator="{ on }">
        <v-btn v-if="id == 0" color="red lighten-2" dark v-on="on"
          >Crear nueva {{ title }}</v-btn
        >
        <v-icon
          v-if="id != 0"
          style="padding: 5px;"
          small
          class="mr-2"
          v-on="on"
          >edit</v-icon
        >
      </template>

      <v-card>
        <v-card-title class="headline" primary-title>
          Nuevo {{ title }}
          <v-spacer></v-spacer>
          <v-layout align-start justify-end row>
            <v-flex xs12 sm6 md5>
              <v-switch
                v-model="form.activo"
                label="Estado"
                color="red"
                :value="true"
              ></v-switch>
            </v-flex>
          </v-layout>
        </v-card-title>

        <!-- <v-container fluid>
          <v-layout align-start justify-space-between row fill-height wrap>
            <v-flex xs12 sm6 md5>
              <v-text-field
                v-model="form.marca"
                label="Marca"
                :error-messages="marcaErrors"
                @input="$v.form.marca.$touch()"
                @blur="$v.form.marca.$touch()"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 md5>
              <v-text-field
                v-model="form.modelo"
                label="Modelo"
                :error-messages="modeloErrors"
                @input="$v.form.modelo.$touch()"
                @blur="$v.form.modelo.$touch()"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 md5>
              <v-text-field
                v-model="form.placa"
                label="Placa"
                :error-messages="placaErrors"
                @input="$v.form.placa.$touch()"
                @blur="$v.form.placa.$touch()"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 md5>
              <v-text-field
                v-model="form.anio"
                label="Año"
                placeholder="2019"
                type="number"
                :error-messages="anioErrors"
                @input="$v.form.anio.$touch()"
                @blur="$v.form.anio.$touch()"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 md5>
              <v-text-field v-model="form.alias" label="Alias"></v-text-field>
            </v-flex>
          </v-layout>
        </v-container>-->
        <formVehiculo
          :form="form"
          :show="dialog"
          @invalid="invalid"
        ></formVehiculo>
        <v-divider></v-divider>

        <v-card-actions>
          <v-btn color="red" flat @click="dialog = false">Cancelar</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" raise :disabled="formInvalid" @click="enviar()"
            >Guardar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="ok" top right :color="color">
      {{ error }}
      <v-btn dark flat @click="ok = false">Cerrar</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import CRUDService from '~/services/CRUDService'

import formVehiculo from '~/components/vehiculos/formVehiculo.vue'
// import { required } from 'vuelidate/lib/validators'
export default {
  components: {
    formVehiculo
  },
  props: {
    title: {
      type: String,
      default: 'nada'
    },
    crud: {
      type: CRUDService,
      default: () => new CRUDService()
    },
    id: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      formInvalid: true,
      dialog: false,
      error: null,
      ok: false,
      color: 'green',
      menu1: false,
      form: {
        marca: '',
        modelo: '',
        placa: '',
        anio: null,
        alias: '',
        ultimo_restablecimiento_de_inventario: '',
        activo: true
      }
    }
  },
  watch: {
    dialog(val) {
      if (val && this.id !== 0) {
        this.getById(this.id)
      }
      val || this.close()
    }
  },
  methods: {
    invalid(params) {
      let l = true
      if (params !== undefined) {
        l = params
      }
      this.formInvalid = l
      return l
    },
    getById(id) {
      this.crud
        .httpRailsHelper(`vehiculos/${id}`, 'get')
        .pipe()
        .subscribe(
          res => {
            console.log('vehiculo id data', res.data)
            // res.data.ciudad_id = res.data.ciudad.id
            // if (res.data.cargo) {
            //   res.data.empleado = true
            //   res.data.cargo_id = res.data.cargo.id
            //   // this.isLoading = true
            // }
            this.form = { ...res.data }
          },
          err =>
            this.showError(
              'Ocurrio un error al crear el personas: ' + JSON.stringify(err)
            )
        )
    },
    formatDate(date) {
      if (!date) return null

      const [year] = date.split('-')
      // return `${day}/${month}/${year}`
      // month = 0
      // day = 0
      return `${year}`
    },
    enviar() {
      const methodHttp = this.id === 0 ? 'post' : 'patch'
      const cUri = this.id === 0 ? '' : `/${this.id}`

      this.crud
        .httpRailsHelper(`vehiculos${cUri}`, methodHttp, this.form)
        .subscribe(
          res => {
            this.showSnackBar(res.data.msg || 'Creado correctamente', 'green')
            this.$emit('recargar')
            console.log('crearTanda', res.data)
            this.form = {
              marca: '',
              modelo: '',
              placa: '',
              anio: null,
              alias: '',
              ultimo_restablecimiento_de_inventario: '',
              estado: true
            }
            // this.$v.$reset()
            this.dialog = false
          },
          err =>
            // this.showError(
            //   'Ocurrio un error al crear Tanda: ' + JSON.stringify(err)
            // )
            this.showSnackBar(
              err.response.data.msg || 'Error al eliminar',
              'red'
            )
        )
    },
    close() {
      setTimeout(() => {
        // setTimeout(() => {
        // this.$v.$reset()
        // }, 0)
        Object.assign(this.$data, this.$options.data.apply(this))
      }, 500)
    },
    showError(msg) {
      this.error = msg
      this.ok = true
    },
    showSnackBar(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.color = color
    }
  }
}
</script>

<style></style>
