<template>
  <span>
    <v-container fluid>
      <v-layout align-start justify-space-between row fill-height wrap>
        <v-flex xs12 sm6 md5>
          <v-text-field
            v-model="form.marca"
            label="Marca"
            :error-messages="marcaErrors"
            @input="$v.form.marca.$touch()"
            @blur="$v.form.marca.$touch()"
          ></v-text-field>
        </v-flex>
        <v-flex xs12 sm6 md5>
          <v-text-field
            v-model="form.modelo"
            label="Modelo"
            :error-messages="modeloErrors"
            @input="$v.form.modelo.$touch()"
            @blur="$v.form.modelo.$touch()"
          ></v-text-field>
        </v-flex>
        <v-flex xs12 sm6 md5>
          <v-text-field
            v-model="form.placa"
            label="Placa"
            :error-messages="placaErrors"
            @input="$v.form.placa.$touch()"
            @blur="$v.form.placa.$touch()"
          ></v-text-field>
        </v-flex>
        <v-flex xs12 sm6 md5>
          <v-text-field
            v-model="form.anio"
            label="Año"
            placeholder="2019"
            type="number"
            :error-messages="anioErrors"
            @input="$v.form.anio.$touch()"
            @blur="$v.form.anio.$touch()"
          ></v-text-field>
        </v-flex>
        <v-flex xs12 sm6 md5>
          <v-text-field v-model="form.alias" label="Alias"></v-text-field>
        </v-flex>
      </v-layout>
    </v-container>
  </span>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
export default {
  props: {
    form: {
      type: Object,
      default: () => {}
    },
    show: {
      type: Boolean,
      default: () => {
        return false
      }
    }
  },
  validations: {
    form: {
      marca: {
        required
      },
      modelo: {
        required
      },
      placa: {
        required
      },
      anio: {
        required
      },
      alias: {
        required
      }
      // ultimo_restablecimiento_de_inventario: '',
      // estado: true
    }
  },
  computed: {
    computedDateFormatted() {
      return this.formatDate(this.form.anio)
    },
    invalid() {
      this.$emit('invalid', this.$v.$invalid)
      return this.$v.$invalid
    },
    marcaErrors() {
      const errors = []
      if (!this.$v.form.marca.$dirty) return errors
      // !this.$v.form.marca.diff && errors.push('Deves seleccionar unu')
      !this.$v.form.marca.required && errors.push('Este campo es requerido.')
      return errors
    },
    anioErrors() {
      const errors = []
      if (!this.$v.form.anio.$dirty) return errors
      // !this.$v.form.anio.diff && errors.push('Deves seleccionar unu')
      !this.$v.form.anio.required && errors.push('Este campo es requerido.')
      return errors
    },
    placaErrors() {
      const errors = []
      if (!this.$v.form.placa.$dirty) return errors
      // !this.$v.form.placa.diff && errors.push('Deves seleccionar unu')
      !this.$v.form.placa.required && errors.push('Este campo es requerido.')
      return errors
    },
    modeloErrors() {
      const errors = []
      if (!this.$v.form.modelo.$dirty) return errors
      // !this.$v.form.modelo.diff && errors.push('Deves seleccionar unu')
      !this.$v.form.modelo.required && errors.push('Este campo es requerido.')
      return errors
    }
  },
  watch: {
    invalid(val) {
      console.log('val', val)
      // val || this.close()
    },
    show(val) {
      // console.log('show ', val, this.$data)
      if (val) {
        return
      }
      setTimeout(() => {
        setTimeout(() => {
          this.$v.$reset()
        }, 0)
        Object.assign(this.$data, this.$options.data.apply(this))
      }, 500)
    }
  }
}
</script>

<style></style>
