<template>
  <span>
    <v-container fluid>
      <v-layout align-start justify-space-between row fill-height wrap>
        <v-flex xs12 sm6 md5>
          <v-text-field
            v-model="form.nombre"
            label="Nombre"
            :error-messages="nombreErrors"
            @input="$v.form.nombre.$touch()"
            @blur="$v.form.nombre.$touch()"
          ></v-text-field>
        </v-flex>
        <v-flex xs12 sm6 md5>
          <v-text-field
            v-model="form.valor_del_dia_en_horas"
            label="Valor de dias en horas"
            mask="##"
            :error-messages="valor_del_dia_en_horasErrors"
            @input="$v.form.valor_del_dia_en_horas.$touch()"
            @blur="$v.form.valor_del_dia_en_horas.$touch()"
          ></v-text-field>
        </v-flex>
        <v-flex xs12 sm6 md5>
          <v-text-field
            v-model="form.cant_dias_libres"
            label="Dias libres"
            mask="##"
            :error-messages="cant_dias_libresErrors"
            @input="$v.form.cant_dias_libres.$touch()"
            @blur="$v.form.cant_dias_libres.$touch()"
          ></v-text-field>
        </v-flex>
      </v-layout>
    </v-container>
  </span>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'
export default {
  props: {
    form: {
      type: Object,
      default: () => {}
    },
    show: {
      type: Boolean,
      default: () => {
        return false
      }
    }
  },
  validations: {
    form: {
      nombre: {
        required,
        minLength: minLength(4)
      },
      valor_del_dia_en_horas: {
        required,
        minLength: minLength(1)
      },
      cant_dias_libres: {
        required,
        minLength: minLength(1)
      }
    }
  },
  computed: {
    invalid() {
      this.$emit('invalid', this.$v.$invalid)
      return this.$v.$invalid
    },
    nombreErrors() {
      const errors = []
      if (!this.$v.form.nombre.$dirty) return errors
      !this.$v.form.nombre.minLength &&
        errors.push('Este campo debe tener mas caracteres')
      !this.$v.form.nombre.required && errors.push('El campo es requerido.')
      return errors
    },
    valor_del_dia_en_horasErrors() {
      const errors = []
      if (!this.$v.form.valor_del_dia_en_horas.$dirty) return errors
      !this.$v.form.valor_del_dia_en_horas.minLength &&
        errors.push('Este campo debe tener mas caracteres')
      !this.$v.form.valor_del_dia_en_horas.required &&
        errors.push('El campo es requerido.')
      return errors
    },
    cant_dias_libresErrors() {
      const errors = []
      if (!this.$v.form.cant_dias_libres.$dirty) return errors
      !this.$v.form.cant_dias_libres.minLength &&
        errors.push('Este campo debe tener mas caracteres')
      !this.$v.form.cant_dias_libres.required &&
        errors.push('El campo es requerido.')
      return errors
    }
  },
  watch: {
    invalid(val) {
      // console.log('val', val)
      // val || this.close()
    },
    show(val) {
      // console.log('show ', val, this.$data)
      if (val) {
        return
      }
      setTimeout(() => {
        setTimeout(() => {
          this.$v.$reset()
        }, 0)
        Object.assign(this.$data, this.$options.data.apply(this))
      }, 500)
    }
  }
}
</script>

<style></style>
