<template>
  <div class="text-xs-center">
    <v-dialog v-model="dialog" width="600" persistent>
      <template v-slot:activator="{ on }">
        <v-btn v-if="id == 0" color="red lighten-2" dark v-on="on"
          >Crear nueva {{ title }}</v-btn
        >
        <v-icon
          v-if="id != 0"
          style="padding: 5px;"
          small
          class="mr-2"
          v-on="on"
          >edit</v-icon
        >
      </template>

      <v-card>
        <v-card-title class="headline" primary-title>
          {{ id == 0 ? 'Nueva' : 'Actualizar' }} {{ title }}
          <v-spacer></v-spacer>
          <v-layout align-start justify-end row>
            <v-flex xs12 sm5 md5>
              <v-switch
                v-model="form.activo"
                label="Estado"
                color="red"
                :value="true"
              ></v-switch>
            </v-flex>
          </v-layout>
        </v-card-title>
        <v-container fluid>
          <v-layout align-start justify-space-between row fill-height wrap>
            <v-flex xs12 sm6 md6>
              <v-text-field
                v-model="form.descripcion"
                label="Descripción"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm5 md5>
              <!-- <p>{{ form.cargo_id }}</p> -->
              <v-autocomplete
                v-model="form.cargo_id"
                :items="cargos"
                :loading="isLoadingCargos"
                :search-input.sync="searchCargos"
                color="white"
                hide-no-data
                hide-selected
                item-text="nombre"
                item-value="id"
                label="Cargo"
                placeholder="Cargos"
                prepend-icon="mdi-database-search"
                required
                :error-messages="cargoErrors"
                @input="$v.form.cargo_id.$touch()"
                @blur="$v.form.cargo_id.$touch()"
              ></v-autocomplete>
            </v-flex>
            <v-flex xs10 md10 lg10>
              <v-autocomplete
                v-model="modelDiaSeleccionado"
                :hint="'Dia de la tanda'"
                :items="dias"
                :label="`Dia de la semana`"
                item-text="nombre"
                return-object
                persistent-hint
                prepend-icon="calendar_today"
                :error-messages="erroresTandas"
                @change="onChangeDia()"
              >
                <template v-slot:append-outer>
                  <v-slide-x-reverse-transition
                    mode="out-in"
                  ></v-slide-x-reverse-transition>
                </template>
              </v-autocomplete>
            </v-flex>
            <v-flex xs2 md2 lg2>
              <v-btn
                fab
                dark
                color="blue"
                :disabled="modelDiaSeleccionado == null"
                @click="onChangeDia"
              >
                <v-icon dark>add</v-icon>
              </v-btn>
            </v-flex>
            <v-layout
              v-for="(item, i) in diasConRangoDeHoras"
              :key="`${i}`"
              row
              align-start
              justify-space-between
              fill-height
              wrap
              xs12
              md12
              lg12
            >
              <v-flex xs1 sm1 md1>
                <h1 style="margin-top: 10px;">
                  {{ item.dia ? item.dia.alias : ' ' }}
                </h1>
              </v-flex>

              <v-flex xs12 sm4 md4>
                <v-menu
                  ref="menu2"
                  v-model="item.menu2"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="item.hora_inicio"
                      label="Hora Inicio"
                      prepend-icon="access_time"
                      readonly
                      @change="validarHoraInicio(item, i)"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-time-picker
                    v-if="item.menu2"
                    v-model="item.hora_inicio"
                    full-width
                    min="0:00"
                    @change="validarHoraInicio(item, i)"
                  ></v-time-picker>
                </v-menu>
              </v-flex>
              <v-flex xs12 sm4 md4>
                <!-- <p>{{ item.hora_inicio }}</p> -->
                <v-menu
                  :ref="`menu1`"
                  v-model="item.menu1"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="item.hora_fin"
                      label="Hora Fin"
                      prepend-icon="access_time"
                      readonly
                      @change="validarHora24"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-time-picker
                    v-if="item.menu1"
                    v-model="item.hora_fin"
                    :min="item.hora_inicio"
                    full-width
                    @change="validarHora24"
                  ></v-time-picker>
                </v-menu>
              </v-flex>
              <v-flex xs1>
                <v-btn
                  fab
                  small
                  dark
                  color="red"
                  @click="EliminarRangoDeHorasDeLista(item)"
                >
                  <v-icon dark>delete</v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
          </v-layout>
        </v-container>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn color="red" flat @click="dialog = false">Cancelar</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" :disabled="invalid" raise @click="enviar()"
            >Guardar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="ok" top right :color="color">
      {{ error }}
      <v-btn dark flat @click.stop="ok = false">Cerrar</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
// @click:minute="$refs.menu.save(form.hora_fin)"
import moment from 'moment'
import _ from 'lodash'
import { required } from 'vuelidate/lib/validators'
// import { Observable, of } from 'rxjs'
import CRUDService from '~/services/CRUDService'
function dataDefault() {
  return {
    erroresTandas: [],
    eventStartDateMenu: false,
    eventEndDateMenu: false,
    eventStartDate: new Date().toISOString().substr(0, 10),
    eventEndDate: new Date().toISOString().substr(0, 10),
    dialog: false,
    error: null,
    ok: false,
    color: 'green',
    // menu2: false,
    // menu: null,
    // item.menu1: false,
    isLoadingCargos: false,
    isLoadingDias: false,
    searchDias: null,
    searchCargos: null,
    headersDias: [],
    diasConRangoDeHoras: [],
    // listcargos: this.cargos,
    // listaDias: this.dias,
    modelDiaSeleccionado: null,
    form: {
      cargo_id: null,
      descripcion: '',
      tandas: [],
      activo: true
    }
  }
}
export default {
  props: {
    id: {
      type: Number,
      default: 0
    },
    title: {
      type: String,
      default: ''
    },
    crud: {
      type: CRUDService,
      default: () => new CRUDService()
    },
    dias: {
      type: Array,
      default: function() {
        return []
      }
    },
    cargos: {
      type: Array,
      default: function() {
        return []
      }
    }
  },
  data: dataDefault,
  computed: {
    cargoErrors() {
      const errors = []
      if (!this.$v.form.cargo_id.$dirty) return errors
      // !this.$v.form.cargo_id.diff && errors.push('Deves seleccionar unu')
      !this.$v.form.cargo_id.required && errors.push('Este campo es requerido.')
      return errors
    },
    invalid() {
      return this.$v.$invalid
    }
  },
  watch: {
    dialog(val) {
      if (val && this.id !== 0) {
        this.getById(this.id)
      }
      val || this.close()
      // val || this.close()
    }
  },
  validations: {
    form: {
      cargo_id: {
        required
        // minLength: minLength(5),
        // diff: diff(0)
      }
    }
  },
  // :cargo_id, :activo, tandas: [:dia_id, :hora_inicio, :hora_fin]
  created() {
    // this.diasConRangoDeHoras.push({
    //   dia: { alias: 'Lun' },
    //   hora_inicio: '',
    //   hora_fin: '',
    //   menu1: false,
    //   menu2: false
    // })
    console.log('diassssssss', moment())
    // this.llenarHeadersListaDeLosDias()
  },
  methods: {
    getById(id) {
      this.crud.httpRailsHelper(`cargos/${id}`, 'get').subscribe(
        res => {
          // this.showError('Cargo creado correctamente!!', 'green')
          // this.dialog = false
          // this.$emit('recargar')
          console.log('tandas id data', res.data)
          this.form.cargo_id = res.data.id
          // this.form.tandas = res.data.tandas
          this.form.descripcion = res.data.tandas[0].descripcion

          for (let i = 0; i < res.data.tandas.length; i++) {
            const tand = res.data.tandas[i]
            const obj = {}
            obj.hora_inicio = moment(tand.hora_inicio).format('HH:mm')
            obj.hora_fin = moment(tand.hora_fin).format('HH:mm')
            obj.dia = tand.dia
            obj.id = tand.id
            this.diasConRangoDeHoras.push(obj)
          }
          console.log('FORM?;:::', this.form)
          // this.form = { ...res.data, cargo_id: res.data.id }
        },
        err =>
          this.showError(
            'Ocurrio un error al crear el cargo: ' + JSON.stringify(err)
          )
      )
    },
    showSnackBar(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.color = color
    },
    validarHoraInicio(item, posicion) {
      if (item.hora_fin.length > 2) {
        const cond = !moment(item.hora_inicio, 'HH:mm').isBefore(
          moment(item.hora_fin, 'HH:mm')
        )
        if (cond) {
          this.diasConRangoDeHoras[posicion].hora_fin = item.hora_inicio
        }
      }
    },
    validarHora24() {
      const agrupado = _.groupBy(this.diasConRangoDeHoras, 'dia.alias')
      _.forEach(agrupado, (diaAgrupado, key) => {
        let minutos = 0
        // const minutos = 0
        _.forEach(diaAgrupado, (dia, i) => {
          const hIniciosplited = dia.hora_inicio.split(':')
          const hFinplited = dia.hora_inicio.split(':')
          if (hIniciosplited.length > 1 && hFinplited.length > 1) {
            if (diaAgrupado[i - 1] && diaAgrupado[i - 1].hora_fin) {
              // if (
              //   parseInt(hIniciosplited[0]) >
              //   parseInt(diaAgrupado[i - 1].hora_fin.split(':')[0])
              // ) {
              const cond = moment(dia.hora_inicio, 'HH:mm').isBefore(
                moment(diaAgrupado[i - 1].hora_fin, 'HH:mm')
              )
              if (cond) {
                this.sacarbyKey(key)
              }
              return
              // }
            }

            const tTime = moment.duration(
              moment(dia.hora_fin, 'HH:mm').diff(
                moment(dia.hora_inicio, 'HH:mm')
              )
            )
            minutos += tTime.asMinutes()
            console.log('TOTAL MOMENT:::', tTime.asMinutes())
          }
        })
        console.log('TOTAL POR DIA:::', key, minutos)
        if (minutos >= 1435) {
          this.sacarbyKey(key)
        }
      })
    },
    sacarbyKey(alias = 'Dom') {
      let n = true
      this.diasConRangoDeHoras = this.diasConRangoDeHoras
        .reverse()
        .filter(dia => {
          if (dia && dia.dia && dia.dia.alias === alias && n) {
            n = false
          } else {
            return dia
          }
        })
        .reverse()
    },
    enviar() {
      const formulario = JSON.parse(JSON.stringify(this.form))
      console.log('form', this.form)
      console.log('this.diasConRangoDeHoras', this.diasConRangoDeHoras)
      for (let index = 0; index < this.diasConRangoDeHoras.length; index++) {
        const elemt = this.diasConRangoDeHoras[index]
        if (elemt.hora_inicio && elemt.hora_fin) {
          moment(elemt.hora_inicio, 'HH:mm').isBefore(
            moment(elemt.hora_fin, 'HH:mm')
          ) // )
          if (
            elemt.hora_inicio.split(':')[0] === elemt.hora_fin.split(':')[0]
          ) {
            console.log('Deve haver almenos una hora en todas las tandas')
            this.showError(
              'Necesita haver almenos una hora en todas las tandas'
            )
            return
          }
          formulario.tandas.push({
            id: elemt.id ? elemt.id : null,
            dia_id: elemt.dia.id,
            hora_inicio: elemt.hora_inicio,
            hora_fin: elemt.hora_fin
          })
        }
      }
      if (formulario.tandas.length < 1) {
        this.showError('Agregue rango de horas')
        return
      }
      if (!formulario.cargo_id) {
        this.showError('Seleccione el cargo')
      }
      if (formulario.cargo_id.id) {
        formulario.cargo_id = formulario.cargo_id.id
      }
      console.log(formulario, this.$nuxt)
      let operation = 'post'
      let ruta = 'tandas'
      if (this.id !== 0) {
        ruta = 'tandas/1'
        operation = 'patch'
      }
      this.crud
        .httpRailsHelper(ruta, operation, { tanda: formulario })
        .subscribe(
          res => {
            this.form = {
              cargo_id: null,
              descripcion: '',
              tandas: [],
              activo: true
            }
            this.diasConRangoDeHoras = []
            this.$emit('recargar')
            console.log('crearTanda', res.data)
            this.dialog = false
            this.showSnackBar(
              res.data.msg ||
                `${this.id === 0 ? 'Creado' : 'Actializado'} correctamente`,
              'green'
            )
            this.close()
          },
          err => {
            this.showSnackBar(
              err.response.data.msg ||
                `Error al ${this.id === 0 ? 'Crear' : 'Actualizar'}`,
              'red'
            )
          }
        )
    },
    showError(msg) {
      this.error = msg
      this.ok = true
    },
    close() {
      setTimeout(() => {
        setTimeout(() => {
          this.$v.$reset()
        }, 0)
        Object.assign(this.$data, this.$options.data.apply(this))
      }, 500)
    },
    onChangeDia() {
      if (this.modelDiaSeleccionado) {
        this.diasConRangoDeHoras.push({
          dia: this.modelDiaSeleccionado,
          hora_inicio: '',
          hora_fin: '',
          menu1: false,
          menu2: false
          // err: this.tandaErrors
        })
      }
      const errors = []
      console.log('tandas N:', this.diasConRangoDeHoras.length)

      if (this.diasConRangoDeHoras.length < 1) {
        errors.push('Necesitas tener almenos una tanda')
      }
      this.erroresTandas = errors
      // const obj = this.tandaErrors
      // console.log();
    },
    EliminarRangoDeHorasDeLista(item) {
      const index = this.diasConRangoDeHoras.indexOf(item)
      if (index >= 0) {
        this.diasConRangoDeHoras.splice(index, 1)
      }
    }
  }
}
</script>

<style></style>
