<template>
  <v-card>
    <v-card-title
      style="background-color: rgba(156, 72, 0, 0.82); border-radius: 10px;"
    >
      <h5>{{ area.area.toUpperCase().replace('_', ' ') }}</h5>
    </v-card-title>
    <v-container>
      <v-layout row wrap>
        <camposPlantilla
          v-for="campo in area.campos"
          :key="campo.id + campo.nombre"
          :campo="campo"
        ></camposPlantilla>
      </v-layout>

      <v-layout v-if="area.sub_areas">
        <v-flex
          v-for="sub_area in area.sub_areas"
          :key="sub_area.id"
          xs12
          sm6
          md2
        >
          <h4
            style="padding:4px;background-color: rgba(156, 172, 0, 0.82); border-radius: 10px;"
          >
            {{ sub_area.sub_area.nombre }}
          </h4>
          <camposPlantilla
            v-for="campo in sub_area.sub_area.campos"
            :key="sub_area.id + campo.nombre"
            :campo="campo"
          ></camposPlantilla>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
import camposPlantilla from './camposPlantilla'
export default {
  components: {
    camposPlantilla
  },
  props: {
    area: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style></style>
