<template>
  <v-flex xs12 sm6 md3>
    <div v-if="campo.input_type == 'string'" style="padding: 8px;">
      <v-text-field
        v-model="campo.data"
        :label="campo.nombre"
        dark
      ></v-text-field>
    </div>
    <div v-if="campo.input_type == 'check'">
      <v-checkbox
        v-model="campo.data"
        :value="campo.data == 'checked' ? true : false"
        :label="campo.nombre"
        :dark="false"
      ></v-checkbox>
    </div>
  </v-flex>
</template>

<script>
export default {
  props: {
    campo: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style></style>
