<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="290">
      <template v-slot:activator="{ on }">
        <span style="display: inline;">
          <v-icon slot="activator" small class="mr-2" @click="dialog = true"
            >delete</v-icon
          >
        </span>
      </template>
      <v-card>
        <v-card-title class="headline">{{ title }}</v-card-title>
        <v-card-text>{{ msg }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat @click="cancel">No</v-btn>
          <v-btn color="green darken-1" flat @click="ok">Si</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>
export default {
  props: {
    // dialog: {
    //   type: Boolean,
    //   default: false
    // },
    msg: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      dialog: false
    }
  },
  methods: {
    ok() {
      this.dialog = false

      this.$emit('borrar', true)
    },
    cancel() {
      this.dialog = false
      this.$emit('borrar', false)
    }
  }
}
</script>

<style></style>
