<template>
  <div class="text-xs-center">
    <v-dialog v-model="dialog" persistent width="880">
      <template v-slot:activator="{ on }">
        <v-icon style="padding: 5px;" small class="mr-2" v-on="on">list</v-icon>
      </template>

      <v-card>
        <v-card-title class="headline" primary-title>Pacientes</v-card-title>

        <v-data-table
          :search="search"
          :headers="headers"
          :items="pacientes"
          class="elevation-1"
          no-results-text="No hay Pacientes"
        >
          <template v-slot:items="props">
            <td>
              {{ props.item.persona.nombres }}
              {{ props.item.persona.apellidos }}
            </td>
            <td>{{ props.item.persona.cedula }}</td>
            <td>
              <v-chip
                class="ma-2"
                :color="
                  props.item.ficha.triage_color == 'negro'
                    ? 'black'
                    : props.item.ficha.triage_color == 'amarillo'
                    ? 'yellow'
                    : props.item.ficha.triage_color == 'rojo'
                    ? 'red'
                    : 'green'
                "
                text-color="white"
              ></v-chip>
            </td>
            <td>{{ props.item.ficha.created_at | moment('hh:mm a') }}</td>
            <td>
              <v-chip
                class="ma-2"
                :color="props.item.entregado_completado ? 'green' : 'pink'"
                text-color="white"
                >{{ props.item.entregado_completado ? 'Si' : 'No' }}</v-chip
              >
            </td>
            <td>
              {{ props.item.hospital.nombre }}
            </td>
          </template>
        </v-data-table>
        <v-divider></v-divider>

        <v-card-actions>
          <v-btn color="red" flat @click="dialog = false">Salir</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  middleware: 'authenticated',
  props: {
    pacientes: {
      type: Array,
      default: () => {
        return []
      }
    }
  },

  data() {
    return {
      search: '',
      dialog: false,
      headers: [
        { text: 'Nombre' },
        { text: 'Cedula' },
        { text: 'Triage' },
        { text: 'Hora' },
        { text: 'Entregado' },
        { text: 'Hospital' }
      ]
    }
  },
  created() {},
  methods: {}
}
</script>

<style></style>
