<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent width="800">
      <template v-slot:activator="{ on }">
        <v-icon style small v-on="on">location_on</v-icon>
      </template>
      <v-card>
        <v-card-title class="headline" primary-title>
          <h3>
            Ubicación de la emergencia codigo: {{ codigo }}
            <br />
            <span>Dirección: {{ lugarDelEvento }}</span>
          </h3>

          <v-layout align-start justify-end row></v-layout>
        </v-card-title>
        <v-divider></v-divider>

        <v-flex xs12 sm12 md12>
          <gmap-map ref="myMapa" :center="center" :zoom="18">
            <GmapMarker :position="puntoMarcado" />
          </gmap-map>
        </v-flex>
        <v-card-actions>
          <v-btn color="red" flat @click="dialog = false">Salir</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>
export default {
  props: {
    center: {
      type: Object,
      default: () => {
        return { lat: 18.7446225, lng: -70.135966 }
      }
    },
    zoom: {
      type: Number,
      default: 0
    },
    puntoMarcado: {
      type: Object,
      default: () => {
        return { lat: 18.7446225, lng: -70.135966 }
      }
    },
    lugarDelEvento: {
      type: String,
      default: () => {
        return ''
      }
    },
    codigo: {
      type: String,
      default: () => {
        return ''
      }
    }
  },
  data() {
    return { dialog: false }
  },
  methods: {
    setPlace() {},
    AgregarMarca() {}
  }
}
</script>
<style scoped>
.vue-map-container {
  height: 450px;
  max-width: 992px;
  width: 100%;
}
</style>
