<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-tile
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title" />
          </v-list-tile-content>
        </v-list-tile>
        <v-list-group
          v-for="item in groups"
          :key="item.title"
          v-model="item.active"
          :prepend-icon="item.action"
          no-action
        >
          <template v-slot:activator>
            <v-list-tile>
              <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>

          <v-list-tile
            v-for="subItem in item.items"
            :key="subItem.title"
            :to="subItem.to"
          >
            <v-list-tile-content>
              <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
            </v-list-tile-content>

            <v-list-tile-action>
              <v-icon>{{ subItem.icon }}</v-icon>
            </v-list-tile-action>
          </v-list-tile>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar :clipped-left="clipped" fixed app>
      <v-toolbar-side-icon @click="drawer = !drawer" />
      <v-spacer />
      <span v-if="currentUser">
        <b>{{ currentUser.cargo.nombre }}</b>
        {{ currentUser.persona.nombres }} {{ currentUser.persona.apellidos }}
      </span>
      <v-btn icon @click.stop="logout">
        <v-icon>exit_to_app</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-flex style="padding:24px">
        <nuxt />
      </v-flex>
    </v-content>
    <v-navigation-drawer v-model="rightDrawer" :right="right" temporary fixed>
      <v-list>
        <v-list-tile @click.native="right = !right">
          <v-list-tile-action>
            <v-icon light>compare_arrows</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Switch drawer (click me)</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-footer :fixed="fixed" app>
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
import CRUDService from '~/services/CRUDService.js'
import AuthService from '~/services/AuthService.js'
import {
  USER_INFO,
  CURRENT_USER,
  comprobarPermisos,
  tengoPermiso,
  PERMITIDOS,
  PERMIS
} from '~/services/GLOBAL'
// import Vue from ''
export default {
  data() {
    return {
      auth: null,
      currentUser: null,
      clipped: true,
      drawer: true,
      fixed: true,
      crud: null,
      items: [],
      groups: [],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: '911'
    }
  },
  watch: {
    currentUser(aaa) {
      // console.log(' llenarItemsPrincipales', aaa)
      this.llenarItemsPrincipales()
      this.todosLosGrupos()
    }
  },
  created() {
    this.auth = new AuthService()
    this.auth.loadSesion()
    const user = USER_INFO.getValue()
    this.crud = new CRUDService()
    console.log('layout defualt=> created=> user', user)
    if (user && user.auth) {
      this.crud.validateSession().subscribe(
        res => {
          this.currentUser = res.data.data
          CURRENT_USER.next(this.currentUser)
          console.log(
            'validateSession created=> user',
            JSON.stringify(this.currentUser)
          )
          comprobarPermisos()
        },
        err => {
          console.log(
            'layout defualt=> created=> err',
            err,
            err.toString().indexOf('Network Error')
          )
          if (err && err.toString().indexOf('Network Error') < 0) {
            USER_INFO.next(null)
            this.auth.logOut()
            this.$router.push('/login')
          }

          if (err.toString().indexOf('Network Error') > 0) {
            this.$confirm(`Network Error`, {
              buttonFalseText: '',
              buttonTrueText: 'Aceptar',
              title: 'Error de conexión',
              icon: 'cloud_off',
              color: 'red'
            })
          }
        }
      )
    }
  },

  methods: {
    logout() {
      this.auth.logOut()
      this.$router.push('/login')
    },

    llenarItemsPrincipales() {
      this.items = []
      if (tengoPermiso(PERMITIDOS.Emergencias, PERMIS.PERM_VER_LIST)) {
        this.items.push({
          icon: 'apps',
          title: 'Inicio',
          to: '/'
        })
      }
      if (tengoPermiso(PERMITIDOS.Emergencias, PERMIS.PERM_VER_LIST)) {
        this.items.push({
          icon: 'accessible',
          title: 'Emergencias',
          to: '/emergencias/principal'
        })
      }
      if (tengoPermiso(PERMITIDOS['Mis Emergencias'], PERMIS.PERM_VER_LIST)) {
        this.items.push({
          icon: 'accessible',
          title: 'Mis Emergencias',
          to: '/emergencias/mis_emergencias'
        })
      }
      if (tengoPermiso(PERMITIDOS.Calendario, PERMIS.PERM_VER)) {
        this.items.push({
          icon: 'calendar_today',
          title: 'Calendario',
          to: '/calendario'
        })
      }

      if (tengoPermiso(PERMITIDOS.Compras, PERMIS.PERM_CREAR)) {
        this.items.push({
          icon: 'shopping_cart',
          title: 'Compras',
          to: '/compras'
        })
      }

      return this.items
    },
    todosLosGrupos() {
      this.groups = []
      this.llenarItemsMantenimientos()
      this.llenarItesmReportes()
    },
    llenarItesmReportes() {
      const grupo = {
        action: 'assessment',
        title: 'Reportes',
        items: []
      }
      if (
        tengoPermiso(PERMITIDOS.Reportes, PERMIS['Edad Promedio por Ciudad'])
      ) {
        grupo.items.push({
          title: 'Edad Promedio por Ciudad',
          to: '/reportes/edad_promedio_por_ciudad'
        })
      }

      if (tengoPermiso(PERMITIDOS.Reportes, PERMIS['Emergencia Dia y noche'])) {
        grupo.items.push({
          title: 'Emergencia Dia y noche',
          to: '/reportes/reportEmergenciasPorDiaYPorNoche'
        })
      }

      if (tengoPermiso(PERMITIDOS.Reportes, PERMIS['Empleados por Cargo'])) {
        grupo.items.push({
          title: 'Empleados por Cargo',
          to: '/reportes/cat_empleados_por_cargo'
        })
      }

      if (
        tengoPermiso(
          PERMITIDOS.Reportes,
          PERMIS['Promedio de Accidentado por ciudad']
        )
      ) {
        grupo.items.push({
          title: 'Promedio de Accidentado por ciudad',
          to: '/reportes/cant_promedio_por_ciudad'
        })
      }

      if (tengoPermiso(PERMITIDOS.Reportes, PERMIS['Insumos por emergencia'])) {
        grupo.items.push({
          title: 'Insumos por emergencia',
          to: '/reportes/CantidadInsumosEmergencia'
        })
      }

      if (tengoPermiso(PERMITIDOS.Reportes, PERMIS['Compras por Ciudad'])) {
        grupo.items.push({
          title: 'Compras por Ciudad',
          to: '/reportes/compras_por_ciudad'
        })
      }

      if (
        tengoPermiso(
          PERMITIDOS.Reportes,
          PERMIS['Cantidad de producto por emergencia']
        )
      ) {
        grupo.items.push({
          title: 'Cantidad de producto por emergencia',
          to: '/reportes/report_6'
        })
      }

      if (
        tengoPermiso(
          PERMITIDOS.Reportes,
          PERMIS['Segmentar por periodos emergencia']
        )
      ) {
        grupo.items.push({
          title: 'Segmentar por periodos emergencia',
          to: '/reportes/report_7'
        })
      }

      if (tengoPermiso(PERMITIDOS.Reportes, PERMIS['Compras por ciudad'])) {
        grupo.items.push({
          title: 'Compras por ciudad',
          to: '/reportes/report_8'
        })
      }

      if (
        tengoPermiso(PERMITIDOS.Reportes, PERMIS['Productos mas consumidos'])
      ) {
        grupo.items.push({
          title: 'Productos mas consumidos',
          to: '/reportes/report_9'
        })
      }

      if (
        tengoPermiso(PERMITIDOS.Reportes, PERMIS['Ambulancias mas utilizadas'])
      ) {
        grupo.items.push({
          title: 'Ambulancias mas utilizadas',
          to: '/reportes/report_10'
        })
      }

      if (
        tengoPermiso(
          PERMITIDOS.Reportes,
          PERMIS['Productos mas consumidos por emergencia']
        )
      ) {
        grupo.items.push({
          title: 'Productos mas consumidos por emergencia',
          to: '/reportes/report_11'
        })
      }

      if (
        tengoPermiso(
          PERMITIDOS.Reportes,
          PERMIS['Pacientes fallecidos por ciudad']
        )
      ) {
        grupo.items.push({
          title: 'Pacientes fallecidos por ciudad',
          to: '/reportes/report_12'
        })
      }
      if (grupo.items.length > 0) {
        this.groups.push(grupo)
      }
    },
    llenarItemsMantenimientos() {
      const grupo = {
        action: 'local_activity',
        title: 'Mantenimiento',
        items: []
      }

      if (
        tengoPermiso(PERMITIDOS.Cargos, PERMIS.PERM_ELIMINAR) ||
        tengoPermiso(PERMITIDOS.Cargos, PERMIS.PERM_VER_LIST) ||
        tengoPermiso(PERMITIDOS.Cargos, PERMIS.PERM_VER) ||
        tengoPermiso(PERMITIDOS.Cargos, PERMIS.PERM_CREAR) ||
        tengoPermiso(PERMITIDOS.Cargos, PERMIS.PERM_ACTUALIZAR)
      ) {
        grupo.items.push({
          icon: 'directions_car',
          title: 'Cargos',
          to: '/mantenimiento/cargos'
        })
      }

      if (
        tengoPermiso(PERMITIDOS.Personas, PERMIS.PERM_ELIMINAR) ||
        tengoPermiso(PERMITIDOS.Personas, PERMIS.PERM_VER_LIST) ||
        tengoPermiso(PERMITIDOS.Personas, PERMIS.PERM_VER) ||
        tengoPermiso(PERMITIDOS.Personas, PERMIS.PERM_CREAR) ||
        tengoPermiso(PERMITIDOS.Personas, PERMIS.PERM_ACTUALIZAR)
      ) {
        grupo.items.push({
          icon: 'face',
          title: 'Personas',
          to: '/mantenimiento/personas'
        })
      }
      if (
        tengoPermiso(PERMITIDOS.Tandas, PERMIS.PERM_ELIMINAR) ||
        tengoPermiso(PERMITIDOS.Tandas, PERMIS.PERM_VER_LIST) ||
        tengoPermiso(PERMITIDOS.Tandas, PERMIS.PERM_VER) ||
        tengoPermiso(PERMITIDOS.Tandas, PERMIS.PERM_CREAR) ||
        tengoPermiso(PERMITIDOS.Tandas, PERMIS.PERM_ACTUALIZAR)
      ) {
        grupo.items.push({
          icon: 'face',
          title: 'Tandas',
          to: '/mantenimiento/tandas'
        })
      }
      if (
        tengoPermiso(PERMITIDOS.Turnos, PERMIS.PERM_ELIMINAR) ||
        tengoPermiso(PERMITIDOS.Turnos, PERMIS.PERM_VER_LIST) ||
        tengoPermiso(PERMITIDOS.Turnos, PERMIS.PERM_VER) ||
        tengoPermiso(PERMITIDOS.Turnos, PERMIS.PERM_CREAR) ||
        tengoPermiso(PERMITIDOS.Turnos, PERMIS.PERM_ACTUALIZAR)
      ) {
        grupo.items.push({
          icon: 'face',
          title: 'Turnos',
          to: '/mantenimiento/turnos'
        })
      }
      if (
        tengoPermiso(PERMITIDOS.Vehiculos, PERMIS.PERM_ELIMINAR) ||
        tengoPermiso(PERMITIDOS.Vehiculos, PERMIS.PERM_VER_LIST) ||
        tengoPermiso(PERMITIDOS.Vehiculos, PERMIS.PERM_VER) ||
        tengoPermiso(PERMITIDOS.Vehiculos, PERMIS.PERM_CREAR) ||
        tengoPermiso(PERMITIDOS.Vehiculos, PERMIS.PERM_ACTUALIZAR)
      ) {
        grupo.items.push({
          icon: 'directions_car',
          title: 'Vehiculos',
          to: '/mantenimiento/vehiculos'
        })
      }
      if (
        tengoPermiso(PERMITIDOS.Productos, PERMIS.PERM_ELIMINAR) ||
        tengoPermiso(PERMITIDOS.Productos, PERMIS.PERM_VER_LIST) ||
        tengoPermiso(PERMITIDOS.Productos, PERMIS.PERM_VER) ||
        tengoPermiso(PERMITIDOS.Productos, PERMIS.PERM_CREAR) ||
        tengoPermiso(PERMITIDOS.Productos, PERMIS.PERM_ACTUALIZAR)
      ) {
        grupo.items.push({
          icon: 'face',
          title: 'Productos',
          to: '/mantenimiento/productos'
        })
      }
      if (
        tengoPermiso(PERMITIDOS.Cargos, PERMIS.PERM_ELIMINAR) ||
        tengoPermiso(PERMITIDOS.Cargos, PERMIS.PERM_VER_LIST) ||
        tengoPermiso(PERMITIDOS.Cargos, PERMIS.PERM_VER) ||
        tengoPermiso(PERMITIDOS.Cargos, PERMIS.PERM_CREAR) ||
        tengoPermiso(PERMITIDOS.Cargos, PERMIS.PERM_ACTUALIZAR)
      ) {
        grupo.items.push({
          icon: 'face',
          title: 'Productos Vehiculos',
          to: '/mantenimiento/productos_vehiculos'
        })
      }
      if (
        tengoPermiso(PERMITIDOS['Turnos Vehiculos'], PERMIS.PERM_ELIMINAR) ||
        tengoPermiso(PERMITIDOS['Turnos Vehiculos'], PERMIS.PERM_VER_LIST) ||
        tengoPermiso(PERMITIDOS['Turnos Vehiculos'], PERMIS.PERM_VER) ||
        tengoPermiso(PERMITIDOS['Turnos Vehiculos'], PERMIS.PERM_CREAR) ||
        tengoPermiso(PERMITIDOS['Turnos Vehiculos'], PERMIS.PERM_ACTUALIZAR)
      ) {
        grupo.items.push({
          icon: 'face',
          title: 'Turnos Vehiculos',
          to: '/mantenimiento/turnos_vehiculos'
        })
      }
      if (
        tengoPermiso(PERMITIDOS.Roles, PERMIS.PERM_ELIMINAR) ||
        tengoPermiso(PERMITIDOS.Roles, PERMIS.PERM_VER_LIST) ||
        tengoPermiso(PERMITIDOS.Roles, PERMIS.PERM_VER) ||
        tengoPermiso(PERMITIDOS.Roles, PERMIS.PERM_CREAR) ||
        tengoPermiso(PERMITIDOS.Roles, PERMIS.PERM_ACTUALIZAR)
      ) {
        grupo.items.push({
          icon: 'face',
          title: 'Roles',
          to: '/mantenimiento/roles'
        })
      }
      if (
        tengoPermiso(PERMITIDOS.Hospitales, PERMIS.PERM_ELIMINAR) ||
        tengoPermiso(PERMITIDOS.Hospitales, PERMIS.PERM_VER_LIST) ||
        tengoPermiso(PERMITIDOS.Hospitales, PERMIS.PERM_VER) ||
        tengoPermiso(PERMITIDOS.Hospitales, PERMIS.PERM_CREAR) ||
        tengoPermiso(PERMITIDOS.Hospitales, PERMIS.PERM_ACTUALIZAR)
      ) {
        grupo.items.push({
          icon: 'local_hospital',
          title: 'Hospitales',
          to: '/mantenimiento/hospitales'
        })
      }
      if (grupo.items.length > 0) {
        this.groups.push(grupo)
      }
      return grupo
    }
  }
}
</script>
