<template>
  <v-app dark>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer :fixed="fixed" app>
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
import CRUDService from '~/services/CRUDService.js'
import AuthService from '~/services/AuthService.js'
import { USER_INFO } from '~/services/GLOBAL'

export default {
  data() {
    return {
      clipped: true,
      drawer: true,
      fixed: true,
      crud: null,
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: '911'
    }
  },

  created() {
    const auth = new AuthService()
    auth.loadSesion()
    const user = USER_INFO.getValue()
    this.crud = new CRUDService()
    if (user && user.auth) {
      this.crud.validateSession().subscribe(
        res => {
          console.log('guest res', res)
        },
        err => {
          console.log('guest err', err)
          if (err) {
            auth.logOut()
            this.$router.push('/login')
          }
        }
      )
    }
  }
}
</script>
