<template>
  <div class="text-xs-center">
    <v-dialog v-model="dialog" persistent width="500">
      <template v-slot:activator="{ on }">
        <v-btn
          v-if="
            id == 0 && tengoPermiso(PERMITIDOS['Hospitales'], PERMIS.PERM_CREAR)
          "
          color="red lighten-2"
          dark
          v-on="on"
          >Crear nuevo {{ title }}</v-btn
        >
        <v-icon
          v-if="
            id != 0 &&
              tengoPermiso(PERMITIDOS['Hospitales'], PERMIS.PERM_ACTUALIZAR)
          "
          style="padding: 5px;"
          small
          class="mr-2"
          v-on="on"
          >edit</v-icon
        >
      </template>

      <v-card>
        <v-card-title class="headline" primary-title>
          {{ id == 0 ? 'Nueva' : 'Actualizar' }} {{ title }}
          <v-layout align-start justify-end row>
            <v-flex xs12 sm6 md5>
              <v-switch
                v-model="form.activo"
                label="Estado"
                color="red"
                :value="true"
              ></v-switch>
            </v-flex>
          </v-layout>
        </v-card-title>
        <form-Hospital
          :form="form"
          :ciudades="ciudades"
          :show="dialog"
          @invalid="invalid"
        ></form-Hospital>
        <v-divider></v-divider>

        <v-card-actions>
          <v-btn color="red" flat @click="dialog = false">Cancelar</v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            raise
            :disabled="formInvalid"
            @click="enviar()"
            >{{ id === 0 ? 'Guardar' : 'Actualizar' }}</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="ok" top right :color="colorMsg">
      {{ error }}
      <v-btn dark flat @click="ok = false">Cerrar</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import {
  tengoPermiso,
  PERMITIDOS,
  PERMIS,
  CURRENT_USER
} from '~/services/GLOBAL'
import CRUDService from '~/services/CRUDService'
import formHospital from '~/components/hospitales/formHospital.vue'
export default {
  components: { formHospital },
  props: {
    id: {
      type: Number,
      default: 0
    },
    title: {
      type: String,
      default: 'nada'
    },
    crud: {
      type: CRUDService,
      default: () => new CRUDService()
    },
    ciudades: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  data() {
    return {
      PERMITIDOS,
      PERMIS,
      tengoPermiso,
      formInvalid: true,
      error: null,
      ok: false,
      colorMsg: '',
      dialog: false,
      form: {
        nombre: '',
        ciudad_id: 0,
        tipo_publico: true,
        activo: true
      }
    }
  },
  watch: {
    dialog(val) {
      if (val && this.id !== 0) {
        this.getById(this.id)
      }
      val || this.close()
    }
  },
  created() {
    CURRENT_USER.subscribe(() => {
      this.$forceUpdate()
    })
  },
  methods: {
    getById(id) {
      this.crud.httpRailsHelper(`hospitals/${id}`, 'get').subscribe(
        res => {
          // this.showError('Hospital creado correctamente!!', 'green')
          // this.dialog = false
          // this.$emit('recargar')
          console.log('Hospital id data', res.data)
          this.form = { ...res.data }
          this.form.ciudad_id = res.data.ciudad.id
        },
        err =>
          this.showError(
            'Ocurrio un error al crear el Hospital: ' + JSON.stringify(err)
          )
      )
    },
    invalid(params) {
      let l = true
      if (params !== undefined) {
        l = params
      }
      this.formInvalid = l
      console.log('invalid=> params', params)
      return l
    },
    enviar() {
      const methodHttp = this.id === 0 ? 'post' : 'patch'
      const cUri = this.id === 0 ? '' : `/${this.id}`

      this.crud
        .httpRailsHelper(`hospitals${cUri}`, methodHttp, {
          hospital: this.form
        })
        .subscribe(
          res => {
            this.showError(
              `Hospital ${
                this.id === 0 ? 'creado' : 'actualizado'
              } correctamente!!`,
              'green'
            )
            this.dialog = false
            this.$emit('recargar')
            console.log('Hospital', res.data)
          },
          err =>
            this.showError(
              'Ocurrio un error al crear el Hospital: ' + JSON.stringify(err)
            )
        )
    },
    showError(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.colorMsg = color
    },
    close() {
      this.dialog = false
      setTimeout(() => {
        // setTimeout(() => {
        //   this.$v.$reset()
        // }, 0)
        Object.assign(this.$data, this.$options.data.apply(this))
      }, 500)
    }
  }
}
</script>

<style></style>
