<template>
  <span>
    <v-container fluid>
      <v-layout align-start justify-space-between row fill-height wrap>
        <v-flex xs12 sm6 md5>
          <v-text-field
            v-model="form.nombre"
            label="Nombre"
            :error-messages="nombreErrors"
            @input="$v.form.nombre.$touch()"
            @blur="$v.form.nombre.$touch()"
          ></v-text-field>
        </v-flex>
        <v-flex xs12 sm5 md6>
          <v-autocomplete
            v-model="form.ciudad_id"
            :items="ciudades"
            color="white"
            hide-no-data
            hide-selected
            item-text="nombre"
            item-value="id"
            label="Ciudades"
            placeholder="La Vega"
            prepend-icon="mdi-database-search"
          ></v-autocomplete>
        </v-flex>
        <v-flex xs12 sm6 md5>
          <v-switch
            v-model="form.tipo_publico"
            label="Es Publico?"
            color="blue"
            :value="true"
          ></v-switch>
        </v-flex>
      </v-layout>
    </v-container>
  </span>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'
export default {
  props: {
    form: {
      type: Object,
      default: () => {}
    },
    show: {
      type: Boolean,
      default: () => {
        return false
      }
    },
    ciudades: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  validations: {
    form: {
      nombre: {
        required,
        minLength: minLength(4)
      },
      ciudad_id: {
        required,
        minLength: minLength(1)
      }
    }
  },
  computed: {
    invalid() {
      this.$emit('invalid', this.$v.$invalid || this.form.ciudad_id === 0)
      return this.$v.$invalid || this.form.ciudad_id === 0
    },
    nombreErrors() {
      const errors = []
      if (!this.$v.form.nombre.$dirty) return errors
      !this.$v.form.nombre.minLength &&
        errors.push('Este campo debe tener mas caracteres')
      !this.$v.form.nombre.required && errors.push('El campo es requerido.')
      return errors
    }
  },
  watch: {
    invalid(val) {
      // console.log('val', val)
      // val || this.close()
    },
    show(val) {
      // console.log('show ', val, this.$data)
      if (val) {
        return
      }
      setTimeout(() => {
        setTimeout(() => {
          this.$v.$reset()
        }, 0)
        Object.assign(this.$data, this.$options.data.apply(this))
      }, 500)
    }
  }
}
</script>

<style></style>
