<template>
  <div class="text-xs-center">
    <v-dialog v-model="dialog" width="700" persistent>
      <template v-slot:activator="{ on }">
        <v-btn v-if="id == 0" color="red lighten-2" dark v-on="on"
          >Crear nueva {{ title }}</v-btn
        >
        <v-icon
          v-if="id != 0"
          style="padding: 5px;"
          small
          class="mr-2"
          v-on="on"
          >edit</v-icon
        >
      </template>

      <v-card>
        <v-card-title class="headline" primary-title>
          Nueva {{ title }}
          <v-spacer></v-spacer>
          <v-layout align-start justify-end row>
            <v-flex xs12 sm6 md5>
              <v-switch
                v-model="form.activo"
                label="Estado"
                color="red"
                :value="true"
              ></v-switch>
            </v-flex>
          </v-layout>
        </v-card-title>
        <formPersona
          :form="form"
          :ciudades="ciudades"
          :cargos="cargos"
          :roles="roles"
          :generos="generos"
          :is-loading="isLoading"
          :show="dialog"
          :creando-paciente="creandoPaciente"
          @invalid="invalid"
        ></formPersona>
        <v-divider></v-divider>

        <v-card-actions>
          <v-btn color="red" flat @click="dialog = false">Cancelar</v-btn>
          <v-spacer></v-spacer>
          <v-btn
            :color="id == 0 ? 'primary' : 'blue'"
            :disabled="formInvalid"
            raise
            @click.stop="enviar()"
            >{{ id == 0 ? 'Guardar' : 'Actualizar' }}</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="ok" top right :color="colorMsg">
      {{ error }}
      <v-btn dark flat @click="ok = false">Cerrar</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
// import _ from 'lodash'
import { sacarText } from '../../services/GLOBAL'
import CRUDService from '~/services/CRUDService'
import formPersona from '~/components/personas/formPersona.vue'
import { CURRENT_USER } from '~/services/GLOBAL'
export default {
  components: {
    formPersona
  },
  props: {
    title: {
      type: String,
      default: 'nada'
    },
    cargos: {
      type: Array,
      default: () => []
    },
    roles: {
      type: Array,
      default: () => []
    },
    ciudades: {
      type: Array,
      default: () => []
    },
    crud: {
      type: CRUDService,
      default: () => new CRUDService()
    },
    creandoPaciente: {
      type: Boolean,
      default: () => false
    },
    id: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      error: null,
      ok: false,
      colorMsg: '',
      dialog: false,
      isLoading: false,
      formInvalid: true,
      listcargos: ['Doctor', 'Enfermera'],
      generos: [{ id: 'H', nombre: 'Hombre' }, { id: 'M', nombre: 'Mujer' }],
      search: null,
      form: {
        nombres: null,
        apellidos: null,
        edad: null,
        sexo: null,
        telefono_1: null,
        telefono_2: null,
        numero_de_seguro: null,
        ciudad_id: null,
        cargo_id: null,
        empleado: false,
        username: null,
        password: null,
        activo: true
      }
    }
  },
  watch: {
    dialog(val) {
      if (val && this.id !== 0) {
        console.log('current-user::', CURRENT_USER.value)
        this.getById(this.id)
      }
      val || this.close()
    }
  },
  methods: {
    invalid(params) {
      let l = true
      if (params !== undefined) {
        l = params
      }
      this.formInvalid = l
      return l
    },
    close() {
      setTimeout(() => {
        // setTimeout(() => {
        // this.$v.$reset()
        // }, 0)
        Object.assign(this.$data, this.$options.data.apply(this))
      }, 500)
    },
    showError(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.colorMsg = color
    },
    getById(id) {
      this.crud
        .httpRailsHelper(`personas/${id}`, 'get')
        .pipe
        // map(res => {
        //   console.log('personas id data', res.data)
        //   res.data.ciudad_id = res.data.ciudad.id
        // })
        ()
        .subscribe(
          res => {
            console.log('personas id data', res.data)
            res.data.ciudad_id = res.data.ciudad.id
            if (res.data.cargo) {
              res.data.empleado = true
              res.data.cargo_id = res.data.cargo.id
              // this.isLoading = true
            }
            this.form = { ...res.data }

            // this.form.empleado = res.data.cargo != null
          },
          err =>
            this.showError(
              'Ocurrio un error al crear el personas: ' + JSON.stringify(err)
            )
        )
    },
    enviar() {
      const methodHttp = this.id === 0 ? 'post' : 'patch'
      const cUri = this.id === 0 ? '' : `/${this.id}`
      // this.crud.createPersona(this.form).subscribe(
      const formTemp = JSON.parse(JSON.stringify(this.form))
      const roles = []
      console.log('formTemp.roles2 ', formTemp.roles)
      if (formTemp.roles !== undefined) {
        formTemp.roles.forEach(element => {
          if (element.id) {
            roles.push(element.id)
          } else {
            roles.push(element)
          }
        })
        formTemp.roles = roles
      }
      console.log('formTemp.roles1 ', formTemp.roles)
      this.crud
        .httpRailsHelper(`personas${cUri}`, methodHttp, formTemp)
        .subscribe(
          ({ data }) => {
            this.dialog = false
            this.form = {
              nombres: null,
              apellidos: null,
              edad: null,
              sexo: null,
              telefono_1: null,
              telefono_2: null,
              numero_de_seguro: null,
              ciudad_id: null,
              cargo_id: null,
              empleado: false,
              estado: true
            }
            this.showError(
              `Persona ${
                this.id === 0 ? 'creada' : 'actualizada'
              } correctamente!!`,
              'green'
            )
            this.dialog = false
            this.$emit('recargar')
            this.$emit('retornoPersona', data.data)
          },
          err => {
            this.showError(
              'Ocurrio un error al crear esta persona: ' + err.response &&
                err.response.data
                ? sacarText(err.response.data)
                : sacarText(err.response)
            )
            console.log(err.response)
          }
        )
    }
  }
}
</script>

<style></style>
