<template>
  <v-container fluid>
    <v-layout align-start justify-space-around row fill-height wrap>
      <v-flex xs12 sm5 md5>
        <v-text-field
          v-model="form.nombres"
          label="Nombres"
          :error-messages="nombresErrors"
          @input="$v.form.nombres.$touch()"
          @blur="$v.form.nombres.$touch()"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm5 md5>
        <v-text-field
          v-model="form.apellidos"
          label="Apellidos"
          :error-messages="apellidosErrors"
          @input="$v.form.apellidos.$touch()"
          @blur="$v.form.apellidos.$touch()"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm5 md5>
        <v-text-field
          v-model="form.edad"
          type="number"
          mask="####"
          label="Edad"
          :error-messages="edadErrors"
          @input="$v.form.edad.$touch()"
          @blur="$v.form.edad.$touch()"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm5 md5>
        <v-text-field
          v-model="form.telefono_1"
          mask="phone"
          label="Telefono 1"
          :error-messages="telefono_1Errors"
          @input="$v.form.telefono_1.$touch()"
          @blur="$v.form.telefono_1.$touch()"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm5 md5>
        <v-text-field
          v-model="form.telefono_2"
          mask="phone"
          label="Telefono 2"
          :error-messages="telefono_2Errors"
          @input="$v.form.telefono_2.$touch()"
          @blur="$v.form.telefono_2.$touch()"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm5 md5>
        <v-text-field
          v-model="form.numero_de_seguro"
          label="No. Seguro"
          :error-messages="numero_de_seguroErrors"
          @input="$v.form.numero_de_seguro.$touch()"
          @blur="$v.form.numero_de_seguro.$touch()"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm5 md5>
        <v-switch
          v-if="!creandoPaciente"
          v-model="form.empleado"
          label="Empleado"
          color="red"
          :value="false"
        ></v-switch>
      </v-flex>
      <v-flex v-if="form.empleado" xs12 sm5 md6>
        <v-autocomplete
          v-model="form.cargo_id"
          :items="cargos"
          :loading="isLoading"
          :search-input.sync="search"
          color="white"
          hide-no-data
          hide-selected
          item-text="nombre"
          item-value="id"
          label="Cargo"
          placeholder="Cargos"
          prepend-icon="mdi-database-search"
        ></v-autocomplete>
      </v-flex>
      <v-flex xs12 sm5 md6>
        <v-autocomplete
          v-model="form.ciudad_id"
          :items="ciudades"
          color="white"
          hide-no-data
          hide-selected
          item-text="nombre"
          item-value="id"
          label="Ciudades"
          placeholder="La Vega"
          prepend-icon="mdi-database-search"
        ></v-autocomplete>
      </v-flex>
      <v-flex v-if="form.empleado" xs12 sm5 md6>
        <v-select
          v-if="!creandoPaciente"
          v-model="form.roles"
          :items="roles"
          color="white"
          hide-no-data
          item-text="name"
          item-value="id"
          label="Roles"
          placeholder="Admin"
          prepend-icon="mdi-database-search"
          attach
          chips
          multiple
        ></v-select>
      </v-flex>
      <v-flex v-if="form.empleado" xs12 sm5 md5>
        <v-text-field
          v-if="!creandoPaciente"
          v-model="form.password"
          type="password"
          label="Contraseña"
          :error-messages="numero_de_seguroErrors"
          @input="$v.form.numero_de_seguro.$touch()"
          @blur="$v.form.numero_de_seguro.$touch()"
        ></v-text-field>
      </v-flex>
      <v-flex v-if="form.empleado" xs12 sm5 md5>
        <v-text-field
          v-if="!creandoPaciente"
          v-model="form.username"
          label="Username"
          :error-messages="numero_de_seguroErrors"
          @input="$v.form.numero_de_seguro.$touch()"
          @blur="$v.form.numero_de_seguro.$touch()"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm5 md6>
        <v-select
          v-model="form.sexo"
          :items="generos"
          color="white"
          hide-no-data
          hide-selected
          item-text="nombre"
          item-value="id"
          label="Genero"
          placeholder="Hombre/Mujer"
          prepend-icon="mdi-database-search"
          :error-messages="sexoErrors"
          @input="$v.form.sexo.$touch()"
          @blur="$v.form.sexo.$touch()"
        ></v-select>
        <!-- <v-autocomplete
                v-model="form.ciudad_id"
                :items="ciudades"
                color="white"
                hide-no-data
                hide-selected
                item-text="nombre"
                item-value="id"
                label="Ciudades"
                placeholder="La Vega"
                prepend-icon="mdi-database-search"
        ></v-autocomplete>-->
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'

export default {
  props: {
    form: {
      type: Object,
      default: () => {}
    },
    show: {
      type: Boolean,
      default: () => {
        return false
      }
    },
    cargos: {
      type: Array,
      default: () => []
    },
    roles: {
      type: Array,
      default: () => []
    },
    creandoPaciente: {
      type: Boolean,
      default: () => {
        return false
      }
    },
    generos: {
      type: Array,
      default: () => []
    },
    ciudades: {
      type: Array,
      default: () => []
    },
    isLoading: {
      type: Boolean,
      default: false
    }
  },
  validations: {
    form: {
      nombres: {
        required,
        minLength: minLength(3)
      },
      apellidos: {
        required,
        minLength: minLength(3)
      },
      numero_de_seguro: {
        minLength: minLength(4)
      },
      telefono_1: {
        minLength: minLength(8)
      },
      telefono_2: {
        minLength: minLength(8)
      },
      edad: {
        required
      },
      sexo: {
        required
      }
    }
  },
  data() {
    return {
      search: null
    }
  },
  computed: {
    invalid() {
      let valid = false
      // if(this.form.ca)
      if (this.form.empleado) {
        valid =
          this.form.password === null ||
          this.form.password === '' ||
          this.form.username === null ||
          this.form.username === '' ||
          this.form.cargo_id === null ||
          this.form.cargo_id === ''
        // console.log(
        //   'this.form.username ',
        //   this.form.username,
        //   this.form.cargo_id,
        //   this.form.password
        // )
      }
      this.$emit('invalid', this.$v.$invalid || valid)
      return this.$v.$invalid
    },
    nombresErrors() {
      const errors = []
      if (!this.$v.form.nombres.$dirty) return errors
      !this.$v.form.nombres.minLength &&
        errors.push('Este campo debe tener mas caracteres')
      !this.$v.form.nombres.required && errors.push('El nombre es requerido.')
      return errors
    },
    apellidosErrors() {
      const errors = []
      if (!this.$v.form.apellidos.$dirty) return errors
      !this.$v.form.apellidos.minLength &&
        errors.push('Este campo debe tener mas caracteres')
      !this.$v.form.apellidos.required && errors.push('El campo es requerido.')
      return errors
    },
    edadErrors() {
      const errors = []
      if (!this.$v.form.edad.$dirty) return errors
      // !this.$v.form.edad.minLength &&
      //   errors.push('Este campo debe tener mas caracteres')
      !this.$v.form.edad.required && errors.push('El campo es requerido.')
      return errors
    },
    sexoErrors() {
      const errors = []
      if (!this.$v.form.sexo.$dirty) return errors
      // !this.$v.form.sexo.minLength &&
      //   errors.push('Este campo debe tener mas caracteres')
      !this.$v.form.sexo.required && errors.push('El campo es requerido.')
      return errors
    },
    numero_de_seguroErrors() {
      const errors = []
      if (!this.$v.form.numero_de_seguro.$dirty) return errors
      !this.$v.form.numero_de_seguro.minLength &&
        errors.push('Este campo debe tener mas caracteres')
      // !this.$v.form.numero_de_seguro.required && errors.push('El nombre es requerido.')
      return errors
    },
    telefono_1Errors() {
      const errors = []
      if (!this.$v.form.telefono_1.$dirty) return errors
      !this.$v.form.telefono_1.minLength &&
        errors.push('Este campo debe tener mas caracteres')
      // !this.$v.form.telefono_1.required && errors.push('El nombre es requerido.')
      return errors
    },
    telefono_2Errors() {
      const errors = []
      if (!this.$v.form.telefono_2.$dirty) return errors
      !this.$v.form.telefono_2.minLength &&
        errors.push('Este campo debe tener mas caracteres')
      // !this.$v.form.telefono_2.required && errors.push('El nombre es requerido.')
      return errors
    }
  },
  watch: {
    invalid(val) {
      // console.log('val', val)
      // val || this.close()
    },
    show(val) {
      // console.log('show ', val, this.$data)
      if (val) {
        return
      }
      setTimeout(() => {
        setTimeout(() => {
          this.$v.$reset()
        }, 0)
        Object.assign(this.$data, this.$options.data.apply(this))
      }, 500)
    }
  }
}
</script>

<style></style>
