<template>
  <div class="text-xs-center">
    <v-dialog v-model="dialog" persistent width="500">
      <template v-slot:activator="{ on }">
        <v-btn
          v-if="
            id == 0 && tengoPermiso(PERMITIDOS['Productos'], PERMIS.PERM_CREAR)
          "
          color="red lighten-2"
          dark
          v-on="on"
          >Crear nuevo {{ title }}</v-btn
        >
        <v-icon
          v-if="
            id != 0 &&
              tengoPermiso(PERMITIDOS['Productos'], PERMIS.PERM_ACTUALIZAR)
          "
          style="padding: 5px;"
          small
          class="mr-2"
          v-on="on"
          >edit</v-icon
        >
      </template>

      <v-card>
        <v-card-title class="headline" primary-title>
          Nuevo {{ title }}
          <v-layout align-start justify-end row>
            <v-flex xs12 sm6 md5>
              <v-switch
                v-model="form.activo"
                label="Estado"
                color="red"
                :value="true"
              ></v-switch>
            </v-flex>
          </v-layout>
        </v-card-title>
        <form-producto
          :form="form"
          :show="dialog"
          @invalid="invalid"
        ></form-producto>
        <v-divider></v-divider>

        <v-card-actions>
          <v-btn color="red" flat @click="dialog = false">Cancelar</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" raise :disabled="formInvalid" @click="enviar()"
            >Guardar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="ok" top right :color="colorMsg">
      {{ error }}
      <v-btn dark flat @click="ok = false">Cerrar</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import {
  tengoPermiso,
  PERMITIDOS,
  PERMIS,
  CURRENT_USER
} from '~/services/GLOBAL'
import CRUDService from '~/services/CRUDService'
import formProducto from '~/components/productos/formProducto.vue'
export default {
  components: { formProducto },
  props: {
    id: {
      type: Number,
      default: 0
    },
    title: {
      type: String,
      default: 'nada'
    },
    crud: {
      type: CRUDService,
      default: () => new CRUDService()
    }
  },
  data() {
    return {
      PERMITIDOS,
      PERMIS,
      tengoPermiso,
      formInvalid: true,
      error: null,
      ok: false,
      colorMsg: '',
      dialog: false,
      form: {
        nombre: '',
        cantidad_minima: 0,
        cantidad_maxima: 0,
        activo: true
      }
    }
  },
  watch: {
    dialog(val) {
      if (val && this.id !== 0) {
        this.getById(this.id)
      }
      val || this.close()
    }
  },
  created() {
    CURRENT_USER.subscribe(() => {
      this.$forceUpdate()
    })
  },
  methods: {
    getById(id) {
      this.crud.httpRailsHelper(`productos/${id}`, 'get').subscribe(
        res => {
          // this.showError('Cargo creado correctamente!!', 'green')
          // this.dialog = false
          // this.$emit('recargar')
          console.log('cargo id data', res.data)
          this.form = { ...res.data }
        },
        err =>
          this.showError(
            'Ocurrio un error al crear el cargo: ' + JSON.stringify(err)
          )
      )
    },
    invalid(params) {
      let l = true
      if (params !== undefined) {
        l = params
      }
      this.formInvalid = l
      console.log('invalid=> params', params)
      return l
    },
    enviar() {
      const methodHttp = this.id === 0 ? 'post' : 'patch'
      const cUri = this.id === 0 ? '' : `/${this.id}`

      this.crud
        .httpRailsHelper(`productos${cUri}`, methodHttp, {
          producto: this.form
        })
        .subscribe(
          res => {
            this.showError(
              `Producto ${
                this.id === 0 ? 'creado' : 'actualizado'
              } correctamente!!`,
              'green'
            )
            this.dialog = false
            this.$emit('recargar')
            console.log('productos', res.data)
          },
          err =>
            this.showError(
              'Ocurrio un error al crear el cargo: ' + JSON.stringify(err)
            )
        )
    },
    showError(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.colorMsg = color
    },
    close() {
      this.dialog = false
      setTimeout(() => {
        // setTimeout(() => {
        //   this.$v.$reset()
        // }, 0)
        Object.assign(this.$data, this.$options.data.apply(this))
      }, 500)
    }
  }
}
</script>

<style></style>
