<template>
  <v-layout>
    <v-flex xs12>
      <v-sheet height="500">
        <v-calendar
          ref="calendar"
          :v-if="events.length > 1"
          :now="today"
          :value="today"
          color="primary"
        >
          <template v-slot:day="{ date }">
            <template v-for="event in eventsMap[date]">
              <v-menu
                :key="event.title + event.idxArr"
                v-model="event.open"
                full-width
                offset-x
              >
                <template v-slot:activator="{ on }">
                  <div
                    v-if="!event.time"
                    v-ripple
                    class="my-event"
                    v-on="on"
                    v-html="event.title"
                  ></div>
                </template>
                <v-card min-width="350px" dark>
                  <v-toolbar color="primary" dark>
                    <!-- <v-btn icon>
                      <v-icon>edit</v-icon>
                    </v-btn>-->
                    <v-toolbar-title v-html="event.title"></v-toolbar-title>
                    <v-spacer></v-spacer>
                    <!-- <v-btn icon>
                      <v-icon>favorite</v-icon>
                    </v-btn>-->
                    <!-- <v-btn icon>
                      <v-icon>more_vert</v-icon>
                    </v-btn>-->
                  </v-toolbar>
                  <v-card-title primary-title>
                    <p>{{ event.details }}</p>
                  </v-card-title>
                  <v-card-actions>
                    <v-btn flat color="secondary">Cancel</v-btn>
                  </v-card-actions>
                </v-card>
              </v-menu>
            </template>
          </template>
        </v-calendar>
      </v-sheet>
    </v-flex>
    <!-- <v-flex sm6 xs6 class="text-sm-left text-xs-center">
      <v-btn @click="$refs.calendar.prev()">
        <v-icon dark left>
          keyboard_arrow_left
        </v-icon>
        Prev
      </v-btn>
    </v-flex>-->
    <!-- <v-flex
      sm4
      xs12
      class="text-xs-center"
    >
      <v-select
        v-model="type"
        :items="typeOptions"
        label="Type"
      ></v-select>
    </v-flex>-->
    <!-- <v-flex sm6 xs6 class="text-sm-right text-xs-center">
      <v-btn @click="$refs.calendar.next()">
        Next
        <v-icon right dark>
          keyboard_arrow_right
        </v-icon>
      </v-btn>
    </v-flex>-->
  </v-layout>
</template>

<script>
import moment from 'moment'
import CRUDService from '~/services/CRUDService'
export default {
  data: function() {
    return {
      crud: null,
      today: moment().format('YYYY-MM-DD'),
      events: [
        {
          title: 'Vacation',
          details: 'Going to the beach!',
          date: '2018-12-30',
          open: false
        }
      ]
    }
  },
  computed: {
    // convert the list of events into a map of lists keyed by date
    eventsMap() {
      const map = {}
      this.events.forEach(e => (map[e.date] = map[e.date] || []).push(e))
      return map
    }
  },

  created() {
    this.crud = new CRUDService()
    this.crud.httpRailsHelper('calendario', 'get').subscribe(({ data }) => {
      console.log('calendario')
      //   console.log(JSON.stringify(data[2]))
      this.procesarEventos(data)
    })
  },
  methods: {
    procesarEventos(arr) {
      const res = []
      for (let e = 0; e < arr.length; e++) {
        const item = arr[e]
        // console.log(item)

        if (item.dia && item.dia.turnos) {
          for (let i = 0; i < item.dia.turnos.length; i++) {
            const turn = item.dia.turnos[i]
            console.log(turn)
            const obj = {
              title: `Turno de ${turn.user.persona.nombres}` + i + `-` + e,
              details:
                `Turno de ${turn.user.persona.nombres} ` +
                moment(item.dia.fecha).format('YYYY-MM-DD HH:mm:ss a'),
              date: item.fecha,
              open: false,
              idxArr: e,
              idxTurno: i
            }
            res.push(obj)
            // console.log(obj);
          }
        }
      }
      console.log(res)

      this.events = res
    },
    open(event) {
      alert(event.title)
    }
  }
}
</script>

<style></style>
