<template>
  <v-card>
    <v-card-title primary-title>
      <div v-if="!ficha">
        <div class="headline">Entradas de productos</div>
      </div>
      <div v-if="ficha">
        <v-chip color="blue">
          <div class="headline">Productos consumidos</div>
        </v-chip>
      </div>
    </v-card-title>
    <v-container fluid>
      <v-layout align-start justify-space-between row fill-height wrap>
        <v-flex xs4 sm4 md4>
          <v-autocomplete
            v-model="productoSeleccionado"
            :items="productos"
            :loading="false"
            :search-input.sync="searchProductos"
            color="white"
            hide-no-data
            hide-selected
            item-text="nombre"
            return-object
            label="Producto"
            placeholder="Productos"
            prepend-icon="mdi-database-search"
          ></v-autocomplete>
        </v-flex>
        <v-flex xs2 sm2 md1>
          <v-text-field
            v-if="!ficha"
            v-model="costo"
            mask="#####"
            label="Costo"
          ></v-text-field>
        </v-flex>
        <v-flex xs2 sm2 md1>
          <v-text-field
            v-model="cantidad"
            mask="####"
            label="Cantidad"
          ></v-text-field>
        </v-flex>
        <v-flex xs2 sm2 md2>
          <v-btn
            fab
            dark
            color="blue"
            :disabled="productoSeleccionado == null || cantidad == 0"
            @click="agregarProductos"
          >
            <v-icon dark>add_shopping_cart</v-icon>
          </v-btn>
        </v-flex>
        <v-flex v-if="!ficha" xs8 md8 lg8 sm8>
          <v-layout
            v-for="(producto, i) in productosSeleccionados"
            :key="`${i}`"
            row
            justify-space-between
            fill-height
            wrap
          >
            <v-flex xs5 sm5 md5>
              <h3>{{ producto.producto.nombre }}</h3>
            </v-flex>
            <v-flex v-if="!ficha" xs2 sm2 md2>
              <v-text-field
                v-model="producto.costo"
                label="Costo"
                mask="####"
              ></v-text-field>
            </v-flex>
            <v-flex xs2 sm2 md2>
              <v-text-field
                v-model="producto.cantidad"
                mask="####"
                label="Cantidad"
              ></v-text-field>
            </v-flex>
            <v-flex v-if="!ficha" xs1 sm1 md1>
              <v-text-field
                :value="producto.cantidad * producto.costo"
                mask="####"
                label="Importe"
                :disabled="true"
              ></v-text-field>
            </v-flex>
            <v-flex xs2 sm2 md2>
              <v-btn fab dark color="red" @click="eliminarProductos(producto)">
                <v-icon dark>delete</v-icon>
              </v-btn>
            </v-flex>
            <v-divider inset light></v-divider>
          </v-layout>
        </v-flex>
        <v-flex v-if="ficha" xs4 md4 lg4 sm4>
          <v-layout
            v-for="(producto, i) in productosSeleccionados"
            :key="`${i}`"
            row
            justify-space-between
            fill-height
            wrap
          >
            <v-flex xs5 sm5 md5>
              <h3>{{ producto.producto.nombre }}</h3>
            </v-flex>
            <v-flex v-if="!ficha" xs2 sm2 md2>
              <v-text-field
                v-model="producto.costo"
                label="Costo"
                mask="####"
              ></v-text-field>
            </v-flex>
            <v-flex xs2 sm2 md2>
              <v-text-field
                v-model="producto.cantidad"
                mask="####"
                label="Cantidad"
              ></v-text-field>
            </v-flex>
            <v-flex v-if="!ficha" xs1 sm1 md1>
              <v-text-field
                :value="producto.cantidad * producto.costo"
                mask="####"
                label="Importe"
                :disabled="true"
              ></v-text-field>
            </v-flex>
            <v-flex xs2 sm2 md2>
              <v-btn fab dark color="red" @click="eliminarProductos(producto)">
                <v-icon dark>delete</v-icon>
              </v-btn>
            </v-flex>
            <v-divider inset light></v-divider>
          </v-layout>
        </v-flex>
        <v-flex v-if="!ficha">
          <v-card class="mx-auto" color="#26c6da" dark max-width="400">
            <v-card-title>
              <span class="title font-weight-light">RESUMEN</span>
            </v-card-title>
            <v-card-text class="headline font-weight-bold">
              Total: RD${{ totalCompra }}.00
              <br />
              Productos: {{ productosSeleccionados.length }}
              <br />

              <v-btn
                color="green"
                :disabled="productosSeleccionados.length == 0"
                @click="enviar()"
              >
                <v-icon dark>send</v-icon>&nbsp; Enviar
              </v-btn>
              <v-btn
                color="error"
                :disabled="productosSeleccionados.length == 0"
                @click=";(productosSeleccionados = []), clearvars()"
              >
                <v-icon dark>delete</v-icon>Cancelar
              </v-btn>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <v-snackbar v-model="ok" top right :color="colorMsg">
      {{ error }}
      <v-btn dark flat @click="ok = false">Cerrar</v-btn>
    </v-snackbar>
  </v-card>
</template>

<script>
import _ from 'lodash'
import CRUDService from '~/services/CRUDService'
export default {
  props: {
    ficha: {
      type: Boolean,
      default: false
    },
    vehiculoAsignadoId: {
      type: Number,
      default: 0
    },
    productosConsumidos: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  data() {
    return {
      error: null,
      ok: false,
      colorMsg: '',
      dialog: false,
      searchProductos: null,
      productoSeleccionado: null,
      productosSeleccionados: [],
      costo: 0,
      cantidad: 0,
      productos: []
    }
  },
  computed: {
    totalCompra() {
      let total = 0

      this.productosSeleccionados.forEach(producto => {
        total += producto.cantidad * producto.costo
      })
      return total
    }
  },
  watch: {
    productosConsumidos(productos) {
      console.log('productos', productos, this.productosConsumidos)
      // if (this.productosConsumidos.length < 1) {
      this.productosSeleccionados = []
      this.agregarProductosPorFicha(productos)
      // }
    }
  },
  created() {
    this.crud = new CRUDService()
    this.getAllProductos()

    // this.agregarProductosPorFicha(this.productosConsumidos)
  },
  methods: {
    clearvars() {
      this.productoSeleccionado = null
      this.costo = 0.0
      this.cantidad = 0
    },
    agregarProductosPorFicha(productos) {
      productos.forEach(producto => {
        this.productoSeleccionado = producto
        this.cantidad = producto.cantidad
        this.costo = 0
        this.agregarProductos()
      })
    },

    agregarProductos() {
      const producto = {
        producto_id: this.productoSeleccionado.id,
        producto: this.productoSeleccionado,
        cantidad: parseInt(this.cantidad, 10),
        costo: parseFloat(this.costo)
      }

      const found = _.filter(this.productosSeleccionados, {
        producto_id: producto.producto_id
      })
      // console.log(
      //   'found ',
      //   found,
      //   _.map(this.productosSeleccionados, 'producto_id'),
      //   'producto.producto_id',
      //   producto.producto_id
      // )
      if (found.length < 1) {
        this.productosSeleccionados.unshift(producto)
        this.$emit('list', this.productosSeleccionados)
      } else {
        this.showError(`Producto ya existe!!!`, 'orange')
        return
      }
      this.clearvars()
    },
    getAllProductos() {
      const uri = this.ficha
        ? `productos_de_mi_vehiculo/${this.vehiculoAsignadoId}`
        : 'productos'
      this.crud.httpRailsHelper(uri, 'get').subscribe(
        res => {
          console.log('getAllProductos compras ', res.data)
          this.productos = res.data
        },
        err => {
          console.log(err.response)
        }
      )
    },
    eliminarProductos(producto) {
      const index = this.productosSeleccionados.indexOf(producto)
      this.productosSeleccionados.splice(index, 1)
    },
    enviar() {
      if (this.productosSeleccionados.length === 0) {
        this.showError(
          'Por favor seleccione un producto al menos para poder enviar!!!'
        )
        return
      }
      console.log('this.productosSeleccionados', this.productosSeleccionados)
      const productosAgregados = JSON.parse(
        JSON.stringify(this.productosSeleccionados)
      )
      const productosParaEnviar = []
      for (let index = 0; index < productosAgregados.length; index++) {
        const producto = productosAgregados[index]
        if (!isNaN(producto.cantidad) && producto.cantidad > 0) {
          productosParaEnviar.push({
            producto_id: producto.producto_id,
            costo: producto.costo,
            cantidad: producto.cantidad
          })
        } else {
          console.log('producto', producto)
          this.showError(
            `Por favor la indique la cantidad al producto ${producto.producto.nombre}!!!`
          )
          return
        }
      }
      // productos = _.map(
      //   productos,
      //   _.partialRight(_.pick, ['producto_id', 'cantidad', 'costo'])
      // )
      console.log('prueba de eliminar ', productosParaEnviar)
      this.crud
        .httpRailsHelper(`compras`, 'post', {
          compras: productosParaEnviar
        })
        .subscribe(
          res => {
            this.showError(`Compra creada correctamente!!`, 'green')
            // this.$emit('recargar')
            console.log('compra', res.data)
            this.clearvars()
            this.productosSeleccionados = []
            this.close()
          },
          err =>
            this.showError(
              'Ocurrio un error al enviar la compra: ' + JSON.stringify(err)
            )
        )
    },
    showError(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.colorMsg = color
    },
    close() {
      setTimeout(() => {
        Object.assign(this.$data, this.$options.data.apply(this))
      }, 500)
    }
  }
}
</script>

<style></style>
