<template>
  <v-layout
    v-if="tengoPermiso(PERMITIDOS.Emergencias, PERMIS.PERM_VER_LIST)"
    align-center
    justify-center
    row
    wrap
  >
    <!-- <img src="../static/911.jpeg" alt="911"  /> -->
    <!-- <v-flex xs12 sm8 md6>
      <div class="text-xs-center">
        <logo />
        <vuetify-logo />
      </div>
      <v-card>
        <v-card-title class="headline"
          >Welcome to the Vuetify + Nuxt.js template</v-card-title
        >
        <v-card-text>
          <p>
            Vuetify is a progressive Material Design component framework for
            Vue.js. It was designed to empower developers to create amazing
            applications.
          </p>
          <p>
            For more information on Vuetify, check out the
            <a href="https://vuetifyjs.com" target="_blank">documentation</a>.
          </p>
          <p>
            If you have questions, please join the official
            <a href="https://chat.vuetifyjs.com/" target="_blank" title="chat"
              >discord</a
            >.
          </p>
          <p>
            Find a bug? Report it on the github
            <a
              href="https://github.com/vuetifyjs/vuetify/issues"
              target="_blank"
              title="contribute"
              >issue board</a
            >.
          </p>
          <p>
            Thank you for developing with Vuetify and I look forward to bringing
            more exciting features in the future.
          </p>
          <div class="text-xs-right">
            <em><small>&mdash; John Leider</small></em>
          </div>
          <hr class="my-3" />
          <a href="https://nuxtjs.org/" target="_blank">Nuxt Documentation</a>
          <br />
          <a href="https://github.com/nuxt/nuxt.js" target="_blank"
            >Nuxt GitHub</a
          >
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" flat nuxt to="/inspire">Continue</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>-->
    <v-flex v-if="data != null && data.vehiculos.length > 0" class="ma-1" xs4>
      <v-card class="pa-2">
        <h2>Ultimo vehiculo registrado:</h2>
        <v-icon>mdi-car-convertible</v-icon>
        <p>{{ data.vehiculos[0].alias }}</p>
      </v-card>
    </v-flex>
    <!-- <v-flex v-if="data != null" class="ma-1" xs4>
      <v-card class="pa-2">
        <h2>Etapa de ultimo embaraso:</h2>
        <p>{{ data.embaraso_estados[0].nombre }}</p>
      </v-card>
    </v-flex>-->
    <v-flex
      v-if="data != null && data.ficha_clinicas.length > 0"
      class="ma-1"
      xs4
    >
      <v-card class="pa-2">
        <h2>Triaje de ultima ficha clinica:</h2>
        <v-icon>mdi-hospital</v-icon>
        <p>
          {{
            data.ficha_clinicas[0].triage_color
              ? data.ficha_clinicas[0].triage_color
              : ''
          }}
        </p>
      </v-card>
    </v-flex>
    <v-flex v-if="data != null && data.hospitals.length > 0" class="ma-1" xs4>
      <v-card class="pa-2">
        <h2>Ultimo hospital registrado:</h2>
        <v-icon>mdi-hospital-building</v-icon>

        <p>{{ data.hospitals[0].nombre }}</p>
      </v-card>
    </v-flex>
    <v-flex v-if="data != null && data.traumas.length > 0" class="ma-1" xs4>
      <v-card class="pa-2">
        <h2>Ultimo trauma registrado:</h2>
        <v-icon>mdi-account-multiple-outline</v-icon>
        <p>{{ data.traumas[0].nombre }}</p>
      </v-card>
    </v-flex>
    <v-flex
      v-if="data != null && data.procedimientos.length > 0"
      class="ma-1"
      xs4
    >
      <v-card class="pa-2">
        <h2>Ultimo procedimiento realizado:</h2>
        <v-icon>mdi-comment-processing</v-icon>
        <p>{{ data.procedimientos[0].nombre }}</p>
      </v-card>
    </v-flex>
    <v-flex
      v-if="data != null && data.exploraciones.length > 0"
      class="ma-1"
      xs4
    >
      <v-card class="pa-2">
        <h2>Ultima exploracion realizada:</h2>
        <v-icon>mdi-internet-explorer</v-icon>
        <p>{{ data.exploraciones[0].nombre }}</p>
      </v-card>
    </v-flex>
    <v-flex
      v-if="data != null && data.emergencia_tipos.length > 0"
      class="ma-1"
      xs4
    >
      <v-card class="pa-2">
        <h2>Ultima tipo de emergencia:</h2>
        <v-icon>mdi-car-brake-alert</v-icon>
        <p>{{ data.emergencia_tipos[0].nombre }}</p>
      </v-card>
    </v-flex>
    <v-flex v-if="data != null && data.ciudades.length > 0" class="ma-1" xs4>
      <v-card class="pa-2">
        <h2>Ultima ciudad registrada:</h2>
        <v-icon>mdi-home-city</v-icon>
        <p>{{ data.ciudades[0].nombre }}</p>
      </v-card>
    </v-flex>
    <v-flex v-if="data != null && data.personas.length > 0" class="ma-1" xs4>
      <v-card class="pa-2">
        <h2>Ultima persona registrada:</h2>
        <v-icon>mdi-account-badge</v-icon>
        <p>{{ data.personas[0].nombres }} {{ data.personas[0].apellidos }}</p>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
// import Logo from '~/components/Logo.vue'
// import VuetifyLogo from '~/components/VuetifyLogo.vue'
import CRUDService from '~/services/CRUDService.js'
import {
  tengoPermiso,
  PERMITIDOS,
  PERMIS,
  CURRENT_USER
} from '~/services/GLOBAL'
export default {
  middleware: 'authenticated',
  components: {
    // Logo,
    // VuetifyLogo
  },
  data: function() {
    return {
      PERMITIDOS,
      PERMIS,
      tengoPermiso,
      crud: null,
      data: null
    }
  },
  created() {
    this.crud = new CRUDService()
    CURRENT_USER.subscribe(() => {
      this.getData()
      this.$forceUpdate()
    })
  },
  methods: {
    getData() {
      if (tengoPermiso(PERMITIDOS.Emergencias, PERMIS.PERM_VER_LIST)) {
        this.crud.httpRailsHelper('last_record', 'get').subscribe(
          res => {
            console.log('respuesta last_record:', res.data)
            this.data = res.data
            // this.permisoss = res.data.permisos
          },
          err => {
            console.log('respuesta last_record:', err)
          }
        )
      }
    }
  }
}
</script>
