<template>
  <v-layout align-center justify-center row fill-height>
    <v-card class="card-login">
      <div>
        <img class="imgLogoÏ" src="../static/911.jpeg" alt="911" />
      </div>
      <v-card-title primary-title>
        <h1>Iniciar Sesion</h1>
      </v-card-title>
      <!-- <p>{{password}}</p> -->
      <form>
        <v-text-field
          v-model="nick"
          :error-messages="nickErrors"
          label="Usuario"
          required
          autocomplete
          @input="$v.nick.$touch()"
          @blur="$v.nick.$touch()"
        />
        <v-text-field
          v-model="password"
          :error-messages="passwordErrors"
          label="Clave"
          required
          autocomplete
          type="password"
          @input="$v.password.$touch()"
          @blur="$v.password.$touch()"
        />
        <v-layout align-center justify-center row fill-height>
          <v-btn
            :disabled="!valid || lEnviado"
            color="success"
            @click.stop="submit"
            >Iniciar Sesion</v-btn
          >
          <!-- <p>{{ user }}</p> -->
        </v-layout>
      </form>
      <v-snackbar v-model="ok" top right color="error">
        {{ error }}
        <v-btn dark flat @click="ok = false">Cerrar</v-btn>
      </v-snackbar>
    </v-card>
  </v-layout>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'
import { sacarText } from '../services/GLOBAL'
import AuthService from '~/services/AuthService.js'
import { USER_INFO } from '~/services/GLOBAL.js'

export default {
  layout: 'guest',
  subscriptions: function() {
    return {
      user: USER_INFO
    }
  },
  data: () => ({
    nick: 'admin',
    password: '12345678',
    error: undefined,
    lEnviado: false,
    ok: false,
    auth: new AuthService()
  }),
  validations: {
    nick: {
      required,
      minLength: minLength(4)
    },
    password: {
      required,
      minLength: minLength(4)
    }
  },
  computed: {
    valid() {
      return !this.$v.$invalid
    },
    nickErrors() {
      const errors = []
      if (!this.$v.nick.$dirty) return errors
      !this.$v.nick.minLength &&
        errors.push('El usuario debe tener mas caracteres')
      !this.$v.nick.required && errors.push('El usuario es requerido.')
      return errors
    },
    passwordErrors() {
      const errors = []
      if (!this.$v.password.$dirty) return errors
      !this.$v.password.minLength &&
        errors.push('La clave debe tener mas caracteres')
      !this.$v.password.required && errors.push('La clave es requerido.')
      return errors
    }
  },
  methods: {
    submit() {
      // alert('ENVIAR')
      this.lEnviado = true

      this.auth.login(this.nick, this.password).subscribe(
        ok => {
          console.log('RESPUESTA::LOGIN:::11', ok)
          const res = ok.data
          if (res.success) {
            this.$router.push('/')
          }
          // this.$v.$reset()
          console.log('RESPUESTA::LOGIN:::', res)
          this.lEnviado = false
        },
        err => {
          this.lEnviado = false
          if (err.response) {
            this.ok = true
            console.log('err', err.response)
            this.error =
              err.response && err.response.data
                ? sacarText(err.response.data)
                : sacarText(err.response)
            // this.error = JSON.stringify(err.response.data.errors)
          }
        }
      )
    }
  }
}
</script>

<style>
.card-login {
  padding: 3em;
}
</style>
