<template>
  <v-layout align-start justify-center row fill-height wrap>
    <v-flex xs12 md12 lg12>
      <v-card>
        <v-card-title>
          <!-- Nutrition -->
          <createCargoComponent
            v-if="tengoPermiso(PERMITIDOS['Cargos'], PERMIS.PERM_CREAR)"
            :title="title"
            @cargo="hola"
            @recargar="getAllCargos"
          ></createCargoComponent>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          v-if="tengoPermiso(PERMITIDOS['Cargos'], PERMIS.PERM_VER_LIST)"
          :search="search"
          :headers="headers"
          :items="cargos"
          :loading="isLoadingData"
          class="elevation-1"
          no-results-text="No se encontraron registros"
        >
          <template v-slot:items="props">
            <!-- <td>{{ props.item.name }}</td> -->
            <td>{{ props.item.nombre }}</td>
            <td>{{ props.item.valor_del_dia_en_horas }}</td>
            <td>{{ props.item.cant_dias_libres }}</td>
            <td>
              <!-- <editCargoComponent
                :id="props.item.id"
                @recargar="getAllCargos"
              ></editCargoComponent>-->
              <createCargoComponent
                v-if="
                  tengoPermiso(PERMITIDOS['Cargos'], PERMIS.PERM_ACTUALIZAR)
                "
                :id="props.item.id"
                :title="title"
                @cargo="hola"
                @recargar="getAllCargos"
              ></createCargoComponent>
              <confirmDialog
                v-if="tengoPermiso(PERMITIDOS['Cargos'], PERMIS.PERM_ELIMINAR)"
                :title="'Borrar Cargo'"
                :msg="'¿Seguro que quiere borrar este cargo?'"
                @borrar="$event ? deleteT(props.item) : null"
              ></confirmDialog>
            </td>
          </template>
        </v-data-table>
        <v-snackbar v-model="ok" top right :color="color">
          {{ error }}
          <v-btn dark flat @click.stop="ok = false">Cerrar</v-btn>
        </v-snackbar>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import createCargoComponent from '~/components/cargos/createCargo'
// import editCargoComponent from '~/components/cargos/editCargo'
import confirmDialog from '~/components/utils/confirmDialog'
import {
  tengoPermiso,
  PERMITIDOS,
  PERMIS,
  CURRENT_USER
} from '~/services/GLOBAL'
import CRUDService from '~/services/CRUDService'
export default {
  middleware: 'authenticated',
  components: {
    createCargoComponent,
    // editCargoComponent,
    confirmDialog
  },
  data() {
    return {
      PERMITIDOS,
      PERMIS,
      tengoPermiso,
      search: '',
      title: 'Cargos',
      color: 'green',
      error: '',
      ok: false,
      isLoadingData: true,
      cargo: {
        nombre: '',
        valor_del_dia_en_horas: '',
        cant_dias_libres: 0
      },
      headers: [
        {
          text: 'Cargo',
          align: 'left',
          value: 'nombre'
        },
        { text: 'Valor Del Dia En Horas', value: 'valor_del_dia_en_horas' },
        { text: 'Dias Libres', value: 'cant_dias_libres' },
        { text: 'Acciones', sortable: false }
      ],
      cargos: []
    }
  },

  created() {
    this.crud = new CRUDService()
    this.getAllCargos()
    console.log('PERMITIDOS ', PERMITIDOS)
    // if (PERMITIDOS.Cargos) {
    //   tengoPermiso(PERMITIDOS.Cargos, PERMIS.PERM_ELIMINAR)
    // }
    CURRENT_USER.subscribe(() => {
      this.$forceUpdate()
    })
  },
  methods: {
    hola(arg) {
      console.log('HOLAAAA ', arg)
    },
    // tengoPermiso(permiso, PermisAction) {
    //   tengoPermiso(permiso, PermisAction)
    // },
    deleteT(item) {
      console.log('clisck en borrar:: ', item.id)
      this.confirm = false
      this.crud.httpRailsHelper(`cargos/${item.id}`, 'delete').subscribe(
        res => {
          const index = this.cargos.indexOf(item)
          console.log('RESPUESTA BORRAR::', res.data)
          // this.ok = true
          this.showSnackBar(res.data.msg, 'green')
          this.cargos.splice(index, 1)
          // this.getAllCargos()
        },
        err => {
          console.log('errror:', err.response)
          if (err.response && err.response.data) {
            this.showSnackBar(
              err.response.data ? err.response.data.msg : 'Error al eliminar',
              'red'
            )
          } else {
            this.showSnackBar('Error de Conexión', 'red')
          }
        }
      )
    },
    showSnackBar(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.color = color
    },
    getAllCargos() {
      this.crud.httpRailsHelper('cargos', 'get').subscribe(
        res => {
          console.log('cargos', res.data)
          this.cargos = res.data
          this.isLoadingData = false
        },
        err => {
          this.isLoadingData = false
          console.log(err.response)
        }
      )
    }
  }
}
</script>

<style></style>
