<template>
  <v-layout align-start justify-center row fill-height wrap>
    <v-flex xs12 md12 lg12>
      <v-card>
        <v-card-title>
          <!-- Nutrition -->
          <createHospitalComponent
            :title="title"
            :ciudades="ciudades"
            @hospital="hola"
            @recargar="getAllHospitales"
          ></createHospitalComponent>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          v-if="tengoPermiso(PERMITIDOS['Hospitales'], PERMIS.PERM_VER_LIST)"
          :search="search"
          :headers="headers"
          :items="hospitales"
          :loading="isLoadingData"
          class="elevation-1"
          no-results-text="No se encontraron registros"
        >
          <template v-slot:items="props">
            <!-- <td>{{ props.item.name }}</td> -->
            <td>{{ props.item.nombre }}</td>
            <td>{{ props.item.ciudad.nombre }}</td>
            <td>{{ props.item.tipo_publico ? 'Público' : 'Privado' }}</td>
            <td>
              <createHospitalComponent
                v-if="tengoPermiso(PERMITIDOS['Hospitales'], PERMIS.PERM_CREAR)"
                :id="props.item.id"
                :title="title"
                :ciudades="ciudades"
                @hospital="hola"
                @recargar="getAllHospitales"
              ></createHospitalComponent>
              <confirmDialog
                :title="'Borrar hospital'"
                :msg="'¿Seguro que quiere borrar este hospital?'"
                @borrar="$event ? deleteT(props.item) : null"
              ></confirmDialog>
            </td>
          </template>
        </v-data-table>
        <v-snackbar v-model="ok" top right :color="color">
          {{ error }}
          <v-btn dark flat @click.stop="ok = false">Cerrar</v-btn>
        </v-snackbar>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { tengoPermiso, PERMITIDOS, PERMIS } from '~/services/GLOBAL'
import createHospitalComponent from '~/components/hospitales/createhospital'
// import edithospitalComponent from '~/components/hospitales/edithospital'
import confirmDialog from '~/components/utils/confirmDialog'
import CRUDService from '~/services/CRUDService'
export default {
  middleware: 'authenticated',
  components: {
    createHospitalComponent,
    // edithospitalComponent,
    confirmDialog
  },
  data() {
    return {
      PERMITIDOS,
      PERMIS,
      tengoPermiso,
      search: '',
      title: 'hospital',
      color: 'green',
      error: '',
      ok: false,
      isLoadingData: true,
      hospital: {
        nombre: '',
        valor_del_dia_en_horas: '',
        cant_dias_libres: 0
      },
      headers: [
        {
          text: 'Hospital',
          align: 'left',
          value: 'nombre'
        },
        { text: 'Ciudad', value: 'cuidad' },
        { text: 'Tipo', value: 'tipo_publico' },
        { text: 'Acciones', sortable: false }
      ],
      hospitales: [],
      ciudades: []
    }
  },
  created() {
    console.log('PERMITIDOS ', PERMITIDOS)
    this.crud = new CRUDService()
    this.getAllCiudades()
    this.getAllHospitales()
  },
  methods: {
    hola(arg) {
      console.log('HOLAAAA ', arg)
    },
    deleteT(item) {
      console.log('clisck en borrar:: ', item.id)
      this.confirm = false
      this.crud.httpRailsHelper(`hospitals/${item.id}`, 'delete').subscribe(
        res => {
          const index = this.hospitales.indexOf(item)
          console.log('RESPUESTA BORRAR::', res.data)
          // this.ok = true
          this.showSnackBar('Hospital borrado correctamente!!', 'green')
          this.hospitales.splice(index, 1)
          // this.getAllHospitales()
        },
        err => {
          console.log('errror:', err.response)
          if (err.response && err.response.data) {
            this.showSnackBar(
              err.response.data ? err.response.data.msg : 'Error al eliminar',
              'red'
            )
          } else {
            this.showSnackBar('Error de Conexión', 'red')
          }
        }
      )
    },
    showSnackBar(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.color = color
    },
    getAllCiudades() {
      this.crud.getAllCiudad().subscribe(
        res => {
          console.log('hospitales', res.data)
          this.ciudades = res.data
        },
        err => {
          console.log(err.response)
        }
      )
    },
    getAllHospitales() {
      this.crud.httpRailsHelper('hospitals', 'get').subscribe(
        res => {
          console.log('hospitales', res.data)
          this.hospitales = res.data
          this.isLoadingData = false
        },
        err => {
          this.isLoadingData = false
          console.log(err.response)
        }
      )
    }
  }
}
</script>

<style></style>
