<template>
  <v-layout align-start justify-center row fill-height wrap>
    <v-flex xs12 md12 lg12>
      <v-card>
        <v-card-title>
          <!-- Nutrition -->
          <createPersonaComponent
            v-if="tengoPermiso(PERMITIDOS['Personas'], PERMIS.PERM_CREAR)"
            :title="title"
            :cargos="cargos"
            :ciudades="ciudades"
            :roles="roles"
            :crud="crud"
            @recargar="getPersonas"
          ></createPersonaComponent>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          v-if="tengoPermiso(PERMITIDOS['Personas'], PERMIS.PERM_VER_LIST)"
          :search="search"
          :loading="isLoadingData"
          :headers="headers"
          :items="personas"
          class="elevation-1"
          no-results-text="No se encontraron registros"
        >
          <template v-slot:items="props">
            <!-- <td>{{ props.item.name }}</td> -->
            <td>{{ props.item.nombres }}</td>
            <td>{{ props.item.apellidos }}</td>
            <td>{{ props.item.sexo }}</td>
            <td>
              <createPersonaComponent
                v-if="
                  tengoPermiso(PERMITIDOS['Personas'], PERMIS.PERM_ACTUALIZAR)
                "
                :id="props.item.id"
                :title="title"
                :cargos="cargos"
                :roles="roles"
                :ciudades="ciudades"
                :crud="crud"
                @recargar="getPersonas"
              ></createPersonaComponent>
              <confirmDialog
                v-if="
                  tengoPermiso(PERMITIDOS['Personas'], PERMIS.PERM_ELIMINAR)
                "
                :title="'Borrar Persona'"
                :msg="'¿Seguro que quiere borrar esta persona?'"
                @borrar="$event ? deleteT(props.item) : null"
              ></confirmDialog>
            </td>
            <!-- <td >{{ props.item.protein }}</td>
            <td >{{ props.item.iron }}</td>-->
          </template>
        </v-data-table>
      </v-card>
      <v-snackbar v-model="ok" top right :color="color">
        {{ error }}
        <v-btn dark flat @click.stop="ok = false">Cerrar</v-btn>
      </v-snackbar>
    </v-flex>
  </v-layout>
</template>

<script>
import createPersonaComponent from '~/components/personas/createPersona'
// import editPersonaComponent from '~/components/personas/editPersona'
import confirmDialog from '~/components/utils/confirmDialog'
import {
  tengoPermiso,
  PERMITIDOS,
  PERMIS,
  CURRENT_USER
} from '~/services/GLOBAL'
import CRUDService from '~/services/CRUDService.js'
export default {
  middleware: 'authenticated',
  components: {
    // editPersonaComponent,
    createPersonaComponent,
    confirmDialog
  },
  data() {
    return {
      PERMITIDOS,
      PERMIS,
      tengoPermiso,
      crud: null,
      search: '',
      color: 'green',
      error: '',
      ok: false,
      isLoadingData: true,
      title: 'persona',
      ciudades: [],
      persona: {
        nombres: '',
        apellidos: '',
        edad: 0,
        sexo: '',
        telefono_1: '',
        telefono_2: '',
        numero_de_seguro: '',
        ciudad_id: '',
        cargo_id: '',
        empleado: false
      },
      cargos: [],
      headers: [
        {
          text: 'Nombres',
          // align: 'left',
          // sortable: false,
          value: 'nombres'
        },
        { text: 'Apellidos', value: 'apellidos' },
        { text: 'Sexo', value: 'sexo' },
        { text: 'Acciones', value: 'sexo' }
        // { text: 'Carbs (g)', value: 'carbs' },
        // { text: 'Protein (g)', value: 'protein' },
        // { text: 'Iron (%)', value: 'iron' }
      ],
      roles: [],
      personas: [
        // {
        //   nombres: 'Fulana',
        //   apellidos: 'aaa',
        //   edad: 0,
        //   sexo: 'H',
        //   telefono_1: '49394',
        //   telefono_2: '3434',
        //   numero_de_seguro: '3434',
        //   ciudad_id: '2',
        //   cargo_id: '3',
        //   empleado: false
        // }
        // {
        //   name: 'Ice cream sandwich',
        //   calories: 237,
        //   fat: 9.0,
        //   carbs: 37,
        //   protein: 4.3,
        //   iron: '1%'
        // }
      ]
    }
  },
  created() {
    this.crud = new CRUDService()
    this.getPersonas()
    this.getCargos()
    this.getCiudades()
    this.getRoles()
    CURRENT_USER.subscribe(() => {
      this.$forceUpdate()
    })
  },
  methods: {
    showSnackBar(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.color = color
    },
    deleteT(item) {
      this.crud.httpRailsHelper(`personas/${item.id}`, 'delete').subscribe(
        res => {
          // console.log('RESPUESTA BORRAR::', res.data)
          this.showSnackBar(res.data.msg || 'Borrado correctamente', 'green')
          // this.getPersonas()
          const index = this.personas.indexOf(item)
          this.personas.splice(index, 1)
        },
        err => {
          // console.log('errror:', err.response.data)
          this.showSnackBar(err.response.data.msg || 'Error al eliminar', 'red')
        }
      )
    },
    getCargos() {
      this.crud.getAllCargos().subscribe(({ data }) => {
        this.cargos = data
      })
    },
    getPersonas() {
      this.crud.getAllPersonas().subscribe(({ data }) => {
        this.personas = data
        this.isLoadingData = false
      })
    },
    getCiudades() {
      this.crud.getAllCiudad().subscribe(({ data }) => {
        this.ciudades = data
      })
    },
    getRoles() {
      this.crud.httpRailsHelper('roles', 'get').subscribe(
        res => {
          console.log('respuesta roles:', res.data)
          this.roles = res.data
        },
        err => {
          console.log('respuesta roles:', err)
        }
      )
    },
    crearPersona(arg) {
      // console.log('HOLAAAA ', arg)
      this.crud.createPersona(arg).subscribe(({ data }) => {
        // this.cargos = data
      })
    }
  }
}
</script>

<style></style>
