<template>
  <v-layout align-start justify-center row fill-height wrap>
    <v-flex xs12 md12 lg12>
      <v-card>
        <v-card-title>
          <!-- Nutrition -->
          <createProductoComponent
            v-if="tengoPermiso(PERMITIDOS['Productos'], PERMIS.PERM_CREAR)"
            :title="title"
            @producto="hola"
            @recargar="getAllProductos"
          ></createProductoComponent>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          v-if="tengoPermiso(PERMITIDOS['Productos'], PERMIS.PERM_VER_LIST)"
          :search="search"
          :headers="headers"
          :items="productos"
          :loading="isLoadingData"
          class="elevation-1"
          no-results-text="No se encontraron registros"
        >
          <template v-slot:items="props">
            <td>{{ props.item.nombre }}</td>
            <td>{{ props.item.cant_minima }}</td>
            <td>{{ props.item.cantidad }}</td>
            <td>
              <createProductoComponent
                v-if="
                  tengoPermiso(PERMITIDOS['Productos'], PERMIS.PERM_ACTUALIZAR)
                "
                :id="props.item.id"
                :title="title"
                @producto="hola"
                @recargar="getAllProductos"
              ></createProductoComponent>
              <confirmDialog
                v-if="
                  tengoPermiso(PERMITIDOS['Productos'], PERMIS.PERM_ELIMINAR)
                "
                :title="'Borrar Producto'"
                :msg="'¿Seguro que quiere borrar este producto?'"
                @borrar="$event ? deleteT(props.item) : null"
              ></confirmDialog>
            </td>
          </template>
        </v-data-table>
        <v-snackbar v-model="ok" top right :color="color">
          {{ error }}
          <v-btn dark flat @click.stop="ok = false">Cerrar</v-btn>
        </v-snackbar>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import {
  tengoPermiso,
  PERMITIDOS,
  PERMIS,
  CURRENT_USER
} from '~/services/GLOBAL'
import createProductoComponent from '~/components/productos/createProducto'
import confirmDialog from '~/components/utils/confirmDialog'
import CRUDService from '~/services/CRUDService'
export default {
  middleware: 'authenticated',
  components: {
    createProductoComponent,
    // editCargoComponent,
    confirmDialog
  },
  data() {
    return {
      PERMITIDOS,
      PERMIS,
      tengoPermiso,
      search: '',
      title: 'Producto',
      color: 'green',
      error: '',
      ok: false,
      isLoadingData: true,
      producto: {
        nombre: '',
        cantidad: 0,
        cant_minima: 0,
        cantidad_maxima: 0
      },
      headers: [
        {
          text: 'Producto',
          align: 'left',
          value: 'nombre'
        },
        { text: 'Cantidad Minima', value: 'cant_minima' },
        { text: 'Cantidad Existente', value: 'cantidad' },
        { text: 'Acciones', sortable: false }
      ],
      productos: []
    }
  },
  created() {
    this.crud = new CRUDService()
    this.getAllProductos()
    CURRENT_USER.subscribe(() => {
      this.$forceUpdate()
    })
  },
  methods: {
    hola(arg) {
      console.log('HOLAAAA ', arg)
    },
    deleteT(item) {
      console.log('clisck en borrar:: ', item.id)
      this.confirm = false
      this.crud.httpRailsHelper(`productos/${item.id}`, 'delete').subscribe(
        res => {
          const index = this.productos.indexOf(item)
          console.log('RESPUESTA BORRAR::', res.data)
          // this.ok = true
          this.showSnackBar(res.data.msg, 'green')
          this.productos.splice(index, 1)
          // this.getAllProductos()
        },
        err => {
          console.log('errror:', err.response)
          if (err.response && err.response.data) {
            this.showSnackBar(
              err.response.data ? err.response.data.msg : 'Error al eliminar',
              'red'
            )
          } else {
            this.showSnackBar('Error de Conexión', 'red')
          }
        }
      )
    },
    showSnackBar(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.color = color
    },
    getAllProductos() {
      this.crud.httpRailsHelper('productos', 'get').subscribe(
        res => {
          console.log('productos', res.data)
          this.productos = res.data
          this.isLoadingData = false
        },
        err => {
          this.isLoadingData = false
          console.log(err.response)
        }
      )
    }
  }
}
</script>

<style></style>
