<template>
  <v-layout align-start justify-center row fill-height wrap>
    <v-flex xs12 md12 lg12>
      <v-card>
        <v-card-title>
          <!-- Nutrition -->
          <createProductoVehiculoComponent
            v-if="tengoPermiso(PERMITIDOS['Productos'], PERMIS.PERM_CREAR)"
            :title="title"
            :vehiculos="vehiculos"
            @producto="hola"
            @recargar="getAllVehiculos"
          ></createProductoVehiculoComponent>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          v-if="tengoPermiso(PERMITIDOS['Productos'], PERMIS.PERM_VER_LIST)"
          :search="search"
          :headers="headers"
          :items="vehiculos"
          :loading="isLoadingData"
          :expand="true"
          class="elevation-1"
          no-results-text="No se encontraron registros"
        >
          <template v-slot:items="props">
            <tr @click="props.expanded = !props.expanded">
              <td>{{ props.item.marca }}</td>
              <td>{{ props.item.modelo }}</td>
              <td>{{ props.item.anio }}</td>
              <td>{{ props.item.alias }}</td>
              <td>{{ props.item.placa }}</td>
              <td>{{ props.item.ProductosVehiculo.length }}</td>
              <td>
                <span v-if="props.item.ultimo_restablecimiento_de_invetario">
                  {{
                    props.item.ultimo_restablecimiento_de_invetario
                      | moment('DD/MM/YYYY hh:mm a')
                  }}
                </span>
              </td>
            </tr>
          </template>
          <template v-slot:expand="props">
            <v-flex xs12 md12 lg12>
              <table style="    width: 100%;">
                <thead>
                  <tr>
                    <th>Producto</th>
                    <th>Cantidad Minima</th>
                    <th>Existencia</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(item, index) in props.item.ProductosVehiculo"
                    :key="index"
                  >
                    <td style="    text-align: center;">
                      {{ item.producto.nombre }}
                    </td>
                    <td style="    text-align: center;">
                      {{ item.producto.cant_minima }}
                    </td>
                    <td style="    text-align: center;">
                      {{ item.cant_actual }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </v-flex>
          </template>
        </v-data-table>
        <v-snackbar v-model="ok" top right :color="color">
          {{ error }}
          <v-btn dark flat @click.stop="ok = false">Cerrar</v-btn>
        </v-snackbar>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import {
  tengoPermiso,
  PERMITIDOS,
  PERMIS,
  CURRENT_USER
} from '~/services/GLOBAL'
import createProductoVehiculoComponent from '~/components/productos_vehiculos/createProductoVehiculo'
// import confirmDialog from '~/components/utils/confirmDialog'
import CRUDService from '~/services/CRUDService'
export default {
  middleware: 'authenticated',
  components: {
    createProductoVehiculoComponent
    // editCargoComponent,
    // confirmDialog
  },
  data() {
    return {
      PERMITIDOS,
      PERMIS,
      tengoPermiso,
      search: '',
      title: 'Asignar Produtos a Vehiculos',
      color: 'green',
      error: '',
      ok: false,
      isLoadingData: true,
      producto_vehiculo: {
        producto: 0,
        vehiculo_id: null,
        cant_actual: 0,
        cant_minima: 0,
        activo: true
      },
      headers: [
        {
          text: 'Marca',
          align: 'left',
          // sortable: false,
          value: 'marca'
        },
        { text: 'Modelo', value: 'modelo' },
        { text: 'Año', value: 'anio' },
        { text: 'Alias', value: 'alias' },
        { text: 'Placa', value: 'placa' },
        { text: 'Total Productos', value: 'productos', sortable: false },
        {
          text: 'Ultimo restablecimiento',
          value: 'ultimo_restablecimiento_de_invetario'
        }
      ],
      productos: [],
      vehiculos: []
    }
  },
  created() {
    this.crud = new CRUDService()
    this.getAllVehiculos()
    CURRENT_USER.subscribe(() => {
      this.$forceUpdate()
    })
  },
  methods: {
    hola(arg) {
      console.log('HOLAAAA ', arg)
    },
    deleteT(item) {
      console.log('clisck en borrar:: ', item.id)
      this.confirm = false
      this.crud.httpRailsHelper(`productos/${item.id}`, 'delete').subscribe(
        res => {
          const index = this.productos.indexOf(item)
          console.log('RESPUESTA BORRAR::', res.data)
          // this.ok = true
          this.showSnackBar(res.data.msg, 'green')
          this.productos.splice(index, 1)
          // this.getAllProductos()
        },
        err => {
          console.log('errror:', err.response)
          if (err.response && err.response.data) {
            this.showSnackBar(
              err.response.data ? err.response.data.msg : 'Error al eliminar',
              'red'
            )
          } else {
            this.showSnackBar('Error de Conexión', 'red')
          }
        }
      )
    },
    showSnackBar(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.color = color
    },
    getAllVehiculos() {
      this.crud.httpRailsHelper('productos_vehiculos', 'get').subscribe(
        res => {
          console.log('productos_vehiculos', res.data)
          this.vehiculos = res.data
          this.isLoadingData = false
        },
        err => {
          this.isLoadingData = false
          console.log(err.response)
        }
      )
    }
  }
}
</script>

<style></style>
