<template>
  <v-layout align-start row>
    <v-flex xs4 md4>
      <v-card class="mx-auto" max-width="300" tile>
        <v-list>
          <v-subheader>
            Roles
            <crearRole
              v-if="permisossNuevos != null"
              :permisos="permisossNuevos"
              @recargar="getRoles"
            ></crearRole>
            <!-- <v-btn color="primary">Crear Role</v-btn> -->
          </v-subheader>

          <v-list-tile v-for="(item, i) in data" :key="i" :to="item.to">
            <v-btn
              v-if="role_selected != null && role_selected.id != item.id"
              @click="selectRole(item)"
              >{{ item.name }}</v-btn
            >
            <editarRole
              v-if="permisoss != null"
              :permisos="permisoss"
              :role="item"
            ></editarRole>

            <v-icon small class="mr-2" @click="deleteT(item)">delete</v-icon>

            <v-btn v-if="role_selected == null" @click="selectRole(item)">{{
              item.name
            }}</v-btn>
            <v-btn
              v-if="role_selected != null && role_selected.id == item.id"
              :color="'primary'"
              style="background-color: blue"
              @click="selectRole(item)"
              >{{ item.name }}</v-btn
            >
            <!-- <v-list-tile-action>
              <v-icon>mdi-folder</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title v-text="item.name" />
            </v-list-tile-content>-->
          </v-list-tile>
        </v-list>
      </v-card>
    </v-flex>
    <v-flex v-if="role_selected != null" xs4 md4>
      <v-card class="mx-auto" max-width="300">
        <div v-for="(itm, i) in role_selected.permisos" :key="i + itm.name">
          <v-btn v-if="permiso_selected == null" @click="selectPermiso(itm)">
            {{ itm.name }}
          </v-btn>
          <v-btn
            v-if="permiso_selected != null && permiso_selected.id != itm.id"
            @click="selectPermiso(itm)"
            >{{ itm.name }}</v-btn
          >
          <v-btn
            v-if="permiso_selected != null && permiso_selected.id == itm.id"
            style="background-color: blue"
            @click="selectPermiso(itm)"
            >{{ itm.name }}</v-btn
          >
          <!-- <v-btn @click="selectPermiso(itm)">{{ itm.name }}</v-btn> -->
        </div>
      </v-card>
    </v-flex>
    <v-flex v-if="permiso_selected != null" xs4 md4>
      <v-card class="mx-auto" max-width="300">
        <div v-for="(itm, i) in permiso_selected.acciones" :key="i + itm.name">
          <p>{{ itm.name }}</p>
          <!-- <v-btn @click="selectPermiso(itm)">{{ itm.name }}</!-->
        </div>
      </v-card>
    </v-flex>
    <v-snackbar v-model="ok" top right :color="color">
      {{ error }}
      <v-btn dark flat @click.stop="ok = false">Cerrar</v-btn>
    </v-snackbar>
  </v-layout>
</template>

<script>
import { sacarText } from '../../services/GLOBAL'
import CRUDService from '~/services/CRUDService.js'
import crearRole from '~/components/roles/crearRole'
import editarRole from '~/components/roles/editarRole'
export default {
  components: {
    crearRole,
    editarRole
  },
  data: function() {
    return {
      crud: null,
      data: [],
      color: 'green',
      error: '',
      ok: false,
      role_selected: null,
      permiso_selected: null,
      permisoss: null,
      permisossNuevos: null
    }
  },
  created() {
    this.crud = new CRUDService()
    this.getRoles()
  },
  methods: {
    deleteT(item) {
      this.$confirm(`¿Seguro que quiere borrar este rol?`, {
        buttonFalseText: 'Cancelar',
        buttonTrueText: 'Aceptar',
        title: 'Borrar rol',
        icon: 'delete',
        color: 'red',
        width: 500
      }).then(lCorrect => {
        console.log('lCorrect', lCorrect)
        if (lCorrect) {
          this.crud.httpRailsHelper(`roles/${item.id}`, 'delete').subscribe(
            res => {
              const index = this.data.indexOf(item)
              console.log('RESPUESTA BORRAR::', res.data)
              this.showSnackBar(res.data.msg, 'green')
              this.data.splice(index, 1)
            },
            err => {
              console.log('errror:', err.response)
              if (err.response && err.response.data) {
                this.showSnackBar(' ' + sacarText(err.response.data), 'red')
              } else {
                this.showSnackBar('Error de Conexión', 'red')
              }
            }
          )
        }
      })
    },
    showSnackBar(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.color = color
    },
    getRoles() {
      this.crud.httpRailsHelper('roles', 'get').subscribe(
        res => {
          console.log('respuesta roles:', res.data)
          this.data = res.data
          if (this.data.length > 0) {
            this.selectRole(this.data[0])
            // this.selectPermiso(this.data[0].permisos[0])
          }
        },
        err => {
          console.log('respuesta roles:', err)
        }
      )
      this.crud.httpRailsHelper('roles/1', 'get').subscribe(
        res => {
          console.log('respuesta permisos:', res.data)
          this.permisoss = res.data.permisos
        },
        err => {
          console.log('respuesta permisos:', err)
        }
      )
      this.crud.httpRailsHelper('permisos', 'get').subscribe(
        res => {
          console.log('respuesta permisossNuevos:', res.data)
          this.permisossNuevos = res.data
        },
        err => {
          console.log('respuesta permisos:', err)
        }
      )
    },
    selectRole(arg) {
      this.role_selected = arg
      this.selectPermiso(this.role_selected.permisos[0])
    },
    selectPermiso(arg) {
      this.permiso_selected = arg
    }
  }
}
</script>

<style></style>
