<template>
  <v-layout align-start justify-center row fill-height wrap>
    <v-flex xs12 md12 lg12>
      <v-card>
        <v-card-title>
          <createTandaComponent
            v-if="tengoPermiso(PERMITIDOS['Tandas'], PERMIS.PERM_CREAR)"
            :title="title"
            :dias="dias"
            :cargos="cargos"
            :crear="crud"
            @recargar="getAllTandas"
          ></createTandaComponent>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          v-if="tengoPermiso(PERMITIDOS['Tandas'], PERMIS.PERM_VER_LIST)"
          :search="search"
          :headers="headers"
          :loading="isLoadingData"
          :items="tandas"
          class="elevation-1"
          no-results-text="No se encontraron registros"
        >
          <template v-slot:items="props">
            <td>{{ props.item.descripcion }}</td>
            <td>{{ props.item.cargo.nombre }}</td>
            <td>{{ props.item.dia.nombre }}</td>
            <td>{{ props.item.hora_inicio | moment('hh:mm a') }}</td>
            <td>{{ props.item.hora_fin | moment('hh:mm a') }}</td>
            <td>
              <createTandaComponent
                v-if="
                  tengoPermiso(PERMITIDOS['Tandas'], PERMIS.PERM_ACTUALIZAR)
                "
                :id="props.item.cargo.id"
                :title="title"
                :dias="dias"
                :cargos="cargos"
                :crear="crud"
                @recargar="getAllTandas"
              ></createTandaComponent>
              <confirmDialog
                v-if="tengoPermiso(PERMITIDOS['Tandas'], PERMIS.PERM_ELIMINAR)"
                :title="'Borrar Tanda'"
                :msg="'¿Seguro que quiere borrar esta Tanda?'"
                @borrar="$event ? deleteT(props.item) : null"
              ></confirmDialog>
            </td>
          </template>
        </v-data-table>
      </v-card>
      <v-snackbar v-model="ok" top right :color="color">
        {{ error }}
        <v-btn dark flat @click.stop="ok = false">Cerrar</v-btn>
      </v-snackbar>
    </v-flex>
  </v-layout>
</template>

<script>
import confirmDialog from '~/components/utils/confirmDialog'

import createTandaComponent from '~/components/tandas/createTanda'
import CRUDService from '~/services/CRUDService'
import {
  tengoPermiso,
  PERMITIDOS,
  PERMIS,
  CURRENT_USER
} from '~/services/GLOBAL'
export default {
  middleware: 'authenticated',
  components: {
    createTandaComponent,
    confirmDialog
  },
  data() {
    return {
      PERMITIDOS,
      PERMIS,
      tengoPermiso,
      search: '',
      crud: null,
      title: 'Tandas',
      isLoadingData: true,
      color: 'green',
      error: '',
      ok: false,
      tanda: {
        cargo_id: 0,
        dia_id: 0,
        hora_inicio: '',
        hora_fin: ''
      },
      dias: [],
      cargos: [],
      headers: [
        {
          text: 'Descripción',
          align: 'left',
          // sortable: false,
          value: 'decripcion'
        },
        { text: 'Cargo', value: 'cargo.nombre' },
        { text: 'Dia', value: 'dia.nombre' },
        { text: 'Hora Inicio', value: 'hora_inicio' },
        { text: 'Hora Fin', value: 'hora_fin' },
        { text: 'Acciones', value: 'cargo.nombre' }
      ],
      tandas: []
    }
  },
  created() {
    this.crud = new CRUDService()
    this.getAllDias()
    this.getAllCargos()
    this.getAllTandas()
    CURRENT_USER.subscribe(() => {
      this.$forceUpdate()
    })
    console.log('ssss', this.$nuxt.$nuxt)
  },
  methods: {
    hola(arg) {
      console.log('HOLAAAA ', arg)
    },
    showSnackBar(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.color = color
    },
    getAllDias() {
      this.crud.getAllDias().subscribe(
        res => {
          console.log('dias', res)
          if (res.data) {
            this.dias = res.data
          }
        },
        err => {
          console.log('errr', err)
        }
      )
    },
    deleteT(item) {
      this.crud.httpRailsHelper(`tandas/${item.id}`, 'delete').subscribe(
        res => {
          // console.log('RESPUESTA BORRAR::', res.data)
          this.showSnackBar(res.data.msg || 'Borrado correctamente', 'green')
          // this.getAllTandas()
          const index = this.tandas.indexOf(item)
          this.tandas.splice(index, 1)
        },
        err => {
          // console.log('errror:', err.response.data)
          this.showSnackBar(err.response.data.msg || 'Error al eliminar', 'red')
        }
      )
    },
    getAllCargos() {
      this.crud.getAllCargos().subscribe(
        res => {
          console.log('cargos', res)
          if (res.data) {
            this.cargos = res.data
          }
        },
        err => {
          console.log('errr', err)
        }
      )
    },
    getAllTandas() {
      this.crud.httpRailsHelper('tandas', 'get').subscribe(
        res => {
          console.log('alltandas', res.data)
          this.tandas = res.data
          this.isLoadingData = false
        },
        err => {
          console.log(err.response)
          this.isLoadingData = false
        }
      )
    },
    crearTanda(arg) {
      console.log('tanda ', arg)
      this.crud
        .httpRailsHelper('tandas', 'post', arg)
        .subscribe(
          res => console.log('crearTanda', res.data),
          err => console.log(err.response)
        )
    }
  }
}
</script>

<style></style>
