<template>
  <v-layout align-start justify-center row fill-height wrap>
    <v-flex xs12 md12 lg12>
      <v-card>
        <v-card-title>
          <!-- Nutrition -->
          <turnoVehiculoComponent
            v-if="
              tengoPermiso(PERMITIDOS['Turnos Vehiculos'], PERMIS.PERM_CREAR)
            "
            :title="title"
            :dias-con-turnos="diasConTurnos"
            :vehiculos="vehiculos"
            @producto="hola"
            @recargar="getAllTurnosVehiculos"
          ></turnoVehiculoComponent>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          v-if="
            tengoPermiso(PERMITIDOS['Turnos Vehiculos'], PERMIS.PERM_VER_LIST)
          "
          :search="search"
          :headers="headers"
          :items="vehiculos"
          :loading="isLoadingData"
          :expand="true"
          class="elevation-1"
          no-results-text="No se encontraron registros"
        >
          <template v-slot:items="props">
            <tr @click="props.expanded = !props.expanded">
              <td>{{ props.item.marca }}</td>
              <td>{{ props.item.modelo }}</td>
              <td>{{ props.item.anio }}</td>
              <td>{{ props.item.alias }}</td>
              <td>{{ props.item.placa }}</td>
              <td>{{ props.item.turnos_vehiculos.length }}</td>
              <td v-if="props.item.turnos_vehiculos.length > 0">
                <turnoVehiculoComponent
                  v-if="
                    tengoPermiso(
                      PERMITIDOS['Turnos Vehiculos'],
                      PERMIS.PERM_ACTUALIZAR
                    )
                  "
                  :id="props.item.id"
                  :dias-con-turnos="diasConTurnos"
                  :title="title"
                  :vehiculos="vehiculos"
                  @producto="hola"
                  @recargar="getAllTurnosVehiculos"
                ></turnoVehiculoComponent>
              </td>
            </tr>
          </template>
          <template v-slot:expand="props">
            <v-flex xs12 md12 lg12>
              <table style="    width: 100%;">
                <thead>
                  <tr>
                    <th>
                      <h2>Colaborador</h2>
                    </th>
                    <th>
                      <h2>Cargo</h2>
                    </th>
                    <th>
                      <h2>Dia</h2>
                    </th>
                    <th>
                      <h2>Inicio</h2>
                    </th>
                    <th>
                      <h2>Fin</h2>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(item, index) in props.item.turnos_vehiculos"
                    :key="index"
                  >
                    <td style="text-align: center;">
                      {{ item.turno.user.persona.nombres }}
                      {{ item.turno.user.persona.apellidos }}
                    </td>
                    <td style="text-align: center;">
                      {{ item.turno.user.cargo.nombre }}
                    </td>
                    <td style="text-align: center;">
                      {{ item.turno.tanda.dia.nombre }}
                    </td>
                    <td style="text-align: center;">
                      {{ item.turno.tanda.hora_inicio | moment('hh:mm a') }}
                    </td>
                    <td style="text-align: center;">
                      {{ item.turno.tanda.hora_fin | moment('hh:mm a') }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </v-flex>
          </template>
        </v-data-table>
        <v-snackbar v-model="ok" top right :color="color">
          {{ error }}
          <v-btn dark flat @click.stop="ok = false">Cerrar</v-btn>
        </v-snackbar>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import {
  tengoPermiso,
  PERMITIDOS,
  PERMIS,
  CURRENT_USER
} from '~/services/GLOBAL'
import turnoVehiculoComponent from '~/components/turnos_vehiculos/turno_vehiculo'
// import confirmDialog from '~/components/utils/confirmDialog'
import CRUDService from '~/services/CRUDService'
export default {
  middleware: 'authenticated',
  components: {
    turnoVehiculoComponent
    // editCargoComponent,
    // confirmDialog
  },
  data() {
    return {
      PERMITIDOS,
      PERMIS,
      tengoPermiso,
      search: '',
      title: 'Asignar Vehiculos a Turnos',
      color: 'green',
      diasConTurnos: [],
      error: '',
      ok: false,
      isLoadingData: true,
      headers: [
        {
          text: 'Marca',
          align: 'left',
          // sortable: false,
          value: 'marca'
        },
        { text: 'Modelo', value: 'modelo' },
        { text: 'Año', value: 'anio' },
        { text: 'Alias', value: 'alias' },
        { text: 'Placa', value: 'placa' },
        { text: 'Asignados', value: 'productos', sortable: false },
        { text: 'Acción', sortable: false }
      ],
      vehiculos: []
    }
  },
  created() {
    this.crud = new CRUDService()
    this.getAllTurnosVehiculos()
    this.getAllDiasConTurnos()
    CURRENT_USER.subscribe(() => {
      this.$forceUpdate()
    })
  },
  methods: {
    hola(arg) {
      console.log('HOLAAAA ', arg)
    },
    deleteT(item) {
      console.log('clisck en borrar:: ', item.id)
      this.confirm = false
      this.crud.httpRailsHelper(`productos/${item.id}`, 'delete').subscribe(
        res => {
          const index = this.productos.indexOf(item)
          console.log('RESPUESTA BORRAR::', res.data)
          // this.ok = true
          this.showSnackBar(res.data.msg, 'green')
          this.productos.splice(index, 1)
          // this.getAllProductos()
        },
        err => {
          console.log('errror:', err.response)
          if (err.response && err.response.data) {
            this.showSnackBar(
              err.response.data ? err.response.data.msg : 'Error al eliminar',
              'red'
            )
          } else {
            this.showSnackBar('Error de Conexión', 'red')
          }
        }
      )
    },
    showSnackBar(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.color = color
    },
    getAllTurnosVehiculos() {
      this.crud.httpRailsHelper('vehiculos_turnos', 'get').subscribe(
        res => {
          console.log('turnos_vehiculos', res.data)
          this.vehiculos = res.data
          this.isLoadingData = false
        },
        err => {
          this.isLoadingData = false
          console.log(err.response)
        }
      )
    },
    getAllDiasConTurnos() {
      this.crud.httpRailsHelper(`turnos_disponibles`, 'get').subscribe(
        res => {
          console.log('turnos_disponibles', res.data)
          this.diasConTurnos = res.data
        },
        err => {
          console.log(err.response)
        }
      )
    }
  }
}
</script>

<style></style>
