<template>
  <v-layout align-start justify-center row fill-height wrap>
    <v-flex xs12 md12 lg12>
      <v-card>
        <v-card-title>
          <!-- Nutrition -->
          <createTurnoComponent
            v-if="tengoPermiso(PERMITIDOS['Turnos'], PERMIS.PERM_CREAR)"
            :title="title"
            :empleados="empleados"
            :tandas="tandas"
            :crud="crud"
            @recargar="getAllTurnos"
            @cargo="hola"
          ></createTurnoComponent>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          v-if="tengoPermiso(PERMITIDOS['Turnos'], PERMIS.PERM_VER_LIST)"
          :search="search"
          :headers="headers"
          :loading="isLoadingData"
          :items="turnos"
          :expand="true"
          class="elevation-1"
          no-results-text="No se encontraron registros"
        >
          <template v-slot:items="props">
            <tr @click="props.expanded = !props.expanded">
              <td>
                {{ props.item.persona.nombres }}
                {{ props.item.persona.apellidos }}
              </td>
              <td>{{ props.item.cargo.nombre }}</td>
              <!--
              <td>{{ props.item.tanda.hora_fin | moment('hh:mm a') }}</td>-->
              <td>
                <!-- <v-icon small class="mr-2">edit</v-icon> -->
                <!-- <v-btn > -->
                <!-- <v-icon small @click="deleteT(props.item.id)">delete</v-icon> -->
                <!-- </v-btn> -->
                <createTurnoComponent
                  v-if="
                    tengoPermiso(PERMITIDOS['Turnos'], PERMIS.PERM_ACTUALIZAR)
                  "
                  :id="props.item.id"
                  :empleados="empleados"
                  :tandas="tandas"
                  :crud="crud"
                  @recargar="getAllTurnos"
                  @cargo="hola"
                ></createTurnoComponent>
                <!-- <editTurnoComponent></editTurnoComponent> -->
                <confirmDialog
                  v-if="
                    tengoPermiso(PERMITIDOS['Turnos'], PERMIS.PERM_ELIMINAR)
                  "
                  :title="'Borrar Turno'"
                  :msg="
                    `¿Seguro que quiere borrar de ${props.item.persona.nombres} estos turnos?`
                  "
                  @borrar="$event ? deleteT(props.item) : null"
                ></confirmDialog>
              </td>
            </tr>
          </template>
          <template v-slot:expand="props">
            <v-card flat>
              <v-card-text
                v-for="(turno, index) in props.item.turnos"
                :key="index"
              >
                <h2>
                  {{ turno.tanda.dia.nombre }}
                  Inicio:
                  {{ turno.tanda.hora_inicio | moment('hh:mm a') }} Finaliza:
                  {{ turno.tanda.hora_fin | moment('hh:mm a') }}
                  <v-chip
                    :color="turno.activo ? 'green' : 'red'"
                    text-color="white"
                    >{{ turno.activo ? 'Activo' : 'Desactivado' }}</v-chip
                  >
                </h2>
                <!-- {{ turno.tanda.activo }} -->
              </v-card-text>
            </v-card>
          </template>
        </v-data-table>
        <v-snackbar v-model="ok" top right :color="color">
          {{ error }}
          <v-btn dark flat @click.stop="ok = false">Cerrar</v-btn>
        </v-snackbar>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import createTurnoComponent from '~/components/turnos/createTurno'
// import editTurnoComponent from '~/components/turnos/editTurno'
import confirmDialog from '~/components/utils/confirmDialog'
import CRUDService from '~/services/CRUDService'
import {
  tengoPermiso,
  PERMITIDOS,
  PERMIS,
  CURRENT_USER
} from '~/services/GLOBAL'
export default {
  middleware: 'authenticated',
  components: {
    createTurnoComponent,
    confirmDialog
    // editTurnoComponent
  },
  data() {
    return {
      PERMITIDOS,
      PERMIS,
      tengoPermiso,
      search: '',
      color: 'green',
      error: '',
      ok: false,
      crud: null,
      empleados: [],
      tandas: [],
      isLoadingData: true,
      title: 'Turno',
      persona: {
        nombres: '',
        apellidos: '',
        edad: 0,
        sexo: '',
        telefono_1: '',
        telefono_2: '',
        numero_de_seguro: '',
        ciudad_id: '',
        cargo_id: '',
        empleado: false
      },
      headers: [
        { text: 'Colaborador', value: 'nickname' },
        { text: 'Cargo', value: 'nombre' },
        // { text: 'Hora inicio', value: 'tanda.hora_inicio' },
        // { text: 'Hora fin', value: 'tanda.hora_fin' },
        { text: 'Acciones', value: 'name', sortable: false }
      ],
      turnos: []
    }
  },
  created() {
    this.crud = new CRUDService()
    this.getAllTurnos()
    this.getAllEmpleados()
    this.getAllTandas()
    // this.getOnelTurno()
    CURRENT_USER.subscribe(() => {
      this.$forceUpdate()
    })
  },
  methods: {
    hola(arg) {
      console.log('HOLAAAA ', arg)
    },
    deleteT(item) {
      const index = this.turnos.indexOf(item)
      // console.log('clisck en borrar:: ', id)
      this.confirm = false
      // this.crud.httpRailsHelper(`turnos/${item.id}`, 'delete').subscribe(
      this.crud
        .httpRailsHelper(`turnos/eliminar_por_usuario`, 'post', {
          user_id: item.id
        })
        .subscribe(
          res => {
            console.log('RESPUESTA BORRAR::', res.data)
            // this.ok = true
            this.showSnackBar(res.data.msg, 'green')
            // this.getAllTurnos()
            this.turnos.splice(index, 1)
          },
          err => {
            console.log('errror:', err.response)
            if (err.response) {
              if (err.response.data.msg) {
                this.showSnackBar(err.response.data.msg, 'red')
              } else {
                this.showSnackBar(err.response.data.error, 'red')
              }
            } else {
              this.showSnackBar('Error de conexión', 'red')
            }
          }
        )
    },
    showSnackBar(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.color = color
    },
    getAllEmpleados() {
      this.crud.httpRailsHelper('usuarios', 'get').subscribe(
        res => {
          console.log('getAllEmpleados', res.data.data)
          if (res.data.data) {
            this.empleados = res.data.data
          }
          // this.isLoadingData = false
        },
        err => {
          console.log(err.response)
          // this.isLoadingData = false
        }
      )
    },
    getAllTandas() {
      this.crud.httpRailsHelper('tandas', 'get').subscribe(
        res => {
          // console.log('getAllTandas', res.data)
          if (res.data) {
            this.tandas = res.data
          }
          // this.isLoadingData = false
        },
        err => {
          console.log(err.response)
          // this.isLoadingData = false
        }
      )
    },
    getOnelTurno() {
      // this.crud.httpRailsHelper('turnos/28', 'get').subscribe(
      //   res => {
      //     console.log('getOnelTurno', res.data)
      //     // if (res.data) {
      //     //   this.turnos = res.data
      //     // }
      //     // this.isLoadingData = false
      //   },
      //   err => {
      //     console.log(err.response)
      //     // this.isLoadingData = false
      //   }
      // )
    },
    getAllTurnos() {
      this.crud.httpRailsHelper('turnos_empleado', 'get').subscribe(
        res => {
          console.log('getAllTurnos', res.data)
          if (res.data) {
            this.turnos = res.data
          }
          this.isLoadingData = false
        },
        err => {
          console.log(err.response)
          this.isLoadingData = false
        }
      )
    }
  }
}
</script>

<style></style>
