<template>
  <v-layout align-start justify-center row fill-height wrap>
    <v-flex xs12 md12 lg12>
      <!-- <v-flex xs5 md5 lg5> -->
      <v-card>
        <v-card-title>
          <createVehiculoComponent
            v-if="tengoPermiso(PERMITIDOS['Vehiculos'], PERMIS.PERM_CREAR)"
            :title="title"
            :crud="crud"
            @recargar="getAllVehiculos"
          ></createVehiculoComponent>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          v-if="tengoPermiso(PERMITIDOS['Vehiculos'], PERMIS.PERM_VER_LIST)"
          :search="search"
          :headers="headers"
          :items="vehiculos"
          :loading="isLoadingData"
          class="elevation-1"
          no-results-text="No se encontraron registros"
        >
          <template v-slot:items="props">
            <!-- <td>{{ props.item.name }}</td> -->
            <td>{{ props.item.marca }}</td>
            <td>{{ props.item.modelo }}</td>
            <td>{{ props.item.anio }}</td>
            <td>{{ props.item.alias }}</td>
            <td>{{ props.item.placa }}</td>
            <td>
              <span v-if="props.item.ultimo_restablecimiento_de_invetario">
                {{
                  props.item.ultimo_restablecimiento_de_invetario
                    | moment('DD/MM/YYYY hh:mm a')
                }}
              </span>
            </td>
            <td>
              <createVehiculoComponent
                v-if="
                  tengoPermiso(PERMITIDOS['Vehiculos'], PERMIS.PERM_ACTUALIZAR)
                "
                :id="props.item.id"
                :title="title"
                :crud="crud"
                @recargar="getAllVehiculos"
              ></createVehiculoComponent>
              <confirmDialog
                v-if="
                  tengoPermiso(PERMITIDOS['Vehiculos'], PERMIS.PERM_ELIMINAR)
                "
                :title="'Borrar Vehiculo'"
                :msg="'¿Seguro que quiere borrar este vehiculo?'"
                @borrar="$event ? deleteT(props.item) : null"
              ></confirmDialog>
            </td>
          </template>
        </v-data-table>
      </v-card>
      <v-snackbar v-model="ok" top right :color="color">
        {{ error }}
        <v-btn dark flat @click.stop="ok = false">Cerrar</v-btn>
      </v-snackbar>
    </v-flex>
  </v-layout>
</template>

<script>
import {
  tengoPermiso,
  PERMITIDOS,
  PERMIS,
  CURRENT_USER
} from '~/services/GLOBAL'
import confirmDialog from '~/components/utils/confirmDialog'
import createVehiculoComponent from '~/components/vehiculos/createVehiculo'
import CRUDService from '~/services/CRUDService'
export default {
  middleware: 'authenticated',
  components: {
    createVehiculoComponent,
    confirmDialog
  },
  data() {
    return {
      PERMITIDOS,
      PERMIS,
      tengoPermiso,
      search: '',
      title: 'vehiculo',
      crud: null,
      color: 'green',
      error: '',
      ok: false,
      isLoadingData: true,
      vehiculo: {
        marca: '',
        modelo: '',
        placa: '',
        anio: '',
        alias: '',
        ultimo_restablecimiento_de_invetario: '',
        estado: true
      },
      headers: [
        {
          text: 'Marca',
          align: 'left',
          // sortable: false,
          value: 'marca'
        },
        { text: 'Modelo', value: 'modelo' },
        { text: 'Año', value: 'anio' },
        { text: 'Alias', value: 'alias' },
        { text: 'Placa', value: 'placa' },
        {
          text: 'Ultimo restablecimiento',
          value: 'ultimo_restablecimiento_de_invetario'
        },
        { text: 'Acciones', value: 'placa' }
      ],
      vehiculos: []
    }
  },
  created() {
    this.crud = new CRUDService()
    this.getAllVehiculos()
    CURRENT_USER.subscribe(() => {
      this.$forceUpdate()
    })
  },
  methods: {
    hola(arg) {
      console.log('HOLAAAA ', arg)
    },
    deleteT(item) {
      // console.log('clisck en borrar:: ', id)
      // this.confirm = false
      this.crud.httpRailsHelper(`vehiculos/${item.id}`, 'delete').subscribe(
        res => {
          console.log('RESPUESTA BORRAR::', res.data)
          // this.ok = true
          this.showSnackBar(res.data.msg || 'Borrado correctamente', 'green')
          // this.getAllVehiculos()
          const index = this.vehiculos.indexOf(item)
          this.vehiculos.splice(index, 1)
        },
        err => {
          console.log('errror:', err.response.data)
          this.showSnackBar(err.response.data.msg || 'Error al eliminar', 'red')
        }
      )
    },
    showSnackBar(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.color = color
    },
    getAllVehiculos() {
      this.crud.httpRailsHelper('vehiculos', 'get').subscribe(
        res => {
          console.log('vehiculos', res.data)
          this.vehiculos = res.data
          this.isLoadingData = false
        },
        err => {
          console.log(err.response)
          this.isLoadingData = false
        }
      )
    }
  }
}
</script>

<style></style>
