<template>
  <div class="text-xs-center">
    <v-dialog v-model="dialog" width="500" persistent>
      <template v-slot:activator="{ on }">
        <!-- <v-btn color="red lighten-2" dark v-on="on"
          >Crear nuevo {{ title }}</v-btn
        > -->
        <v-icon
          slot="activator"
          style="padding-bottom: 20px;"
          small
          class="mr-2"
          v-on="on"
        >
          edit
        </v-icon>
      </template>

      <v-card>
        <v-card-title class="headline" primary-title>
          Nuevo {{ title }}
          <v-spacer></v-spacer>
          <v-layout align-start justify-end row>
            <v-flex xs12 sm6 md5>
              <v-switch
                v-model="form.estado"
                label="Estado"
                color="red"
                :value="true"
              ></v-switch>
            </v-flex>
          </v-layout>
        </v-card-title>
        <v-container fluid>
          <v-layout align-start justify-space-between row fill-height wrap>
            <v-flex xs12 sm12 md12>
              <v-autocomplete
                v-model="form.empleado_id"
                :items="empleados"
                :search-input.sync="searchEmpleados"
                color="white"
                hide-no-data
                hide-selected
                item-value="persona.nombres"
                label="Empleados"
                placeholder="Juan Perez"
                prepend-icon="mdi-database-search"
                required
                :error-messages="empleadoErrors"
                return-object
                @input="$v.form.empleado_id.$touch()"
                @blur="$v.form.empleado_id.$touch()"
                @change="tandasSeleccionadas = []"
              >
                <template slot="selection" slot-scope="data">
                  <b>
                    {{ data.item.cargo ? data.item.cargo.nombre : '' }}&nbsp;
                  </b>
                  {{ data.item.persona ? data.item.persona.nombres : ' ' }}
                  {{ data.item.persona ? data.item.persona.apellidos : ' ' }}
                </template>
                <template slot="item" slot-scope="data">
                  <b>
                    {{ data.item.cargo ? data.item.cargo.nombre : '' }}&nbsp;
                  </b>
                  {{ data.item.persona ? data.item.persona.nombres : ' ' }}
                  {{ data.item.persona ? data.item.persona.apellidos : ' ' }}
                </template>
              </v-autocomplete>
            </v-flex>
            <!-- dias -->
            <v-flex xs10 md10 lg10>
              <v-autocomplete
                v-model="tandaSeleccionada"
                :disabled="form.empleado_id == null"
                :hint="'Tanda'"
                :items="tandasPorEmpleado"
                :label="`Tanda`"
                item-text="nombre"
                return-object
                persistent-hint
                prepend-icon="calendar_today"
                @change="onChangeTanda()"
              >
                <template v-slot:append-outer>
                  <v-slide-x-reverse-transition
                    mode="out-in"
                  ></v-slide-x-reverse-transition>
                </template>
                <template slot="selection" slot-scope="data">
                  {{ data.item.dia.alias }}
                  de {{ data.item.hora_inicio | moment('hh:mm a') }} hasta
                  {{ data.item.hora_fin | moment('hh:mm a') }}
                </template>
                <template slot="item" slot-scope="data">
                  {{ data.item.dia.alias }}
                  de {{ data.item.hora_inicio | moment('hh:mm a') }} hasta
                  {{ data.item.hora_fin | moment('hh:mm a') }}
                </template>
              </v-autocomplete>
            </v-flex>
            <v-layout
              v-for="(item, i) in tandasSeleccionadas"
              :key="`${i}`"
              row
              justify-space-between
              fill-height
              wrap
              xs12
              md12
              lg12
            >
              <v-flex xs11 sm1 md1>
                <h1 style="margin-top: 10px;">
                  <div class="text-xs-center">
                    <v-chip>
                      <v-avatar class="teal">{{ item.dia.alias }}</v-avatar>
                      de {{ item.hora_inicio | moment('hh:mm a') }} hasta
                      {{ item.hora_fin | moment('hh:mm a') }}
                    </v-chip>
                  </div>
                </h1>
              </v-flex>
              <v-flex xs1>
                <v-btn
                  fab
                  small
                  dark
                  color="red"
                  @click="EliminarTandaDeLista(item)"
                >
                  <v-icon dark>delete</v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
          </v-layout>
        </v-container>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn color="red" flat @click.stop="dialog = false">Cancelar</v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            raise
            :disabled="invalid"
            @click.stop="enviar()"
            >Guardar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="ok" top right :color="color">
      {{ error }}
      <v-btn dark flat @click.stop="ok = false">Cerrar</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import CRUDService from '~/services/CRUDService'
import { required } from 'vuelidate/lib/validators'
import _ from 'lodash'
import moment from 'moment'

function dataDefault() {
  return {
    dialog: false,
    error: null,
    ok: false,
    color: 'orange',
    tandaSeleccionada: null,
    tandasSeleccionadas: [],
    searchEmpleados: null,
    searchTandas: null,
    form: {
      empleado_id: null,
      tanda_id: 0,
      estado: true
    }
  }
}
export default {
  props: {
    title: {
      type: String,
      default: 'nada'
    },
    tandas: {
      type: Array,
      default: () => {
        return []
      }
    },
    crud: {
      type: CRUDService,
      default: () => {
        return new CRUDService()
      }
    },
    empleados: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  data: dataDefault,
  validations: {
    form: {
      empleado_id: {
        required
      }
    }
  },
  computed: {
    tandasPorEmpleado() {
      let tandas = []
      if (this.form.empleado_id && this.form.empleado_id.cargo) {
        tandas = _.filter(this.tandas, v => {
          // console.log('v ', v.cargo.id, this.form.empleado_id.cargo.id)
          return _.includes([this.form.empleado_id.cargo.id], v.cargo.id)
        })
      }

      const idsCargosSeleccionados = _.map(this.tandasSeleccionadas, 'id') // para sacar los que ya estan seleccionados
      if (idsCargosSeleccionados.length > 0) {
        tandas = _.filter(tandas, v => {
          // console.log('v2222 ', v.id, idsCargosSeleccionados)
          return !_.includes(idsCargosSeleccionados, v.id)
        })
      }
      // console.log('pasando....22', tandas)
      return tandas
    },
    empleadoErrors() {
      const errors = []
      if (!this.$v.form.empleado_id.$dirty) return errors
      // !this.$v.form.empleado_id.diff && errors.push('Deves seleccionar unu')
      !this.$v.form.empleado_id.required &&
        errors.push('Este campo es requerido.')
      return errors
    },
    invalid() {
      return this.$v.$invalid || !this.tandasSeleccionadas.length > 0
    }
  },
  watch: {
    dialog(val) {
      val || this.close()
    }
  },
  methods: {
    validarRangosDeHoras(tandaActual) {
      // _.forEach(this.tandasSeleccionadas, tanda => {
      for (let index = 0; index < this.tandasSeleccionadas.length; index++) {
        const tanda = this.tandasSeleccionadas[index]

        // if (tandAgrupada[i - 1]) {
        const starttimeBefore = moment(tanda.hora_inicio)
        const endtimeBefore = moment(tanda.hora_fin)
        const starttimeCurrent = moment(tandaActual.hora_inicio)
        const endtimeCurrent = moment(tandaActual.hora_fin)
        const cond1 = starttimeBefore.isBetween(
          starttimeCurrent,
          endtimeCurrent
        )
        const cond2 = endtimeBefore.isBetween(starttimeCurrent, endtimeCurrent)
        console.log('cond ', cond1, cond2)
        if (cond1 || cond2) {
          return false
        }
      }
      return true
    },
    validarHora24() {
      // console.log('this.tandasSeleccionadas ', this.tandasSeleccionadas)
      const agrupado = _.groupBy(this.tandasSeleccionadas, 'dia.alias')
      // console.log('agrupado ', agrupado)
      _.forEach(agrupado, (tandAgrupada, key) => {
        let minutos = 0
        for (let index = 0; index < tandAgrupada.length; index++) {
          const tanda = tandAgrupada[index]

          // _.forEach(tandAgrupada, (tanda, i) => {
          // console.log('tanda ', tanda, key, ' tandAgrupada ', tandAgrupada)
          if (!this.validarRangosDeHoras(tanda)) {
            // console.log('dentro')
            this.sacarbyKey(key)
            // console.log('dentro22')
            return
          }

          const tTime = moment.duration(
            moment(tanda.hora_fin).diff(moment(tanda.hora_inicio))
          )
          minutos += tTime.asMinutes()
          // console.log('TOTAL MOMENT:::', tTime.asMinutes())
        }
        // console.log('TOTAL POR DIA:::', key, minutos)
        if (minutos >= 1435) {
          this.sacarbyKey(key)
        }
      })
    },
    sacarbyKey(alias = 'Dom') {
      let n = true
      this.tandasSeleccionadas = this.tandasSeleccionadas
        .reverse()
        .filter(dia => {
          // console.log('dia ', dia)
          if (dia && dia.dia && dia.dia.alias === alias && n) {
            n = false
          } else {
            return dia
          }
        })
        .reverse()
    },
    enviar() {
      const formulario = {
        user_id: this.form.empleado_id.id,
        tandas: _.map(this.tandasSeleccionadas, 'id')
      }
      this.crud
        .httpRailsHelper('turnos', 'post', { turno: formulario })
        .subscribe(
          res => {
            this.showError('Turno creado correctamente!!', 'green')
            this.$emit('recargar')
            this.dialog = false
            // console.log('crearturnos', res.data)
          },
          err => {
            console.log('error turnos:', err)

            this.showError(
              'Ocurrio un error al crear turno: ' +
                (err.response.data.msg
                  ? JSON.stringify(err.response.data.msg)
                  : JSON.stringify(err.response.data))
            )
          }
        )
    },
    EliminarTandaDeLista(item) {
      const index = this.tandasSeleccionadas.indexOf(item)
      if (index >= 0) {
        this.tandasSeleccionadas.splice(index, 1)
        this.$nextTick(() => {
          this.tandaSeleccionada = null
        })
      }
    },
    onChangeTanda() {
      if (this.form && this.form.empleado_id && this.form.empleado_id.cargo) {
        if (this.tandaSeleccionada) {
          const tandas = _.filter(this.tandasSeleccionadas, v => {
            return _.includes([this.tandaSeleccionada.id], v.id)
          })
          // console.log('tandas ', tandas, tandas.length < 1)
          if (tandas.length < 1) {
            this.tandasSeleccionadas.push(this.tandaSeleccionada)
            this.validarHora24()
            // this.tandaSeleccionada = null
          } else {
            this.showError('Esta Tanda ya esta seleccionada!!!')
          }
          this.$nextTick(() => {
            this.tandaSeleccionada = null
          })
        }
      }
      // console.log('tandaSeleccionada ', this.tandaSeleccionada)
    },
    showError(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.color = color
    },
    close() {
      this.dialog = false
      setTimeout(() => {
        Object.assign(this.$data, this.$options.data.apply(this))
        this.$v.$reset()
      }, 1000)
    }
  }
}
</script>

<style></style>
