<template>
  <div class="text-xs-center">
    <v-dialog v-model="dialog" persistent width="1300">
      <template v-slot:activator="{ on }">
        <v-icon
          v-if="id != 0"
          style="padding: 5px;"
          small
          class="mr-2"
          v-on="on"
          >edit</v-icon
        >
        <v-icon
          v-if="id == 0"
          style="padding: 5px;"
          small
          class="mr-2"
          v-on="on"
          >add</v-icon
        >
      </template>

      <v-card>
        <v-card-title class="headline" primary-title>
          <h3>
            Codigo De emergencia:
            {{ emegergencia.codigo }}
          </h3>
        </v-card-title>
        <v-container fluid>
          <v-layout align-start justify-space-between row fill-height wrap>
            <v-flex xs10 sm10 md10>
              <v-autocomplete
                v-model="plantilla.persona_id"
                :items="personas"
                :search-input.sync="searchPersonas"
                color="white"
                hide-no-data
                hide-selected
                item-value="id"
                label="Personas"
                placeholder="Juan Perez"
                prepend-icon="mdi-database-search"
                :filter="customFilterPersona"
                required
              >
                <template slot="selection" slot-scope="data">
                  <b>{{ data.item.cargo ? data.item.cargo.nombre : '' }}</b>
                  &nbsp;
                  {{ data.item.nombres }} {{ data.item.apellidos }}
                </template>
                <template slot="item" slot-scope="data">
                  <b>{{ data.item.cargo ? data.item.cargo.nombre : '' }}</b>
                  &nbsp;
                  {{ data.item.nombres }} {{ data.item.apellidos }}&nbsp;
                </template>
              </v-autocomplete>
            </v-flex>
            <v-flex xs2 md2 lg2>
              <createPersonaComponent
                :title="'persona'"
                :ciudades="ciudades"
                :crud="crud"
                :creando-paciente="true"
                @retornoPersona="OnPersona"
              ></createPersonaComponent>
            </v-flex>
            <v-flex xs9 sm9 md9>
              <v-autocomplete
                v-model="plantilla.hospital_id"
                :items="hospitales"
                :search-input.sync="searchHospitales"
                color="white"
                hide-no-data
                hide-selected
                item-value="id"
                label="Hospitales"
                placeholder="Hospital"
                prepend-icon="mdi-database-search"
                :filter="customFilterHospitales"
                required
              >
                <template slot="selection" slot-scope="data">
                  <b>
                    {{ data.item.tipo_publico ? 'Público' : 'Privado' }}
                    {{ data.item.nombre }}&nbsp;
                  </b>
                  {{ data.item.ciudad.nombre }}
                </template>
                <template slot="item" slot-scope="data">
                  <b>
                    {{ data.item.tipo_publico ? 'Público' : 'Privado' }}
                    {{ data.item.nombre }}&nbsp;
                  </b>
                  {{ data.item.ciudad.nombre }}
                </template>
              </v-autocomplete>
            </v-flex>
            <v-flex xs3 sm3 md3>
              <v-autocomplete
                v-model="plantilla.triage_color"
                :items="['negro', 'rojo', 'amarillo', 'verde']"
                color="white"
                hide-no-data
                hide-selected
                label="Triage"
                placeholder="Triage"
                prepend-icon="mdi-database-search"
                required
              ></v-autocomplete>
            </v-flex>
          </v-layout>
        </v-container>
        <div v-if="plantilla.areas">
          <areasPlantilla
            v-for="area in plantilla.areas"
            :key="area.area"
            :area="area"
          ></areasPlantilla>
        </div>
        <v-container fluid>
          <v-layout align-start justify-space-between row fill-height wrap>
            <v-flex xs5 sm5 md5>
              <v-text-field
                v-model="plantilla.medico_hospital"
                :label="'Medico que recibió'"
                dark
              ></v-text-field>
            </v-flex>
            <v-flex xs7 sm7 md7>
              <v-text-field
                v-model="plantilla.diagnostico_presuntivo"
                :label="'Diagnostico presuntivo'"
                dark
              ></v-text-field>
            </v-flex>
            <v-flex xs5 sm5 md5>
              <v-text-field
                v-model="plantilla.observacion"
                :label="'Observacion'"
                dark
              ></v-text-field>
            </v-flex>
            <v-flex xs5 sm5 md5>
              <v-switch
                v-model="plantilla.entregado"
                label="Entregado a hospital"
                color="red"
                :value="false"
              ></v-switch>
            </v-flex>
            <v-flex xs5 sm5 md5>
              <v-text-field
                v-model="plantilla.km_inicial_vehiculo"
                mask="############"
                label="KM Incial"
              ></v-text-field>
            </v-flex>
            <v-flex xs7 sm7 md7>
              <v-text-field
                v-model="plantilla.km_final_vehiculo"
                mask="############"
                label="KM Final"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm12 md12>
              <v-text-field
                v-model="plantilla.quien_recibe"
                label="Quien recibe"
              ></v-text-field>
            </v-flex>
            <v-flex xs10 sm10 md10>
              <v-text-field
                v-model="pertenencia"
                label="Pertenencias"
              ></v-text-field>
            </v-flex>
            <v-flex xs2 md2 lg2>
              <v-btn
                fab
                dark
                color="blue"
                :disabled="pertenencia == null"
                @click="onChangePertenecia"
              >
                <v-icon dark>add</v-icon>
              </v-btn>
            </v-flex>

            <v-card width="1300">
              <v-toolbar color="light-blue" dark>
                <v-toolbar-title>Pertenencias</v-toolbar-title>

                <v-spacer></v-spacer>
              </v-toolbar>

              <v-list two-line>
                <template
                  v-for="(pertenencia, index) in plantilla.pertenencias"
                >
                  <v-divider :key="index"></v-divider>

                  <v-list-tile :key="pertenencia.nombre" avatar>
                    <v-list-tile-content>
                      <v-list-tile-title
                        v-html="pertenencia.nombre"
                      ></v-list-tile-title>
                    </v-list-tile-content>
                    <v-list-tile-action>
                      <v-btn
                        icon
                        ripple
                        @click="EliminarPerteneciaDeLista(pertenencia)"
                      >
                        <v-icon color="grey lighten-1">delete</v-icon>
                      </v-btn>
                    </v-list-tile-action>
                  </v-list-tile>
                </template>
              </v-list>
            </v-card>
          </v-layout>

          <comprasComponent
            v-if="dialog"
            :key="'as1fd5a'"
            :ficha="true"
            :vehiculo-asignado-id="emegergencia.vehiculo_asignado_id"
            :productos-consumidos="plantilla.productos_cosumidos"
            @list="eventoalagregarListaproducto"
          ></comprasComponent>
        </v-container>
        <v-divider></v-divider>

        <v-card-actions>
          <v-btn :color="id == 0 ? 'red' : 'blue'" flat @click="close"
            >Cancelar</v-btn
          >
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            raise
            :disabled="$v.$invalid"
            @click="enviar()"
            >{{ id == 0 ? 'Guardar' : 'Actualizar' }}</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="ok" top right :color="colorMsg">
      {{ error }}
      <v-btn dark flat @click="ok = false">Cerrar</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import _ from 'lodash'
import { required } from 'vuelidate/lib/validators'
import areasPlantilla from '../../components/utils/areasPlantilla.vue'
import { sacarText } from '../../services/GLOBAL'
import comprasComponent from '../../pages/compras'
import createPersonaComponent from '~/components/personas/createPersona'
import CRUDService from '~/services/CRUDService.js'
export default {
  components: {
    areasPlantilla,
    createPersonaComponent,
    comprasComponent
  },
  props: {
    id: {
      type: Number,
      default: 0
    },
    emegergencia: {
      type: Object,
      default: () => {
        return {}
      }
    },
    hospitales: {
      type: Array,
      default: () => {
        return []
      }
    },
    personas: {
      type: Array,
      default: () => {
        return []
      }
    },
    ciudades: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  validations: {
    plantilla: {
      persona_id: {
        required
        // minLength: minLength(5),
        // diff: diff(0)
      },
      hospital_id: {
        required
        // minLength: minLength(5),
      },
      triage_color: {
        required
        // minLength: minLength(5),
      }
    }
  },
  data: () => ({
    formInvalid: false,
    searchHospitales: null,
    searchPersonas: null,
    crud: new CRUDService(),
    colorMsg: '',
    dialog: false,
    ok: false,
    error: null,
    plantilla: {},
    pertenencia: null,
    listadProductos: []
    // listadosPertenencias: []
  }),
  computed: {
    km_inicial_vehiculoErrors() {
      const errors = []
      if (!this.$v.plantilla.triage_color.$dirty) return errors
      !this.$v.plantilla.triage_color.required &&
        errors.push('El campo es requerido.')
      return errors
    },
    km_final_vehiculoErrors() {
      const errors = []
      if (!this.$v.plantilla.km_final_vehiculo.$dirty) return errors
      !this.$v.plantilla.km_final_vehiculo.required &&
        errors.push('El campo es requerido.')
      return errors
    }
  },
  watch: {
    formInvalid(params) {
      console.log('formInvalid', params)
    },
    dialog(val) {
      if (val) {
        if (this.id !== 0) {
          this.getById(this.id)
        } else {
          this.getPlantilla()
        }
      }
    }
  },

  created() {
    console.log('getPlantilla=> id ', this.id, this.emegergencia)
    // if (this.id !== 0) {
    //   this.getById(this.id)
    // } else {
    //   this.getPlantilla()
    // }
  },
  methods: {
    onChangePertenecia() {
      if (this.pertenencia) {
        const pertenecia = {
          nombre: this.pertenencia
        }
        const found = _.filter(this.plantilla.pertenencias, {
          nombre: this.pertenencia
        })
        if (found.length < 1) {
          this.plantilla.pertenencias.push(pertenecia)
          this.pertenencia = null
        } else {
          this.showError(`Esta pertencia existe!!!`, 'orange')
        }
      }
    },
    EliminarPerteneciaDeLista(pertenencia) {
      const index = this.plantilla.pertenencias.indexOf(pertenencia)
      this.plantilla.pertenencias.splice(index, 1)
    },
    eventoalagregarListaproducto(sdaf) {
      console.log('eventoalagregarListaproducto')
      console.log(sdaf)
      this.plantilla.productos_consumidos = sdaf
      this.listadProductos = sdaf
    },
    customFilterHospitales(item, queryText, itemText) {
      const textOne = String(item.nombre).toLowerCase()
      const text2 = String(item.ciudad.nombre).toLowerCase()
      const searchText = queryText.toLowerCase()
      return textOne.indexOf(searchText) > -1 || text2.indexOf(searchText) > -1
    },
    customFilterPersona(item, queryText, itemText) {
      const textOne = String(item.nombres).toLowerCase()
      const text2 = String(item.apellidos).toLowerCase()
      const searchText = queryText.toLowerCase()
      return textOne.indexOf(searchText) > -1 || text2.indexOf(searchText) > -1
    },
    OnPersona(paramsPersona) {
      this.$emit('add_persona', paramsPersona)
      this.plantilla.persona_id = paramsPersona.id
      console.log('paramsPersona ', paramsPersona)
    },
    enviar() {
      const plantillaTemp = JSON.parse(JSON.stringify(this.plantilla))
      console.log('plantilla', plantillaTemp)
      plantillaTemp.vehiculo_asignado_id = this.emegergencia.vehiculo_asignado_id
      if (
        plantillaTemp.km_inicial_vehiculo !== 0 &&
        plantillaTemp.km_final_vehiculo !== 0
      ) {
        if (
          plantillaTemp.km_inicial_vehiculo > plantillaTemp.km_final_vehiculo
        ) {
          this.showError('Los kilómetro estan incorrectos!!', 'orange')
          return
        }
      }
      this.crud
        .httpRailsHelper('plantilla_llena', 'post', plantillaTemp)
        .subscribe(
          res => {
            this.$emit('recargar')
            console.log('respuesta => plantilla', res)
            this.showError('Registrado correctamente!!', 'green')

            this.close()
          },
          err => {
            console.log(err.response)
            this.showError(
              'Ocurrio un error al agregar paciente: ' +
                sacarText(err.response.data ? err.response.data : err.response),
              'red'
            )
          }
        )
    },
    getById(id) {
      this.crud
        .httpRailsHelper(
          `plantilla_1/${id}/${this.emegergencia.vehiculo_asignado_id}`,
          'get'
        )
        .subscribe(
          res => {
            console.log('plantilla_1 data', res.data)

            this.listadProductos = []
            this.plantilla = res.data
            // this.$emit(
            //   'agregarProductosPorFicha',
            //   this.plantilla.productos_cosumidos
            // )
          },
          err =>
            this.showError(
              'Ocurrio un error al cargar los datos: ' + JSON.stringify(err)
            )
        )
    },
    showError(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.colorMsg = color
    },
    getPlantilla() {
      this.crud
        .httpRailsHelper(
          `plantilla_1/${this.emegergencia.vehiculo_asignado_id}`,
          'get'
        )
        .subscribe(
          res => {
            console.log('plantilla 1', res.data)
            this.plantilla = res.data
            this.plantilla.emergencia_id = this.emegergencia.id
            this.plantilla.emergencia_codigo = this.emegergencia.codigo
            this.plantilla.vehiculo_asignado_id = this.emegergencia.vehiculo_asignado_id
            this.plantilla.productos_consumidos = []
            this.plantilla.pertenencias = []
            console.log('plantilla 2', res.data)
            // for (let index = 0; index < this.plantilla.areas.length; index++) {
            //   const element = this.plantilla.areas[index]
            //   console.log(element)
            // }
          },
          err => {
            console.log(err.response)
            this.showError(
              'Ocurrio un error al agregar paciente: ' +
                sacarText(err.response.data ? err.response.data : err.response),
              'red'
            )
          }
        )
    },
    close() {
      this.dialog = false
      setTimeout(() => {
        setTimeout(() => {
          this.$v.$reset()
        }, 0)
        // this.listadProductos = []
        // this.plantilla = {}
        Object.assign(this.$data, this.$options.data.apply(this))
      }, 500)
    }
  }
}
</script>

<style></style>
