<template>
  <div class="text-xs-center">
    <v-dialog v-model="dialog" persistent width="800">
      <template v-slot:activator="{ on }">
        <v-btn v-if="id == 0" color="red lighten-2" dark v-on="on"
          >Crear nueva {{ title }}</v-btn
        >
        <v-icon
          v-if="id != 0"
          style="padding: 5px;"
          small
          class="mr-2"
          v-on="on"
          >edit</v-icon
        >
      </template>

      <v-card>
        <v-card-title class="headline" primary-title>
          Nueva {{ title }}
          <br />
          <h3 v-if="id != 0">Codigo De emergencia: {{ form.codido }}</h3>
          <v-layout align-start justify-end row>
            <v-flex xs12 sm6 md5>
              <v-switch
                v-if="id != 0"
                v-model="form.activo"
                label="Estado"
                color="red"
                :value="true"
              ></v-switch>
            </v-flex>
          </v-layout>
        </v-card-title>
        <form-emergencia
          :form="form"
          :punto-marcado="puntoMarcado"
          :ciudades="ciudades"
          :turnos-vehiculos="turnosVehiculos"
          :emergencias-tipos="emergenciasTipos"
          @invalid="invalid"
          @change_mark="change_mark"
          @set_place="set_place"
        ></form-emergencia>
        <v-divider></v-divider>

        <v-card-actions>
          <v-btn color="red" flat @click="dialog = false">Cancelar</v-btn>
          <v-spacer></v-spacer>
          <v-btn
            :color="id == 0 ? 'red' : 'blue'"
            raise
            :disabled="formInvalid"
            @click="enviar()"
            >{{ this.id == 0 ? 'Guardar' : 'Actualizar' }}</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="ok" top right :color="colorMsg">
      {{ error }}
      <v-btn dark flat @click="ok = false">Cerrar</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import moment from 'moment'
import _ from 'lodash'
import { CURRENT_USER, sacarText } from '../../services/GLOBAL'
import formEmergencia from './formEmergencia.vue'
import CRUDService from '~/services/CRUDService'
export default {
  components: { formEmergencia },
  props: {
    id: {
      type: Number,
      default: 0
    },
    ciudades: {
      type: Array,
      default: () => {
        return []
      }
    },
    turnosVehiculos: {
      type: Array,
      default: () => {
        return []
      }
    },
    emergenciasTipos: {
      type: Array,
      default: () => {
        return []
      }
    },
    title: {
      type: String,
      default: 'nada'
    },
    crud: {
      type: CRUDService,
      default: () => new CRUDService()
    },
    mostrar: {
      type: Boolean,
      default: () => false
    }
  },
  data() {
    return {
      formInvalid: true,
      error: null,
      ok: false,
      colorMsg: '',
      dialog: false,
      puntoMarcado: null,
      form: {
        telefono_infomante: '',
        sector: '',
        descripcion: '',
        lugar_del_evento: '',
        ciudad_id: 0,
        lat: 0,
        long: 0,
        emergencia_tipo_id: 0,
        turno_vehiculo_id: [],
        activo: true
      }
    }
  },
  watch: {
    dialog(val) {
      if (val && this.id !== 0) {
        this.getById(this.id)
      }
      val || this.close()
    },
    mostrar(lMostrar) {
      this.dialog = lMostrar
      console.log('sdfsdfdsfds', lMostrar)
    }
  },
  created() {
    // this.getAllTipoEmergencias()
    // this.getAllTurnosVehiculos()
    // console.log('CURRENT_USER ', CURRENT_USER.getValue(), this.$confirm)
  },
  methods: {
    getById(id) {
      this.crud.httpRailsHelper(`emergencys/${id}`, 'get').subscribe(
        res => {
          console.log('emergencia id data', res.data)
          if (res.data) {
            this.form = { ...res.data }
            const marke = {
              lat: res.data.lat,
              lng: res.data.long
            }
            console.log('this.turnosVehiculos', this.turnosVehiculos)
            this.form.ciudad_id = res.data.ciudad.id
            this.form.emergencia_tipo_id = res.data.emergencia_tipo_id

            this.form.turno_vehiculo_id = _.filter(this.turnosVehiculos, v => {
              return _.includes(
                _.map(res.data.vehiculos, 'turno_vehiculo_id'),
                v.id
              )
            })
            // console.log('emergencia id data', this.form.turno_vehiculo_id)
            // this.form.turno_vehiculo_id = res.data.vehiculos.turno_vehiculo_id
            this.puntoMarcado = marke
          } else {
            this.showError('error en la respuesta')
          }
        },
        err =>
          this.showError(
            'Ocurrio un error en emergencia: ' + sacarText(err.response)
          )
      )
    },
    invalid(params) {
      let l = true
      if (params !== undefined) {
        l = params
      }
      this.formInvalid = l
      console.log('invalid=> params', params)
      return l
    },
    change_mark(mark) {
      this.puntoMarcado = mark
      console.log('invalid=> puntoMarcado', mark)
    },
    set_place(place) {
      console.log('invalid=> puntoset_placeMarcado', place)
      this.form.ciudad_id = 0
      this.form.sector = ''
      this.form.lugar_del_evento = ''
      this.form.lugar_del_evento = place.formatted_address
      // this.form.ciudad_id = place.vicinity
      // const ciudad = _.find(this.ciudades, ['nombre', place.vicinity])
      this.form.sector = this.filterBy(place, 'neighborhood')
      const ciudadmap = this.filterBy(place, 'administrative_area_level_1')
      if (ciudadmap) {
        const ciudad = _.find(this.ciudades, ['nombre', ciudadmap])
        if (ciudad) {
          this.form.ciudad_id = ciudad.id
        }
      }
      const marke = {
        lat: place.geometry.location.lat(),
        lng: place.geometry.location.lng()
      }
      this.puntoMarcado = marke
      if (this.form.sector === '' || this.form.sector === null) {
        this.form.sector = this.filterBy(place, 'locality')
      }
    },
    filterBy(datos, filter) {
      let found = null
      for (let index = 0; index < datos.address_components.length; index++) {
        const element = datos.address_components[index]
        for (let index2 = 0; index2 < element.types.length; index2++) {
          const type = element.types[index2]
          // if (type === 'neighborhood') {
          if (type === filter) {
            found = element.long_name
            break
          }
          // if (type === 'administrative_area_level_1') {
          //   const ciudad = _.find(this.ciudades, ['nombre', element.long_name])
          //   if (ciudad) {
          //     this.form.ciudad_id = ciudad.id
          //   }
          //   console.log('ciudad ', ciudad)
          //   break
          // }
        }
      }
      return found
    },
    enviar() {
      const formTemp = JSON.parse(JSON.stringify(this.form))
      // console.log(
      //   'this.form  ',
      //   this.form,
      //   moment().format('HH:mm:ss'),
      //   CURRENT_USER.getValue()
      // )
      const methodHttp = this.id === 0 ? 'post' : 'patch'
      const cUri = this.id === 0 ? '' : `/${this.id}`
      if (formTemp.ciudad_id === 0) {
        this.showError('Por favor elegir una ciudad', 'red')
        return
      }
      if (this.puntoMarcado) {
        formTemp.lat = this.puntoMarcado.lat
        formTemp.long = this.puntoMarcado.lng
      }
      formTemp.codigo = `${moment().format('HHmmss')}${
        CURRENT_USER.getValue().id
      }`
      formTemp.vehiculo_asignados_attributes = []
      formTemp.turno_vehiculo_id.forEach(itemId => {
        formTemp.vehiculo_asignados_attributes.push({
          turnos_vehiculo_id: itemId
        })
      })
      // = [
      //   { turnos_vehiculo_id: formTemp.turno_vehiculo_id }
      // ]
      delete formTemp.turno_vehiculo_id
      console.log('Emergencia => enviar => formTemp ', formTemp)
      this.crud
        .httpRailsHelper(`emergencia${cUri}`, methodHttp, {
          emergencia: formTemp
        })
        .subscribe(
          res => {
            this.showError(`${res.data.msg}`, 'green')
            if (res.data && res.data.codigo) {
              this.$confirm(`El codigo es: ${res.data.codigo}`, {
                buttonFalseText: '',
                buttonTrueText: 'Aceptar',
                title: 'Codigo de la emergencia',
                icon: 'accessible',
                color: 'blue'
              }).then(() => {
                this.close()
                this.$emit('recargar')
              })
            } else {
              this.close()
              this.$emit('recargar')
            }
            console.log('emergencia', res.data)
          },
          err => {
            // let errr = err
            console.log('errr ', err.response, sacarText(err.response.data))
            if (err && err.msg) {
              // errr = err.msg
            }

            this.showError(
              'Ocurrio un error al crear la emergencia: ' +
                sacarText(err.response.data),
              'red'
            )
          }
        )
    },
    showError(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.colorMsg = color
    },
    close() {
      setTimeout(() => {
        this.dialog = false
        // setTimeout(() => {
        //   this.$v.$reset()
        // }, 0)
        Object.assign(this.$data, this.$options.data.apply(this))
      }, 800)
    }
  }
}
</script>

<style></style>
