<template>
  <span>
    <v-container fluid>
      <v-layout align-start justify-space-between row fill-height wrap>
        <v-flex xs12 sm6 md5>
          <v-text-field
            v-model="form.telefono_infomante"
            mask="phone"
            label="Telefono Informante"
            :error-messages="telefono_infomanteErrors"
            @input="$v.form.telefono_infomante.$touch()"
            @blur="$v.form.telefono_infomante.$touch()"
          ></v-text-field>
        </v-flex>
        <v-flex xs12 sm6 md5>
          <v-autocomplete
            v-model="form.emergencia_tipo_id"
            :items="emergenciasTipos"
            color="white"
            hide-no-data
            hide-selected
            item-text="nombre"
            item-value="id"
            label="Tipos de Emergecias"
            placeholder
            prepend-icon="pages"
            :error-messages="emergencia_tipo_idErrors"
            :validate-on-blur="true"
            :filter="customFilterEmergenciaTIpo"
            @input="$v.form.emergencia_tipo_id.$touch()"
            @blur="$v.form.emergencia_tipo_id.$touch()"
          >
            <template slot="selection" slot-scope="data">
              <b>{{ data.item.nombre }}</b>
            </template>
            <template slot="item" slot-scope="data">
              <v-list-tile-content>
                <v-list-tile-title
                  v-html="data.item.nombre"
                ></v-list-tile-title>
                <v-list-tile-sub-title
                  v-html="data.item.descripcion"
                ></v-list-tile-sub-title>
              </v-list-tile-content>
            </template>
          </v-autocomplete>
        </v-flex>
        <v-flex xs12 sm12 md12>
          <gmap-autocomplete
            style="width: 100%;height: 50px; font-size: 21px;"
            @place_changed="setPlace"
          ></gmap-autocomplete>
          <gmap-map
            ref="myMapa"
            :center="{ lat: 18.7446225, lng: -70.135966 }"
            map-type-id="terrain"
            :zoom="8"
            @click="AgregarMarca"
          >
            <GmapMarker :position="puntoMarcado" />
          </gmap-map>
        </v-flex>
        <v-flex xs12 sm6 md5>
          <v-autocomplete
            v-model="form.ciudad_id"
            :items="ciudades"
            color="white"
            hide-no-data
            hide-selected
            item-text="nombre"
            item-value="id"
            label="Ciudades"
            autocomplete="off"
            placeholder="La Vega"
            prepend-icon="location_city"
            :error-messages="ciudad_idErrors"
            :validate-on-blur="true"
            @input="$v.form.ciudad_id.$touch()"
            @blur="$v.form.ciudad_id.$touch()"
          ></v-autocomplete>
        </v-flex>
        <v-flex xs12 sm6 md5>
          <v-text-field
            v-model="form.sector"
            label="Sector"
            :error-messages="sectorErrors"
            @input="$v.form.sector.$touch()"
            @blur="$v.form.sector.$touch()"
          ></v-text-field>
        </v-flex>
        <v-flex xs12 sm12 md12>
          <v-text-field
            v-model="form.lugar_del_evento"
            label="Lugar del evento"
            :error-messages="lugar_del_eventoErrors"
            @input="$v.form.lugar_del_evento.$touch()"
            @blur="$v.form.lugar_del_evento.$touch()"
          ></v-text-field>
        </v-flex>
        <v-flex xs12 sm12 md12>
          <v-textarea
            v-model="form.descripcion"
            label="Descripción"
            :error-messages="descripcionErrors"
            rows="1"
            @input="$v.form.descripcion.$touch()"
            @blur="$v.form.descripcion.$touch()"
          ></v-textarea>
        </v-flex>
        <v-flex>
          <v-autocomplete
            v-model="form.turno_vehiculo_id"
            :items="turnosVehiculos"
            :search-input.sync="searchTurnoVehiculo"
            color="white"
            :multiple="true"
            hide-no-data
            hide-selected
            label="Vehiculos Disponibles"
            placeholder
            item-value="id"
            prepend-icon="airport_shuttle"
            required
            :no-data-text="'No hay vehiculos disponibles!!'"
            :filter="customFilterTurnoVehiculo"
          >
            <template slot="selection" slot-scope="data">
              <b>
                {{ data.item.alias }}
                {{ data.item.user.persona.nombres }}
                {{ data.item.user.persona.apellidos }} de
                {{ data.item.tanda.hora_inicio | moment('hh:mm a') }} a
                {{ data.item.tanda.hora_fin | moment('hh:mm a') }}
              </b>
            </template>
            <template slot="item" slot-scope="data">
              <b>
                {{ data.item.alias }}
                {{ data.item.user.persona.nombres }}
                {{ data.item.user.persona.apellidos }} de
                {{ data.item.tanda.hora_inicio | moment('hh:mm a') }} a
                {{ data.item.tanda.hora_fin | moment('hh:mm a') }}
              </b>
              <b></b>
            </template>
          </v-autocomplete>
        </v-flex>
      </v-layout>
    </v-container>
  </span>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'
export default {
  props: {
    form: {
      type: Object,
      default: () => {}
    },
    show: {
      type: Boolean,
      default: () => {
        return false
      }
    },
    ciudades: {
      type: Array,
      default: () => {
        return []
      }
    },
    turnosVehiculos: {
      type: Array,
      default: () => {
        return []
      }
    },
    emergenciasTipos: {
      type: Array,
      default: () => {
        return []
      }
    },
    puntoMarcado: {
      type: Object,
      default: () => {
        return null
      }
    }
  },
  validations: {
    form: {
      telefono_infomante: {
        required,
        minLength: minLength(10)
      },
      descripcion: {
        required,
        minLength: minLength(1)
      },
      ciudad_id: {
        required,
        minLength: minLength(1)
      },
      emergencia_tipo_id: {
        required,
        minLength: minLength(1)
      },
      sector: {
        required,
        minLength: minLength(3)
      },
      lugar_del_evento: {
        required,
        minLength: minLength(3)
      }
    }
  },
  data() {
    return {
      searchTurnoVehiculo: null,
      search: null,
      currentPlace: null
    }
  },
  computed: {
    invalid() {
      console.log(
        'this.form.turno_vehiculo_id ',
        this.form.turno_vehiculo_id,
        this.form.ciudad_id,
        this.$v.$invalid
      )
      this.$emit(
        'invalid',
        this.$v.$invalid ||
          // (this.form.turno_vehiculo_id === undefined ||
          // this.form.turno_vehiculo_id.length === 0 ||
          (this.form.ciudad_id === undefined || this.form.ciudad_id === 0) ||
          (this.form.emergencia_tipo_id === undefined ||
            this.form.emergencia_tipo_id === 0) // ||
        // this.puntoMarcado === null
      )
      return this.$v.$invalid
    },
    telefono_infomanteErrors() {
      const errors = []
      if (!this.$v.form.telefono_infomante.$dirty) return errors
      !this.$v.form.telefono_infomante.minLength &&
        errors.push('Este campo debe tener mas caracteres')
      !this.$v.form.telefono_infomante.required &&
        errors.push('El campo es requerido.')
      return errors
    },
    descripcionErrors() {
      const errors = []
      if (!this.$v.form.descripcion.$dirty) return errors
      !this.$v.form.descripcion.minLength &&
        errors.push('Este campo debe tener mas caracteres')
      !this.$v.form.descripcion.required &&
        errors.push('El campo es requerido.')
      return errors
    },
    ciudad_idErrors() {
      const errors = []
      if (!this.$v.form.ciudad_id.$dirty) return errors
      !this.$v.form.ciudad_id.minLength &&
        errors.push('Este campo debe tener mas caracteres')
      !this.$v.form.ciudad_id.required && errors.push('El campo es requerido.')
      return errors
    },
    sectorErrors() {
      const errors = []
      if (!this.$v.form.sector.$dirty) return errors
      !this.$v.form.sector.minLength &&
        errors.push('Este campo debe tener mas caracteres')
      !this.$v.form.sector.required && errors.push('El campo es requerido.')
      return errors
    },
    lugar_del_eventoErrors() {
      const errors = []
      if (!this.$v.form.lugar_del_evento.$dirty) return errors
      !this.$v.form.lugar_del_evento.minLength &&
        errors.push('Este campo debe tener mas caracteres')
      !this.$v.form.lugar_del_evento.required &&
        errors.push('El campo es requerido.')
      return errors
    },
    emergencia_tipo_idErrors() {
      const errors = []
      if (!this.$v.form.emergencia_tipo_id.$dirty) return errors
      !this.$v.form.emergencia_tipo_id.minLength &&
        errors.push('Este campo debe tener mas caracteres')
      !this.$v.form.emergencia_tipo_id.required &&
        errors.push('El campo es requerido.')
      return errors
    }
  },
  watch: {
    invalid(val) {
      console.log('val', val)
      // val || this.close()
    },
    show(val) {
      // console.log('show ', val, this.$data)
      if (val) {
        return
      }
      setTimeout(() => {
        setTimeout(() => {
          this.$v.$reset()
        }, 0)
        Object.assign(this.$data, this.$options.data.apply(this))
      }, 500)
    }
  },
  methods: {
    AgregarMarca(aa) {
      const marke = {
        lat: aa.latLng.lat(),
        lng: aa.latLng.lng()
      }
      this.$emit('change_mark', marke)
      // this.puntoMarcado = marke
    },
    setPlace(place) {
      console.log('place ', place)
      const marke = {
        lat: place.geometry.location.lat(),
        lng: place.geometry.location.lng()
      }
      this.$emit('set_place', place)
      this.$refs.myMapa.panTo(marke)
      // this.$refs.myMapa.panTo({ lat: 18.7446225, lng: -70.135966 })
    },
    customFilterTurnoVehiculo(item, queryText, itemText) {
      const textOne = String(item.alias).toLowerCase()
      const text2 = String(item.user.persona.nombres).toLowerCase()
      const text3 = String(item.user.persona.apellidos).toLowerCase()
      const text4 = String(item.placa).toLowerCase()
      const searchText = queryText.toLowerCase()
      return (
        textOne.indexOf(searchText) > -1 ||
        text2.indexOf(searchText) > -1 ||
        text3.indexOf(searchText) > -1 ||
        text4.indexOf(searchText) > -1
      )
    },
    customFilterEmergenciaTIpo(item, queryText, itemText) {
      const textOne = String(item.nombre).toLowerCase()
      const text2 = String(item.descripcion).toLowerCase()
      const searchText = queryText.toLowerCase()
      return textOne.indexOf(searchText) > -1 || text2.indexOf(searchText) > -1
    }
  }
}
</script>

<style scoped>
.vue-map-container {
  height: 450px;
  max-width: 992px;
  width: 100%;
}
</style>
