<template>
  <div class="text-xs-center">
    <v-dialog v-model="dialog" persistent width="800">
      <template v-slot:activator="{ on }">
        <v-btn
          v-if="
            id == 0 && tengoPermiso(PERMITIDOS['Productos'], PERMIS.PERM_CREAR)
          "
          color="red lighten-2"
          dark
          v-on="on"
        >
          {{ title }}
        </v-btn>
        <v-icon
          v-if="
            id != 0 &&
              tengoPermiso(PERMITIDOS['Productos'], PERMIS.PERM_ACTUALIZAR)
          "
          style="padding: 5px;"
          small
          class="mr-2"
          v-on="on"
          >edit</v-icon
        >
      </template>

      <v-card>
        <v-card-title class="headline" primary-title>
          {{ title }}
          <v-layout align-start justify-end row>
            <v-flex xs12 sm6 md5>
              <v-switch
                v-model="form.activo"
                label="Estado"
                color="red"
                :value="true"
              ></v-switch>
            </v-flex>
          </v-layout>
        </v-card-title>
        <form-producto-vehiculo
          :form="form"
          :show="dialog"
          :vehiculos="vehiculos"
          :productos="productos"
          :productos-seleccionados="productosSeleccionados"
          :vehiculo-seleccionado="vehiculoSeleccionado"
          @invalid="invalid"
          @agregarProducto="agregarProducto"
          @eliminarProducto="eliminarProducto"
        ></form-producto-vehiculo>
        <v-divider></v-divider>

        <v-card-actions>
          <v-btn color="red" flat @click="dialog = false">Cancelar</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" raise :disabled="formInvalid" @click="enviar()"
            >Guardar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="ok" top right :color="colorMsg">
      {{ error }}
      <v-btn dark flat @click="ok = false">Cerrar</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import {
  tengoPermiso,
  PERMITIDOS,
  PERMIS,
  CURRENT_USER
} from '~/services/GLOBAL'
import CRUDService from '~/services/CRUDService'
import formProductoVehiculo from '~/components/productos_vehiculos/formProductoVehiculo.vue'
export default {
  components: { formProductoVehiculo },
  props: {
    id: {
      type: Number,
      default: 0
    },
    title: {
      type: String,
      default: ''
    },
    crud: {
      type: CRUDService,
      default: () => new CRUDService()
    },
    vehiculos: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      PERMITIDOS,
      PERMIS,
      tengoPermiso,
      formInvalid: true,
      error: null,
      ok: false,
      colorMsg: '',
      dialog: false,
      productosSeleccionados: [],
      vehiculoSeleccionado: null,
      form: {
        producto: 0,
        vehiculo_id: null,
        cantidad: 0, // es la cantidad
        cant_minima: 0,
        activo: true
      },
      productos: []
    }
  },
  watch: {
    dialog(val) {
      val || this.close()
    }
  },
  created() {
    this.getAllProductos()
    CURRENT_USER.subscribe(() => {
      this.$forceUpdate()
    })
  },
  methods: {
    eliminarProducto(producto) {
      const index = this.productosSeleccionados.indexOf(producto)
      this.productosSeleccionados.splice(index, 1)
    },

    agregarProducto(producto) {
      if (producto) {
        this.productosSeleccionados.unshift(producto)
      } else {
        this.showError('Producto ya existe!!!', 'orange')
      }
    },
    getAllProductos() {
      this.crud.httpRailsHelper('productos', 'get').subscribe(
        res => {
          console.log('productos', res.data)
          this.productos = res.data
        },
        err => {
          console.log(err.response)
        }
      )
    },
    invalid(params) {
      let l = true
      if (params !== undefined) {
        l = params
      }
      this.formInvalid = l
      console.log('invalid=> params', params)
      return l
    },
    enviar() {
      const methodHttp = this.id === 0 ? 'post' : 'patch'
      // const cUri = this.id === 0 ? '' : `/${this.id}`

      const productoParaAsignar = {
        vehiculo_id: this.form.vehiculo_id.id,
        productos: [],
        activo: this.form.activo
      }
      for (let index = 0; index < this.productosSeleccionados.length; index++) {
        const productoaAsignar = this.productosSeleccionados[index]
        // console.log('productoaAsignar', productoaAsignar)
        // if(productoaAsignar.){
        productoParaAsignar.productos.push({
          id: productoaAsignar.producto_id,
          cant_minima: productoaAsignar.cant_minima,
          cantidad: productoaAsignar.cantidad
        })
      }
      this.crud
        .httpRailsHelper(`productos_vehiculos`, methodHttp, {
          producto_vehiculo: productoParaAsignar
        })
        .subscribe(
          res => {
            this.showError(
              `${res.msg ? res.msg : 'Productos asignados correctamente!!'}`,
              'green'
            )
            this.dialog = false
            this.$emit('recargar')
            // console.log('productos', res.data)
          },
          err =>
            this.showError(
              'Ocurrio un error al asignar los productos: ' +
                JSON.stringify(err)
            )
        )
    },
    showError(msg, color = 'orange') {
      this.error = msg
      this.ok = true
      this.colorMsg = color
    },
    close() {
      this.dialog = false
      setTimeout(() => {
        // setTimeout(() => {
        //   this.$v.$reset()
        // }, 0)
        Object.assign(this.$data, this.$options.data.apply(this))
      }, 500)
    }
  }
}
</script>

<style></style>
