<template>
  <span>
    <v-container fluid>
      <v-layout align-start justify-space-between row fill-height wrap>
        <v-flex xs12 sm12 md12>
          <v-autocomplete
            v-model="form.vehiculo_id"
            :items="vehiculos"
            :search-input.sync="searchVehiculos"
            color="white"
            hide-no-data
            hide-selected
            item-value="vehiculo.id"
            label="Vehiculos"
            placeholder="Toyota"
            prepend-icon="mdi-database-search"
            required
            :error-messages="vehiculoerrors"
            return-object
            :filter="customFilterVehiculo"
            @input="$v.form.vehiculo_id.$touch()"
            @blur="$v.form.vehiculo_id.$touch()"
            @change="tandasSeleccionadas = []"
          >
            <template slot="selection" slot-scope="data">
              <b>
                {{ data.item.marca }} {{ data.item.modelo }}
                {{ data.item.placa }}&nbsp;
              </b>
              <span>{{ data.item.alias }}</span>
            </template>
            <template slot="item" slot-scope="data">
              <b>
                {{ data.item.marca }} {{ data.item.modelo }}
                {{ data.item.placa }}&nbsp;
              </b>
              <span>{{ data.item.alias }}</span>
            </template>
          </v-autocomplete>
        </v-flex>
        <v-flex xs8 sm8 md8>
          <v-autocomplete
            v-model="productoSeleccionado"
            :items="productos"
            :search-input.sync="searchProductos"
            color="white"
            hide-no-data
            hide-selected
            item-value="producto.id"
            :filter="customFilter"
            label="Produtos"
            placeholder="Producto"
            prepend-icon="mdi-database-search"
            required
            return-object
          >
            <template slot="selection" slot-scope="data">
              <b>{{ data.item.nombre }} Desp.#{{ data.item.cantidad }}</b>
            </template>
            <template slot="item" slot-scope="data">
              <b>{{ data.item.nombre }} Desp.#{{ data.item.cantidad }}</b>
            </template>
          </v-autocomplete>
        </v-flex>
        <v-flex xs2 sm2 md2>
          <v-text-field
            v-model="cantidad"
            mask="#####"
            :disabled="productoSeleccionado == null"
            label="Cantidad"
            @keyup.native="onKeyUp($event)"
          ></v-text-field>
        </v-flex>
        <v-flex xs2 md2 lg2>
          <v-btn
            fab
            dark
            color="blue"
            :disabled="
              productoSeleccionado == null ||
                ((productoSeleccionado != null &&
                  productoSeleccionado.cantidad == 0) ||
                  (parseInt(cantidad, 10) == 0 || !cantidad))
            "
            @click="agregarProducto"
          >
            <v-icon dark>add</v-icon>
          </v-btn>
        </v-flex>

        <v-layout
          v-for="(item, i) in productosSeleccionados"
          :key="`${i}`"
          row
          justify-space-between
          fill-height
          wrap
          xs12
          md12
          lg12
        >
          <v-flex xs8 sm7 md7>
            <h1 style="margin-top: 10px;">
              <div class="text-xs-left">
                <v-chip>{{ item.producto.nombre }}</v-chip>
              </div>
            </h1>
          </v-flex>
          <v-flex xs2 sm2 md1>
            <v-text-field v-model="item.cant_minima" label="Min"></v-text-field>
          </v-flex>
          <v-flex xs2 sm2 md1>
            <v-text-field
              v-model="item.cantidad"
              label="Cant."
              @keyup.native="onKeyUpItemProduct($event, item)"
            ></v-text-field>
          </v-flex>
          <v-flex xs2 sm2 md1>
            <v-text-field
              v-model="item.cant_actual"
              label="Actual"
              :disabled="true"
            ></v-text-field>
          </v-flex>
          <v-flex xs1>
            <v-btn
              fab
              small
              dark
              color="red"
              @click="$emit('eliminarProducto', item)"
            >
              <v-icon dark>delete</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-layout>
    </v-container>
  </span>
</template>

<script>
import _ from 'lodash'
import { required, minLength } from 'vuelidate/lib/validators'
export default {
  props: {
    form: {
      type: Object,
      default: () => {}
    },
    vehiculos: {
      type: Array,
      default: () => []
    },
    productos: {
      type: Array,
      default: () => []
    },
    show: {
      type: Boolean,
      default: () => {
        return false
      }
    },
    productosSeleccionados: {
      type: Array,
      default: () => []
    },
    vehiculoSeleccionado: {
      type: Object,
      default: null
    },
    id: {
      type: Number,
      default: null
    }
  },
  data() {
    return {
      searchVehiculos: null,
      searchProductos: null,
      productoSeleccionado: null,
      cantidad: 0
      // productosSeleccionados: []
    }
  },
  validations: {
    form: {
      producto: 0,
      vehiculo_id: {
        required,
        minLength: minLength(1)
      }
    }
  },
  computed: {
    invalid() {
      this.$emit('invalid', this.$v.$invalid)
      return this.$v.$invalid
    },

    vehiculoerrors() {
      const errors = []
      if (!this.$v.form.vehiculo_id.$dirty) return errors
      !this.$v.form.vehiculo_id.minLength &&
        errors.push('Este campo debe tener mas caracteres')
      !this.$v.form.vehiculo_id.required &&
        errors.push('El campo es requerido.')
      return errors
    }
  },
  watch: {
    invalid(val) {
      // console.log('val', val)
      // val || this.close()
    },
    show(val) {
      // console.log('show ', val, this.$data)
      if (val) {
        return
      }
      setTimeout(() => {
        setTimeout(() => {
          this.$v.$reset()
        }, 0)
        Object.assign(this.$data, this.$options.data.apply(this))
      }, 500)
    },
    'form.vehiculo_id'() {
      // console.log('vehiculoSeleccionado ', this.form.vehiculo_id)
      if (this.form.vehiculo_id) {
        for (
          let index = 0;
          index < this.form.vehiculo_id.ProductosVehiculo.length;
          index++
        ) {
          const productoItem = this.form.vehiculo_id.ProductosVehiculo[index]
          const producto = {
            producto: productoItem.producto,
            producto_id: productoItem.producto.id,
            cantidad: this.cantidad,
            cant_actual: productoItem.cant_actual,
            cant_minima: productoItem.producto.cant_minima
          }
          this.$emit('agregarProducto', producto)
        }
      }
    }
  },
  methods: {
    customFilter(item, queryText, itemText) {
      const textOne = item.nombre.toLowerCase()
      const searchText = queryText.toLowerCase()
      return textOne.indexOf(searchText) > -1
    },
    customFilterVehiculo(item, queryText, itemText) {
      const textOne = String(item.marca).toLowerCase()
      const text2 = String(item.modelo).toLowerCase()
      const text3 = String(item.placa).toLowerCase()
      const searchText = queryText.toLowerCase()
      return (
        textOne.indexOf(searchText) > -1 ||
        text2.indexOf(searchText) > -1 ||
        text3.indexOf(searchText) > -1
      )
    },
    agregarProducto() {
      const producto = {
        producto: this.productoSeleccionado,
        producto_id: this.productoSeleccionado.id,
        cantidad: this.cantidad,
        cant_actual: 0,
        cant_minima: 1
      }
      const found = _.findIndex(this.productosSeleccionados, [
        'producto_id',
        this.productoSeleccionado.id
      ])
      // console.log('found ', found)
      if (found < 0) {
        this.$emit('agregarProducto', producto)
      } else {
        this.$emit('agregarProducto', false)
        return
      }
      this.cantidad = 0
      this.productoSeleccionado = null
    },
    onKeyUp(event) {
      if (!isNaN(event.key)) {
        const existencia = parseInt(this.productoSeleccionado.cantidad)
        if (isNaN(parseInt(this.cantidad))) {
          this.cantidad = '0'
        }
        if (parseInt(this.cantidad) <= existencia) {
          // this.cantidad = (parseInt(event.key)).toString()
        } else {
          this.cantidad = existencia
        }
      } else if (
        event.key === 'Enter' &&
        (this.productoSeleccionado != null &&
          this.productoSeleccionado.cantidad > 0 &&
          (parseInt(this.cantidad, 10) > 0 || !this.cantidad))
      ) {
        this.agregarProducto()
      }
    },
    onKeyUpItemProduct(event, producto) {
      if (!isNaN(event.key)) {
        const existencia = parseInt(producto.producto.cantidad)
        if (isNaN(parseInt(producto.cantidad))) {
          producto.cantidad = '0'
        }
        if (parseInt(producto.cantidad) <= existencia) {
          // this.cantidad = (parseInt(event.key)).toString()
        } else {
          producto.cantidad = existencia
        }
      }
    }
  }
}
</script>

<style></style>
